  .validation-container {
    display: grid;
    grid-auto-rows: minmax( 2em, auto );

    &.error-messages {
      grid-template-columns: 1fr 20fr;
    }

    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .justify-left {
        // flex-direction: column;
        align-items: flex-start;
    }
  }