
.plcy-dop-berries-field-container {
    max-width: 100%;
    min-height: 54px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}


.dop-berries-commodity-total {
    // background: #FEFAEC;
    background: #ECF0FE;
}