<base-wrapper [errorState]="errorState">
    <div class="base-container">
        <div class="base-container flex-y">

            <div class="policy-header-container">
                <div class="grower-header">
                    <div>Annual Grade Adjustments</div>
                    <div>Manage Grain Grade Modifiers</div>
                    <div class="top-filter" style="margin: 0;">
                        <select appWFSingleSelect appWFPlaceholder="Select Crop Year" aria-label="Crop Year"
                            [options]="uwYearOptions" (updated)="uwYearsChange($event)" [selected]="selectedCropYear">
                            <option value=""><span class="placeholder">Select Crop Year</span></option>
                            <option *ngFor="let option of uwYearOptions" value="{{option.cropYear}}">
                                <span>{{option.cropYear}}</span>
                            </option>
                        </select>
                        <select appWFSingleSelect appWFPlaceholder="Select Commodity" aria-label="Commodity"
                            [options]="cropCommodityOptions" (updated)="selectedCropCommodityIdChange($event)"
                            [selected]="selectedCropCommodityId">
                            <option value=""><span class="placeholder">Select Commodity</span></option>
                            <option *ngFor="let option of cropCommodityOptions" value="{{option.cropCommodityId}}">
                                <span>{{option.commodityName | titlecase}}</span>
                            </option>
                        </select>
                        <div class="vertical-line"></div>
                        <button *ngIf="securityUtilService.canEditGradeModifiers()" mat-raised-button class="secondary"
                            (click)="onAddGradeModifier()" class="ms-choice" style="width: 130px;">
                            <mat-icon class="button-mat-icon">add</mat-icon>Add New
                        </button>
                        <button
                            *ngIf="securityUtilService.canEditGradeModifiers() && gradeModifierList && gradeModifierList.collection && gradeModifierList.collection.length == 0"
                            mat-raised-button class="secondary" (click)="onRollover()" class="ms-choice"
                            style="width: 120px;">
                            <mat-icon class="button-mat-icon">refresh</mat-icon>Rollover
                        </button>
                        <button mat-raised-button class="secondary" (click)="onMaintainGradeModifierTypes()"
                            class="ms-choice" style="width: 280px;">
                            <mat-icon class="button-mat-icon">format_list_bulleted</mat-icon>{{ (
                            securityUtilService.canEditGradeModifiers()) ? "Maintain" : "View" }} Grade Modifier Types
                        </button>
                    </div>
                </div>

                <!-- unsaved messages -->
                <div *ngIf="hasDataChanged || isUnsaved; else noWarningDiv">
                    <mat-icon [ngStyle]="{'color':'orange', 'width':'24px', 'margin-top':'9px'}">warning</mat-icon>
                </div>
                <div *ngIf="hasDataChanged || isUnsaved; else noWarningDiv" class="unsaved-changes">
                    Unsaved Changes
                </div>
                <ng-template #noWarningDiv>
                    <div><!-- empty div to account for space when there is no warning --> </div>
                </ng-template>
                <div>
                    <button *ngIf="securityUtilService.canEditGradeModifiers()" mat-raised-button class="secondary"
                        [disabled]="!hasDataChanged && !isUnsaved" (click)="onCancel()">
                        Clear Changes
                    </button>
                </div>
                <div>
                    <button *ngIf="securityUtilService.canEditGradeModifiers()" mat-raised-button class="primary"
                        [disabled]="!hasDataChanged && !isUnsaved" (click)="onSave()">
                        Save
                    </button>
                </div>
            </div>

            <form [formGroup]="getViewModel().formGroup">

                <div class="plcy-inv-fld-tbl-outer-wrapper flex-y-grow">
                    <div class="plcy-inv-field-box" style="width:1254px;">
                        <div class="inventory-header border-left" style="width:386px;">Commodity</div>
                        <div class="inventory-header" style="width:386px;">Grade Modifier Type</div>
                        <div class="inventory-header" style="width:386px;">Grade Modifier Value</div>
                        <div class="inventory-header" style="width:96px;">Delete</div>
                    </div>

                    <div class="plcy-inv-fld-tbl-inner-wrapper flex-y-grow" style="width:1275px;">
                        <div class="plcy-inv-field-box"
                            *ngFor="let gradeModifier of getViewModel().formGroup.controls.gradeModifiers['controls']; index as rowIndex"
                            [formGroup]="gradeModifier">
                            <div *ngIf="!gradeModifier.value.deletedByUserInd == true"
                                class="inventory-cell inventory-border border-left" [ngStyle]="{'width': '386px'}">
                                <mat-form-field appearance="fill" class="inventory-fill"
                                    *ngIf="gradeModifier.value.addedByUserInd == true && !(getViewModel().formGroup.controls.selectedCropCommodityId.value && getViewModel().formGroup.controls.selectedCropCommodityId.value != '')"
                                    style="width: 100%;">
                                    <mat-select hideSingleSelectionIndicator="true" formControlName="cropCommodityId">
                                        <mat-option *ngFor="let option of cropCommodityOptions"
                                            [value]="option.cropCommodityId">{{
                                            option.commodityName | titlecase }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span
                                    *ngIf="gradeModifier.value.addedByUserInd == false || getViewModel().formGroup.controls.selectedCropCommodityId.value && getViewModel().formGroup.controls.selectedCropCommodityId.value != ''">
                                    {{ gradeModifier.value.commodityName | titlecase }}</span>
                            </div>
                            <div *ngIf="!gradeModifier.value.deletedByUserInd == true"
                                class="inventory-cell inventory-border" [ngStyle]="{'width': '386px'}">
                                <mat-form-field appearance="fill" class="inventory-fill" *ngIf="gradeModifier.value.addedByUserInd == true"
                                    style="width: 100%;">
                                    <mat-select hideSingleSelectionIndicator="true" formControlName="gradeModifierTypeCode">
                                        <mat-option *ngFor="let option of gradeModifierTypeOptions"
                                            [value]="option.gradeModifierTypeCode">{{ option.gradeModifierTypeCode
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span *ngIf="gradeModifier.value.addedByUserInd == false">{{
                                    gradeModifier.value.gradeModifierTypeCode }}</span>
                            </div>
                            <div *ngIf="!gradeModifier.value.deletedByUserInd == true"
                                class="inventory-cell inventory-border"
                                [ngStyle]="{'width': '386px', 'display': 'flex', 'justify-content': 'space-between'}">
                                <mat-form-field appearance="fill" class="inventory-fill">
                                    <input matInput formControlName="gradeModifierValue" maxlength="5"
                                        (keypress)="numberOnly($event)" (blur)="validateGradeModifierValue(rowIndex)">
                                </mat-form-field>
                                <mat-icon style="color: #888888;">edit</mat-icon>
                            </div>
                            <div *ngIf="!gradeModifier.value.deletedByUserInd == true"
                                class="inventory-cell inventory-border" [ngStyle]="{'width': '96px'}">
                                <mat-icon *ngIf="securityUtilService.canEditGradeModifiers()" class="delete-icon"
                                    matTooltip="Delete grade modifier"
                                    (click)="onDeleteGradeModifier(rowIndex)">delete_outlined</mat-icon>
                            </div>
                        </div>

                        <div *ngIf="!selectedCropYear && !selectedCropCommodityId"
                            style="grid-column-start: 1; grid-column-end: 4; padding-top: 14px; padding-bottom: 14px;">
                            Select a crop year and commodity to view grade adjustment details.
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</base-wrapper>