@import "../variables";

.unauthorized-page {
  //height: $wf1-app-main-panel-container-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family-main;

  padding: 50px 50px;
  padding-left: var(--cirras-underwriting-gutter-space);
  padding-right: var(--cirras-underwriting-gutter-space); //
}