<div [formGroup]="yieldFieldFormGroup" style="display: contents;">
    <div class="inventory-cell" style="width: 140px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout border-left-exclude-printout' : 'inventory-border'">
        {{ yieldFieldFormGroup.value.commodityTypeDescription | titlecase }}
    </div>
    <div class="inventory-cell" style="width: 180px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ yieldFieldFormGroup.value.cropVarietyName | titlecase }}
    </div>
    <div class="inventory-cell" style="width: 80px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ yieldFieldFormGroup.value.fieldAcres }}
    </div>
    <div style="width:100px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ yieldFieldFormGroup.value.seedingYear ? yieldFieldFormGroup.value.seedingYear : "" }}  
        {{ yieldFieldFormGroup.value.seedingDate ? (yieldFieldFormGroup.value.seedingDate | date) : "" }}
    </div>
    <div class="inventory-fill" style="width:80px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <mat-checkbox formControlName="isQuantityInsurableInd">
        </mat-checkbox>
    </div>
    <div style="width:140px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ getPlantInsurabilityDescription(yieldFieldFormGroup.value.plantInsurabilityTypeCode) }} 
    </div>
    <div class="planting-container" [ngStyle]="setCutStyles()"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <forage-dop-yield-field-cut-list [yieldField]="yieldField" [yieldFieldCuts]="yieldField.dopYieldFieldForageCuts"
            [yieldFieldCutsFormArray]="yieldFieldFormGroup.value.dopYieldFieldForageCuts"
            style="display: contents;"></forage-dop-yield-field-cut-list>
    </div>
    <div style="width:80px;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <mat-icon matTooltip="Hide on printout"
            svgIcon="{{ yieldField.isHiddenOnPrintoutInd ? 'visibility_off' : 'visibility' }}"></mat-icon>
    </div>
    <div class="border-bottom border-right" style="width: 80px; align-items: center;"
        [ngClass]="!fieldHiddenOnPrintoutInd && yieldField.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout border-right-exclude-printout' : 'inventory-border'">
        <mat-icon *ngIf="securityUtilService.canEditDop()" (click)="clearCut()"
            style="margin-left: 4px; margin-right: 4px;" matTooltip="Clear Field Values" svgIcon="cancel"></mat-icon>
    </div>
</div>