<div class="base-container bg-color-lightblue">
    <div class="base-container flex-y"> 

        <div class="policy-header-container">
            <div class="grower-header">
                {{ ( (growerContract && growerContract.growerName) ? growerContract.growerName : "" ) | titlecase}} 
                ({{ ((inventoryContract && inventoryContract.insurancePlanName) ? inventoryContract.insurancePlanName : "" ) | titlecase }})
                {{ (growerContract && growerContract.policyNumber) ? growerContract.policyNumber : "" }}   
            </div>
            <!-- unsaved messages -->
            <div *ngIf="isUnsaved; else noWarningDiv">
                <mat-icon [ngStyle]="{'color':'orange', 'width':'24px'}">warning</mat-icon>
            </div>
            <div *ngIf="isUnsaved; else noWarningDiv" class="unsaved-changes">
                Unsaved Changes 
            </div>
            <ng-template #noWarningDiv>
                <div><!-- empty div to account for space when there is no warning --> </div>
            </ng-template>
            <div>
                <!-- related policies -->
            </div>
            <div></div>
            <div matTooltip="Changes must be saved before download is possible.">
                <!-- <button mat-raised-button class="secondary button-large-text" [disabled]="isUnsaved == true"
                (click)="onPrint()">
                    <mat-icon class="button-mat-icon">download</mat-icon>Download
                </button> -->
            </div>
            <div>
                <button 
                    *ngIf="securityUtilService.canEditInventory() && !hasYieldData" 
                    mat-raised-button 
                    class="primary button-large-text" 
                    [disabled]="!isUnsaved && inventoryContract?.inventoryContractGuid" 
                    (click)="onSave()">
                        Save
                </button>
            </div>
        </div>
        
    <cirras-grower-contract-header
    [growerContract]="growerContract"
    ></cirras-grower-contract-header>  

    <!-- The policy has yield message -->
    <!-- TODO -->
    <!-- <div *ngIf="hasYieldData == true" class="message-container">
        
        <div class="has-yield-warning">
            <mat-icon>warning</mat-icon>            
            <span class="warning-message">
                Inventory edits are not permitted when a policy has DOP data.  
                If you need to update the inventory, delete the DOP data first.</span> 
        </div>
    </div> -->
    
    <form [formGroup]="getViewModel().formGroup" (keydown.enter)="$event.preventDefault()">

        <div class="plcy-inv-form-header" [ngStyle]="setFormSeededStyles()">
            <div>
                <h2>Berries Inventory</h2>
                <p>Last Updated: {{ ((inventoryContract && inventoryContract.invUpdateTimestamp) ? inventoryContract.invUpdateTimestamp : "" ) | date }}</p>
            </div>
            <div class="plcy-frm-hdr-dropdown" matTooltip="Commodity">
                <!-- Commodities: -->
                <mat-form-field appearance="outline" style="width: 150px;">
                    <mat-select formControlName="defaultCommodity" hideSingleSelectionIndicator="true" 
                        (selectionChange)="commoditySelectionChanged()">
                        <mat-option *ngFor="let option of cropCommodityOptions" [value]="option.cropCommodityId"
                        >{{ option.commodityName | titlecase }}</mat-option>
                    </mat-select>
                    </mat-form-field>
            </div>
            <div><!-- empty div --></div>
            <div>
                <!-- <button *ngIf="securityUtilService.canEditInventory() && !hasYieldData" mat-raised-button class="secondary header-button"  (click)="onAddNewField()">
                    <mat-icon class="button-mat-icon">add</mat-icon>Add Field
                </button> -->
            </div>
            <div>
                <button *ngIf="!hasYieldData" 
                    mat-raised-button 
                    class="secondary header-button"  
                    matTooltip="Clear unsaved changes"
                    (click)="onCancel()">
                    Clear Changes
                </button>
            </div>
            <div class="vertical-line"></div>
            <div>
                <button *ngIf="securityUtilService.canDeleteInventory() && 
                                inventoryContract && inventoryContract.inventoryContractGuid &&
                                hasYieldData == false"  
                    mat-raised-button 
                    class="secondary header-button-red"  
                    (click)="onDeleteInventory()">
                    <mat-icon class="button-mat-icon">delete_outlined</mat-icon>Reset Inventory
                </button>
            </div>
        </div>


        <div class="plcy-inv-fld-tbl-outer-wrapper flex-y-grow">

            <berries-inventory-field-list
                *ngIf="(defaultCommodity == BERRY_COMMODITY.Blueberry || defaultCommodity == BERRY_COMMODITY.Raspberry) && inventoryContract && inventoryContract.fields"
                [fields]="inventoryContract.fields"
                [fieldsFormArray]="getViewModel().formGroup.controls.fields"
                [cropVarietyOptions]="cropVarietyOptions"
                [defaultCommodity]="defaultCommodity">
            </berries-inventory-field-list>

            <p *ngIf="defaultCommodity == BERRY_COMMODITY.Cranberry || defaultCommodity == BERRY_COMMODITY.Strawberry" >Not implemented yet!</p>

        </div>

        <!-- totals -->
        <div *ngIf="inventoryContract && inventoryContract.inventoryContractCommodityBerries && inventoryContract.inventoryContractCommodityBerries.length > 0"
            class="plcy-inv-cntrct" style="grid-template-columns: 400px 400px;">
            
            <div *ngIf="isUnsaved" class="message-container">
                <div class="has-yield-warning">
                    <mat-icon>warning</mat-icon>            
                    <span class="warning-message">
                        All Totals are calculated on save.</span> 
                </div>
            </div>
            <div *ngIf="isUnsaved"></div>
            
            <div>
                <berries-inventory-commodity-totals 
                    *ngIf="inventoryContract && inventoryContract.inventoryContractCommodityBerries.length > 0 && 
                        inventoryContract.inventoryContractCommodityBerries[0].cropCommodityId == defaultCommodity"
                    [type_total]="'acres'"
                    [inventoryContractCommodityBerries]="inventoryContract.inventoryContractCommodityBerries[0]" >
                </berries-inventory-commodity-totals>
            </div>
            <div>
                <berries-inventory-commodity-totals 
                    *ngIf="defaultCommodity == BERRY_COMMODITY.Blueberry && 
                        inventoryContract && inventoryContract.inventoryContractCommodityBerries.length > 0 && 
                        inventoryContract.inventoryContractCommodityBerries[0].cropCommodityId == defaultCommodity"
                    [type_total]="'plants'"
                    [inventoryContractCommodityBerries]="inventoryContract.inventoryContractCommodityBerries[0]" >
                </berries-inventory-commodity-totals>
            </div>
        </div>

       

    </form>
</div>
</div>

