<base-wrapper [errorState]="errorState">
    <div class="base-container">
        <div class="base-container flex-y">

            <div class="policy-header-container">
                <div class="grower-header">
                    <div>Yield Conversions</div>
                    <div class="top-filter" style="margin: 12px 0 0 0;">
                        <select appWFSingleSelect appWFPlaceholder="Select Plan" aria-label="Plan"
                            [options]="insurancePlansDefault" (updated)="onPlanChange($event)"
                            [selected]="selectedInsurancePlanId">
                            <option value=""><span class="placeholder">Select Plan</span></option>
                            <option *ngFor="let option of insurancePlansDefault" value="{{option.code}}">
                                <span>{{option.description}}</span>
                            </option>
                        </select>
                        <select appWFSingleSelect appWFPlaceholder="Select Conversion" aria-label="Conversion"
                            [options]="yieldMeasUnitOptions" (updated)="onUnitChange($event)"
                            [selected]="selectedUnits">
                            <option value=""><span class="placeholder">Select Conversion</span></option>
                            <option *ngFor="let option of yieldMeasUnitOptions"
                                value="{{option.yieldMeasUnitTypeCode}}">
                                <span>{{ defaultUnitForPlan }} to {{ option.description }}</span>
                            </option>
                        </select>
                        <button mat-raised-button class="secondary" (click)="onViewYieldUnits()" class="ms-choice"
                            style="width: 132px;">
                            <mat-icon class="button-mat-icon">format_list_bulleted</mat-icon>Plan Units
                        </button>
                    </div>
                </div>


                <!-- unsaved messages -->
                <div *ngIf="hasDataChanged; else noWarningDiv">
                    <mat-icon [ngStyle]="{'color':'orange', 'width':'24px', 'margin-top':'9px'}">warning</mat-icon>
                </div>
                <div *ngIf="hasDataChanged; else noWarningDiv" class="unsaved-changes">
                    Unsaved Changes
                </div>
                <ng-template #noWarningDiv>
                    <div><!-- empty div to account for space when there is no warning --> </div>
                </ng-template>
                <div>
                    <button *ngIf="securityUtilService.canEditYieldConversion()" mat-raised-button class="secondary"
                        [disabled]="!hasDataChanged" (click)="onCancel()">
                        Clear Changes
                    </button>
                </div>
                <div>
                    <button *ngIf="securityUtilService.canEditYieldConversion()" mat-raised-button class="primary"
                        [disabled]="!hasDataChanged" (click)="onSave()">
                        Save
                    </button>
                </div>
            </div>

            <div style="margin: 16px 16px 12px 16px;">
                <ng-container *ngIf="!selectedInsurancePlanId || !selectedUnits; else selectedDiv">
                    <span style="display: flex;">
                        <mat-icon class="button-mat-icon" style="color: #888888;">straighten</mat-icon>
                        Set filters to view base unit details
                    </span>
                    <span style="display: flex;">
                        <mat-icon class="button-mat-icon" style="color: #888888;">autorenew</mat-icon>
                        Set filters to view conversion details
                    </span>
                </ng-container>
                <ng-template #selectedDiv>
                    <span style="display: flex;">
                        <mat-icon class="button-mat-icon" style="color: #888888;">straighten</mat-icon>
                        The base unit for the {{ getSelectedPlanName() }} plan is <span
                            style="font-weight:bold;">&nbsp;{{ defaultUnitForPlan }}</span>.
                    </span>
                    <span style="display: flex;">
                        <mat-icon class="button-mat-icon" style="color: #888888;">autorenew</mat-icon>
                        Use conversion factors to convert the {{ getSelectedPlanName() }} commodities from <span
                            style="font-weight:bold;">&nbsp;{{ defaultUnitForPlan }}&nbsp;</span> to <span
                            style="font-weight:bold;">&nbsp;{{ getSelectedConversionName() }}</span>.
                    </span>
                </ng-template>
            </div>

            <form [formGroup]="getViewModel().formGroup">

                <div class="plcy-inv-fld-tbl-outer-wrapper flex-y-grow">
                    <div class="plcy-inv-field-box" style="width:1000px;">
                        <div class="inventory-header border-left" style="width:300px;">Commodity</div>
                        <div class="inventory-header" style="width:280px;">Conversion Factor</div>
                    </div>

                    <div class="plcy-inv-fld-tbl-inner-wrapper flex-y-grow" style="width:1021px;">
                        <div class="plcy-inv-field-box"
                            *ngFor="let unitConversion of getViewModel().formGroup.controls.yieldMeasUnitConversionList['controls']; index as rowIndex"
                            [formGroup]="unitConversion">
                            <div class="inventory-cell inventory-border border-left" [ngStyle]="{'width': '300px'}">
                                {{ unitConversion.value.commodityName | titlecase }}
                            </div>
                            <div class="inventory-fill inventory-cell inventory-border"
                                [ngStyle]="{'width': '280px', 'display': 'flex', 'justify-content': 'space-between'}">
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="conversionFactor" maxlength="10"
                                        (keypress)="numberOnly($event)" (keyup)="isMyFormDirty()">
                                </mat-form-field>
                                <mat-icon style="color: #888888;">edit</mat-icon>
                            </div>
                        </div>

                        <div *ngIf="!selectedInsurancePlanId || !selectedUnits"
                            style="grid-column-start: 1; grid-column-end: 2; padding-top: 14px; padding-bottom: 14px;">
                            Select plan and conversion unit to view yield conversion details.
                        </div>
                    </div>
                </div>

            </form>
            <br />
        </div>
    </div>
</base-wrapper>