##############################################################
#
# List of approvers/reviewers for this repository
#
##############################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in the repo.
* @dpitk2222 @vivid-esnauffer @vivid-cpreston @mhostett @hwang-vividsolutions