.vscode
**/.git.bak
compose.yaml
local-config
cirras-underwriting-api/cirras-underwriting-api-rest-endpoints/src/test/resources/static.properties
cirras-underwriting-api/cirras-underwriting-persistence/src/test/resources/static.properties
cirras-underwriting-war/cirras-underwriting-war/src/main/angular/package-lock.json
cirras-underwriting-ngclient-lib/cirras-underwriting-ngclient-lib/src/main/angular/package-lock.json
package-lock.json
