[submodule "cirras-underwriting-api"]
	path = cirras-underwriting-api
	url = https://bwa.nrs.gov.bc.ca/int/stash/scm/CIRRAS/cirras-underwriting-api.git

[submodule "cirras-underwriting-db"]
	path = cirras-underwriting-db
	url = https://bwa.nrs.gov.bc.ca/int/stash/scm/CIRRAS/cirras-underwriting-db.git

[submodule "cirras-underwriting-listener-api"]
	path = cirras-underwriting-listener-api
	url = https://bwa.nrs.gov.bc.ca/int/stash/scm/CIRRAS/cirras-underwriting-listener-api.git

[submodule "cirras-underwriting-ngclient-lib"]
	path = cirras-underwriting-ngclient-lib
	url = https://bwa.nrs.gov.bc.ca/int/stash/scm/CIRRAS/cirras-underwriting-ngclient-lib.git

[submodule "cirras-underwriting-reports-jrs"]
	path = cirras-underwriting-reports-jrs
	url = https://bwa.nrs.gov.bc.ca/int/stash/scm/CIRRAS/cirras-underwriting-reports-jrs.git

[submodule "cirras-underwriting-war"]
	path = cirras-underwriting-war
	url = https://bwa.nrs.gov.bc.ca/int/stash/scm/CIRRAS/cirras-underwriting-war.git