@import '../variables';

.mat-mdc-radio-button.mat-accent {

  --mdc-radio-selected-focus-icon-color: $colour-blue;
  --mdc-radio-selected-hover-icon-color: $colour-blue;
  --mdc-radio-selected-icon-color: $colour-blue;
  --mdc-radio-selected-pressed-icon-color: $colour-blue;
  --mat-mdc-radio-checked-ripple-color: $colour-blue;

  .mdc-form-field {
      .mdc-radio {
          .mdc-radio__native-control:enabled + .mdc-radio__background {
              .mdc-radio__outer-circle {
                  background-color: white;
              }
              .mdc-radio__inner-circle {
              }
          }
      }
  }
}


.plcy-grain-sdd-inv {

    .mat-mdc-radio-button{
      margin: 0;

      .mdc-radio {
        padding: 0; 
      }
    }

    &.inv-radio-group {
      display: flex;
      flex-direction: row;
      margin: 0;
      align-items: flex-start;
    }
    
    &.inv-radio-button {
      margin: 0 5px;
    }
  }
