


<div class="dialog-form" 
     cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary=".cdk-overlay-container"
     (ngSubmit)="onUpdateComments()" >

     <div class="dialog-drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <!-- <g transform="translate(0 -5)"> -->
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <!-- <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 4v3H7l5 5 5-5h-3v-3z"></path>  -->
            <path d="M0 0h24v24H0z" fill="none"></path>
        <!-- </g> -->
        </svg>
    </div>


    <form [formGroup]="uwCommentForm">

    <div class="row-group-left">
        <h3 [ngSwitch]="uwCommentType">
            <label *ngSwitchCase="'INV'">Inventory Comments</label>
            <label *ngSwitchCase="'DOP'">DOP Comments</label>
            <label *ngSwitchDefault>Comments</label>
        </h3>
        <div class="comments-container comments-info" >   

            <div class="border-right header justify-center border-top border-bottom border-left">Date Created</div>
            <div class="border-right header justify-center border-top border-bottom">Date Updated</div>
            <div class="border-right header justify-center border-top border-bottom">Updated By</div>
            <div class="border-right header justify-center border-top border-bottom">Comments</div>
            <div class="border-right header justify-center border-top border-bottom">Action</div> 

            <!-- *ngFor ... -->
            <div 
                *ngFor="let comment of uwCommentForm.controls.comments['controls']; index as commentIndex"   
                [formGroup]="comment"       
                style="display:contents">
                         
                <div *ngIf="comment.value.deletedByUserInd != true" class="border-right justify-center border-bottom border-left">
                    {{ ((comment && comment.value.createDate ) ? comment.value.createDate : '') | date:'yyyy-MM-dd' }}
                </div>
                <div *ngIf="comment.value.deletedByUserInd != true" class="border-right justify-center border-bottom">
                    {{ ((comment && comment.value.updateDate ) ? comment.value.updateDate : '') | date:'yyyy-MM-dd'  }}
                </div>
                <div *ngIf="comment.value.deletedByUserInd != true" class="border-right justify-center border-bottom">
                    {{ (comment && comment.value.updateUser ) ? comment.value.updateUser : ''  }}
                </div>

                <div *ngIf="comment.value.deletedByUserInd != true" class="border-right border-bottom entire">
                    <mat-form-field appearance="fill" *ngIf="comment.value.userCanEditInd == true" >
                        <textarea matInput formControlName="underwritingComment" rows="4" cols="100" maxlength="2000"
                            (blur)="onCommentChange(commentIndex)"
                        >
                            {{ comment.value.underwritingComment }}
                        </textarea>
                    </mat-form-field>
                    <label *ngIf="comment.value.userCanEditInd == false" class="readonly-comment">{{ comment.value.underwritingComment }}</label>
                </div>
                <div *ngIf="comment.value.deletedByUserInd != true" class="border-right  justify-center border-bottom">
                    <mat-icon *ngIf="comment.value.userCanDeleteInd == true" [ngStyle]="{'color':'red'}" matTooltip="Delete Comment" (click)="onDeleteComment(comment)">close</mat-icon>
                </div>
            </div>

        </div>
    </div>

    </form>

    <div class="form-row dialog-controls">
        <button *ngIf="securityUtilService.canEditInventory()" mat-raised-button color="primary" (click)="onAddNewComment()" class="button-large-text">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">add_box</mat-icon>Add New Comment
        </button>
        &nbsp;
        <button *ngIf="securityUtilService.canEditInventory()" mat-raised-button color="primary" (click)="onCancelChanges()" class="button-large-text">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">cancel_presentation</mat-icon>Cancel
        </button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="onUpdateComments()" class="button-large-text" >
            <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Close
        </button>
    </div>
    <p style="margin-left: 20px;">* In order to save the comments please click Close then click Save on the main screen</p>
    
</div>
