//@import '../../node_modules/@angular/material/theming';
@import 'variables';

body {
  margin: 0;
}

.material-icons {
  font-feature-settings: 'liga';
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
mat-dialog-container.mat-mdc-dialog-container {
  font-family: $font-family-main;
  font-size: $font-size;
}

button.mat-mdc-fab.mat-primary,
button.mat-mdc-raised-button.mat-primary {
  background-color: $colour-button-primary;
  color: $colour-white;

  &:not([disabled]).intermediate-action{
    background-color: $colour-intermediate-action;

    &[disabled]{

    }
  }
}

button.mat-mdc-fab.mat-secondary,
button.mat-mdc-raised-button.mat-secondary {
  background-color: $colour-white;
  color: $colour-blue;
}

button.mat-mdc-fab:not([disabled]).mat-primary:hover,
button.mat-mdc-raised-button:not([disabled]).mat-primary:hover {
  background-color: $colour-button-primary-hover;
}
button.mat-mdc-fab,
button.mat-mdc-raised-button {
  background-color: $colour-button;
  color: $colour-white;
  font-family: $font-family-main;
  font-size: $font-size;
  box-shadow: none !important;
  border: 1px solid $colour-blue;

  // &:not([class*=mat-elevation-z]) {
  //   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  //   0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  //   0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  // }
}

button.mat-mdc-raised-button[disabled]{
  border: 1px solid $colour-medium-grey;
}

button.mat-mdc-raised-button:not([disabled]):hover {
  background-color: $colour-button-hover;
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-fab,
.mat-mdc-mini-fab
.mat-mdc-menu-item,
.mat-mdc-table,
.mat-mdc-list-item {
  font-family: $font-family-main;
  font-size: $font-size;
}

.mat-mdc-table {
  thead {
    font-family: $font-family-emphasis;
  }
}

#core-interface-container {
  display: flex;
  flex-direction: column;

  .mat-mdc-button,
  .mat-mdc-raised-button,
  .mat-mdc-icon-button,
  .mat-mdc-outlined-button,
  .mat-mdc-unelevated-button,
  .mat-mdc-fab,
  .mat-mdc-mini-fab
  .mat-mdc-menu-item,
  .mat-mdc-table,
  .mat-mdc-list-item {
    font-family: $font-family-main;
    font-size: $font-size;
  }

  .justify-space-between{
    justify-content: space-between;
  }

  .flex-x {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  mat-toolbar.wf1-public-application-header {
    flex: 0 0 auto;
  }

  mat-sidenav-container {
    flex: 1 1 auto;
    overflow: unset;

    .mat-drawer-backdrop {
      position: fixed !important;
    }

    mat-sidenav {
      overflow-x: hidden;
      background-color: $colour-sidenav-background;
      position: fixed;
      border: none;
      z-index: 3;
      top: $wf1-public-app-header-height;
      width: 180px;


      .mat-nav-list {
        .mat-mdc-list-item{
          color: $opacity-dark-grey;

          .color-sidenav-icon {
            color: $opacity-dark-grey;
          }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
        .mat-list-item-content {
          fa-icon {
            width: 24px;
          }

          .navLabel {
            padding-left: 8px; // var(--cirras-underwriting-gutter-space);
            padding-right: 8px; // var(--cirras-underwriting-gutter-space);
            width: 100%;
          }
        }
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
      .mat-list-item-disabled{
        color: $colour-disabled-text;

        .color-sidenav-icon{
          color: $colour-disabled-text;
        }
      }

      }
    }


    mat-sidenav-content {
      position: relative;
      overflow: unset;
      background-color: white;
      top: $wf1-public-app-header-height;

      #side-nav-toggle {
        width: var(--cirras-underwriting-gutter-space);
        height: 40px;
        background: #ff0000;
        color: #ffffff;
        position: absolute;
        top: var(--cirras-underwriting-gutter-space);
        left: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        z-index: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        mat-icon {
          font-size: 18px;
          line-height: 18px;
          height: 18px;
          width: 12px;
        }


      }
    }
  }
}

cirras-underwriting-list-container mat-list.mat-mdc-list {
  padding-top: 0;
}

cirras-underwriting-list-container cirras-underwriting-spinner {
  height: calc(var(--vh, 1vh) * 75);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
mat-list-option.list-item,
mat-list-item.list-item {
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
  .mat-list-item-content {
    align-items: center;
    padding: 0 !important;
  }
}


.cdk-overlay-pane {
  max-width: 100% !important;
}


.cdk-overlay-pane .mat-mdc-dialog-container {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.mat-mdc-tooltip {
  font-size: $font-size;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.5 !important;
  }

  &.pdf-viewer-panel {

  }
}

pdf-viewer-overlay {
  overflow-y: scroll;
  height: calc(var(--vh, 1vh) * 80);
  width: calc(var(--vw, 1vw) * 85);
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: auto;
}

h1 {
  font-size: $font-size-h1;
  padding-left: var(--cirras-underwriting-gutter-space);
  display: inline-block;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 200;
  margin-block-end: 0;
  margin-block-start: 0;
  display: inline;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-emphasis;
}

h1,
h2{
  font-weight: $font-weight;
}

a {
  color: #027DB4;

  &.icon-button{
    color: $colour-black;
    text-decoration:none;
    &:hover{
      color: $colour-black;
    }
  }
}

a:hover {
  color: $colour-orange
}

#core-interface-container mat-sidenav .mat-nav-list.mat-mdc-list-base {

  a.mat-mdc-list-item:hover {
    color: $colour-orange
  }

  a.mat-mdc-list-item.nav-item-active {
    font-family: $font-family-emphasis;
    font-weight: 600;
    color: $colour-blue;
  }
}

#core-interface-container .ngx-pagination {
  text-align: center;
  padding-inline-start: 0;
  border-radius: $wf1-border-radius;
  margin: 0;

  li:first-child {
    border-left: none;
    border-top: none;
    border-bottom: none;
  }

  li:last-child {
    border-top: none;
    border-bottom: none;
  }

  li {
    border-left: $colour-light-grey solid 1px;
    border-top: $colour-light-grey solid 1px;
    border-bottom: $colour-light-grey solid 1px;
    border-right: none;
    vertical-align: middle;
    margin: 0;
    height: 35px;
    padding: 0;

    a {
      padding: 0;
      line-height: 35px;
    }

    span {
      padding: 0 15px;
      line-height: 35px;
    }

  }

  li.current {
    //background-color: $colour-blue;

    color: #003366;
    font-weight: bold;
    background: white;
    border: 2px solid $colour-blue;
    border-radius: 2px;
  }

  li.disabled span {
    display: none;
  }

  a:hover,
  button:hover {
    color: #131313;
    background-color: $colour-light-orange;
  }

  .pagination-next a::after,
  .pagination-next.disabled::after,
  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    font-family: 'Material Icons';
    vertical-align: middle;
    display: inline;
    font-size: 25px;
    margin: 0;
    line-height: 40px;
    padding: 0 10px;
  }

  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    content: 'arrow_back';
  }

  .pagination-next a::after,
  .pagination-next.disabled::after {
    content: 'arrow_forward';
  }

}


.red {
  color: #C10000 !important;
}

.orange {
  color: #FF8900 !important;
}

.green {
  color: #70B603 !important;
}

.blue {
  color: #027DB4 !important;
}

.black {
  color: #1A1A1A !important;
}

.emphasis {
  font-family: $font-family-emphasis !important;
  font-weight: $font-weight-emphasis !important;
}

.emphasis-more{
  font-family: $font-family-emphasis !important;
  font-weight: $font-weight-emphasis-more !important;
}

.loading-spinner {
  //  display: inline-block;
  padding-left: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.wordwrap {
  white-space: pre-wrap !important; /* CSS3 */
  white-space: -moz-pre-wrap !important;; /* Firefox */
  word-wrap: break-word !important;; /* IE */
}

.field-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 100%;
}

.field-cell {
  flex: 0 0 50%;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.field-label {
  text-align: right;
  font-weight: $font-weight;

}

.field-note {
  font-weight: normal;
  font-size: $font-size-small !important;
}

.field-value {
  text-align: left;
  font-weight: $font-weight-emphasis-more;

  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2px;
}

.wrap {
  white-space: normal;

}

.multiline-tooltip {
  white-space: pre-line;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox.mat-mdc-checkbox {
  font-family: $font-family-main;
  border: none !important;
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-frame {
    border-width: 1px;
    border-color: $colour-dark-grey;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  &.mat-checkbox-disabled {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-frame {
      border-color: #b0b0b0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-label {
      color: unset;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent;
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-checkmark-path {
      stroke: $colour-dark-grey !important;
      stroke-width: 4px;
    }
  }
}

.mat-mdc-footer-row th {
  font-weight: $font-weight;
}

.mat-mdc-snack-bar-container {
  word-break: break-word;
}

.mat-icon[disabled]{
  color: $colour-disabled-text;
}

.mat-mdc-cell[disabled]{
  mat-icon{
    color: $opacity-grey;
  }
}

.icon-button{
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  line-height: 20px;

  &:first-of-type{
    padding-left: 0;
  }

  &:last-of-type{
    padding-right: 0;
  }
}
.mat-mdc-radio-button:not(.mat-radio-disabled).mat-accent .mat-radio-inner-circle,
.mat-radio-button:not(.mat-radio-disabled).mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button:not(.mat-radio-disabled).mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button:not(.mat-radio-disabled).mat-accent:active .mat-radio-persistent-ripple{
  background-color: $colour-blue;
}
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
.mat-mdc-radio-button:not(.mat-radio-disabled).mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $colour-blue;
}

.mat-mdc-tab-group{
  margin-top: var(--cirras-underwriting-gutter-space);
  font-family: $font-family-main;
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  mat-tab-body{
    font-family: $font-family-main;
    border-bottom: 1px solid $colour-light-grey;
    border-left: 1px solid $colour-light-grey;
    border-right: 1px solid $colour-light-grey;
    border-radius: 0 0 $wf1-border-radius $wf1-border-radius ;

    .tab-top-header{
      display: flex;
      justify-content: flex-end;
      padding: 5px;
    }

    .mat-mdc-card:not(.error-panel){
      padding: 0;
      border-radius: 0;
      box-shadow: none;

      &:not(:last-child){
        border-bottom: 1px solid $colour-light-grey;
      }
    }

    .mat-action-row.space-between{
      justify-content: space-between !important;

      button:first-of-type{
        margin-left: 0;
      }
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-labels{
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    .mat-tab-label {
      //border: 1px solid transparent;
      border-top-left-radius: $wf1-border-radius;
      border-top-right-radius: $wf1-border-radius;
      font-size: $font-size-emphasis;
      font-family: $font-family-main;
      opacity: 1;
      border-width: 1px;
      border-style: solid;
      border-color: $colour-light-grey $colour-light-grey #fff;
      border-bottom: 0;
      background-color: $colour-inactive-tab;

      .header{
        display: flex;
        .mat-icon{
          margin-left: var(--cirras-underwriting-gutter-space);
          margin-right: calc(-1 * var(--cirras-underwriting-gutter-space));
          line-height: 22px;
        }
      }

    }
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
    .mat-tab-label-active {
      font-family: $font-family-main;
      font-weight: $font-weight-emphasis;
      background-color: $colour-active-tab;
    }
  }

  &.mat-primary .mat-ink-bar {
    background-color: $colour-blue;
    //display: none;
  }

}


#core-interface-container {
  font-family: $font-family-main;

  .mat-mdc-paginator-container {
    justify-content: center;
    font-size: $font-size;
  }

  .table-wrapper{

    .mat-mdc-table {
      .mat-column-remove,
      .mat-column-addRemove,
      .mat-column-viewEdit,
      .mat-column-view {
        text-align: center;
        width: 60px;
      }


      td,th{
        .mat-sort-header-button{
          text-align: left;
        }

        &.center-align{
          text-align: center;
          justify-content: center;
        }

        &.border-right{
          border-right: 1px solid $colour-light-grey;
          &.border-right-strong{
            border-right: 2px solid $colour-light-grey;
          }
        }

        &.border-top{
          border-top: 1px solid $colour-light-grey;
          &.border-top-strong{
            border-top: 2px solid $colour-light-grey;
          }
        }

        &.border-bottom{
          border-bottom: 1px solid $colour-light-grey;
          &.border-bottom-strong{
            border-bottom: 2px solid $colour-light-grey;
          }
        }

        &.border-left{
          border-left: 1px solid $colour-light-grey;
          &.border-left-strong{
            border-left: 2px solid $colour-light-grey;
          }
        }

      }
    }
  }

}

.owl-dt-popup-container {
  font-family: $font-family-main;
}


.float-right {
  float: right;
}
.contacts-spinner-mobile {
  margin: var(--cirras-underwriting-gutter-space);
}
.float-over-right{
  margin: var(--cirras-underwriting-gutter-space);
  position: absolute;
  right: 0;
  z-index: 100;
}
.cdk-overlay-container,
cirras-underwriting-root {
  .mat-mdc-button,
  .mat-mdc-raised-button,
  .mat-mdc-icon-button,
  .mat-mdc-outlined-button,
  .mat-mdc-unelevated-button,
  .mat-mdc-fab,
  .mat-mdc-mini-fab,
  .mat-mdc-menu-item,
  .mat-mdc-table,
  .mat-mdc-list-item {
    font-family: $font-family-main;
    font-size: $font-size;
  }

  button.mat-mdc-menu-item {
    height: 30px;
    line-height: 30px;
  }
  .search-result-card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
      max-width: calc(100% - 60px);
      overflow-x: hidden;
      text-overflow: ellipsis;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }

  .summary-card{
    margin: var(--cirras-underwriting-gutter-space);

    .form-flex-wrapper{
      padding-top: 0;

      .form-flex{

        .field{
          &.info-field{
            margin-bottom: var(--cirras-underwriting-gutter-space);
          }
        }
      }

    }
  }

  .mat-accordion {
    &>cirras-underwriting-base-expansion-panel .mat-expansion-panel-spacing:last-child,
    &>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
      margin-bottom: var(--cirras-underwriting-gutter-space) !important;
    }

    mat-expansion-panel:not(.mat-expanded),
    mat-expansion-panel.mat-expansion-panel-spacing {
      margin: var(--cirras-underwriting-gutter-space) var(--cirras-underwriting-gutter-space);

      .mat-expansion-panel-header {
        padding-left: var(--cirras-underwriting-gutter-space);
        padding-right: var(--cirras-underwriting-gutter-space);
        height: unset !important;
        min-height: 50px !important;
        border-bottom: 1px solid $colour-light-grey;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-family: $font-family-main;

        .expansion-header{
          align-items: center;
          padding: 5px 0;
        }

        mat-panel-description{
          flex-grow: unset;
          margin-right: 5px;
          margin-left: -5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &[aria-disabled=true]{
          color: unset;
        }

        h1{
          padding: 0;
          margin: 0;
        }

      }

      .mat-expansion-panel-content{
        font-family: $font-family-main;
        .mat-expansion-panel-body{
          padding: 0;
        }
      }

      .cirras-underwriting-expansion-panel-body {
        padding: 0 var(--cirras-underwriting-gutter-space) var(--cirras-underwriting-gutter-space);
        font-size: $font-size;
        font-family: $font-family-main;

        .expansion-header-sub{
          display: flex;
          justify-content: flex-end;

          h3{
            margin-bottom: 0;
          }
        }

        .table-wrapper{
          margin: var(--cirras-underwriting-gutter-space) 0;
          width: 100%;
        }

        .summary-card{
          margin: var(--cirras-underwriting-gutter-space) 0 0 0;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
        mat-card.mat-mdc-card.cirras-underwriting-header-bar {
          padding: 0;
        }

        mat-expansion-panel.mat-expansion-panel-spacing{
          margin: var(--cirras-underwriting-gutter-space) 0 0 0;
        }

        .card-wrapper{
          margin: 0;
        }
      }

      .mat-mdc-tab-body{
        .table-wrapper{
          margin: var(--cirras-underwriting-gutter-space);
          width: calc(100% - 2*var(--cirras-underwriting-gutter-space));
        }
      }

      .mat-action-row {
        border-bottom: 1px solid $colour-lighter-grey;
        padding: var(--cirras-underwriting-gutter-space);
        background-color: $colour-lighter-grey;
      }


    }

    .mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
      margin-bottom: var(--cirras-underwriting-gutter-space);
    }

  }

  .contact-info div.form-flex-wrapper{
    padding-left: var(--cirras-underwriting-gutter-space);
    padding-right: var(--cirras-underwriting-gutter-space);
  }

  .form-flex-wrapper{
    font-family: $font-family-main;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--cirras-underwriting-gutter-space));

    &.hide-labels{
      .form-flex .field {
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        .mat-mdc-form-field .mat-form-field-infix {
          padding-top: 0;
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          .mat-form-field-label-wrapper{
            display: none;
          }
        }

      }

      .form-flex .field>mat-label{
        display: none;
      }

    }

    &.half-width{
      width: 50%;
    }

    .form-flex-thirds {
      //padding-top: 10px;
      display: flex;
      flex-flow: row nowrap;
      flex-basis: 100%;
      flex-grow: 1;

      .field {
        flex-basis: calc(33% - #{var(--cirras-underwriting-gutter-space)});
        margin-left: var(--cirras-underwriting-gutter-space);
      }
    }

    .form-flex {
      display: flex;
      flex-flow: row nowrap;
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      overflow: hidden;

      &.flex-wrap{
        flex-flow: wrap;

        &.flex-20 .field{
          flex-basis: calc(20% - var(--cirras-underwriting-gutter-space));
        }
      }

      &.form-flex-thirds {
        flex-basis: 100%;
        max-width: 100%;

        .field {
          flex-basis: calc(33.3333% - #{var(--cirras-underwriting-gutter-space)});
          margin-left: var(--cirras-underwriting-gutter-space);
        }
      }

      &.flex-basis-full{
        flex-basis: 100%;
        flex-flow: wrap;
        max-width: 100%;
        .field-full{
          flex-basis: 100%;
        }
      }

      .field {
        flex-basis: calc(50% - #{var(--cirras-underwriting-gutter-space)});
        margin-left: var(--cirras-underwriting-gutter-space);

        &.no-underline{
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          .mat-form-field-underline{
            display: none;
          }
        }

        &.info-field{
          max-width: calc(50% - var(--cirras-underwriting-gutter-space));
          margin-bottom: calc(2 * var(--cirras-underwriting-gutter-space));

          &>.label{

          }

          &>.value{
            margin-top: 5px;
            text-overflow: ellipsis;
            overflow-x: hidden;
            font-weight: $font-weight-emphasis-more;
            white-space: nowrap;
            display: block;
          }
        }


        &.flex-1{
          flex:1;
          flex-basis: 40%;
        }

        &.flex-2{
          flex:2;
          flex-basis: 100%;
        }

        &.selector,
        &.action{
          flex-basis: 50px;
          flex-shrink: 0;
          display: flex;

          .mat-mdc-form-field{
            //.mat-form-field-flex{
            //  padding-top: 0;
            //}
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
            .mat-form-field-infix{
              display: flex;
              justify-content: center;

              input{
                width: 0;
              }
              /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
              .mat-radio-container{
                margin-left: 3px;
              }
            }
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
            .mat-form-field-label {
              text-align: center;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
            .mat-form-field-underline{
              display: none;
            }
          }

        }

        &.action{
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          .mat-form-field-infix button {
            margin-top: -2px;
          }
        }

        .mat-mdc-form-field{
          width: 100%;
          font-family: $font-family-main;

          .date-picker-input {
            display: flex;
            min-width: 0;

            button {
              min-width: 0;
            }

            .mat-mdc-button {
              line-height: 0px;
              margin-top: -5px;
            }

            .mat-icon {
              margin-top: -5px;
              font-size: 1.5rem;
            }
          }
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          &.mat-form-field-invalid .mat-form-field-label {
            color: $colour-errors;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          .mat-form-field-flex, .mat-form-field-infix{
            width: 100%;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          .mat-form-field-infix{
            padding-top: 1em;
          }

          //.mat-form-field-label{
          //  font-size: 18px;
          //}

          .label{
            &.required:after{
              color: $colour-errors;
              content: " *";
            }
          }
        }

        .mat-mdc-form-field.readonly {
          cursor: not-allowed;

          [readonly="true"]{
            color: $colour-disabled-text;
            cursor: not-allowed;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
          mat-radio-button .mat-radio-label{
            cursor: not-allowed;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          &.mat-form-field-appearance-standard .mat-form-field-underline {
            background-position: 0;
            background-color: transparent;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
            background-size: 4px 100%;
            background-repeat: repeat-x;
            color: $colour-black;
            /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
            .mat-form-field-ripple{
              background-color: transparent;
            }
          }
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          &.mat-form-field-type-mat-native-select.mat-form-field-invalid .mat-form-field-infix::after{
            color: rgba(0, 0, 0, 0.54);
          }
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          &.mat-form-field-invalid .mat-form-field-label{
            color: $colour-black;
          }

          mat-error{
            display: none;
          }
        }

        mat-error {
          font-size: $font-size-small;
          text-align: left;
          position: relative;
          color: $colour-errors;
        }

      }
    }
  }

  .mat-accordion mat-expansion-panel.mat-expansion-panel-spacing .cirras-underwriting-expansion-panel-body .expansion-panel-table-with-actions{
    .table-wrapper{
      margin-top: 0;
      border-top: none;
    }
  }

  .expansion-panel-actions{
    &.table-search-header{
      border-top: 1px solid $colour-light-grey;
      border-bottom: 1px solid $colour-light-grey;
      margin: var(--cirras-underwriting-gutter-space) 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      >button{
        margin: 6px;
      }

      .availability-nav.search-and-filters{
        display: flex;
        align-items: flex-end;
        >*{
          margin: 6px;
          display: inline-block;
          width: auto !important;
        }

        .label{
          font-weight: $font-weight-emphasis;
        }

        .date-picker-input {
          display: flex;
          min-width: 0;

          input{
            background-color: $colour-white;
          }

          button {
            min-width: 0;
          }

          .mat-mdc-button {
            line-height: 0px;
            margin-top: 4px;
            margin-left: -45px;
          }

          .mat-icon {
            margin-top: -5px;
            font-size: 1.5rem;
          }
        }

      }

    }

  }



  .table-wrapper.availability-grid {
    border-top: none;
    border-bottom: none;

    .highlight{
      background-color: $colour-highlight;
    }

    .highlight2{
      background-color: $colour-highlight2;
    }

    .highlight3{
      background-color: $colour-highlight3;
    }

    .highlight4{
      background-color: $colour-highlight4;
    }

    .mat-mdc-cell.selected-grid-item{
      background-color: $colour-blue;
      color: $colour-white;
    }

    .mat-mdc-table{
      tr{
        border-right: 1px solid $colour-light-grey;
      }
      .mat-mdc-row:hover {
        background-color: $colour-white;
      }
      .mat-mdc-row:nth-child(odd){
        background-color: $colour-white;
      }

      th{
        &.day,
        &.availability-status-cell{
          border-top: 1px solid $colour-light-grey;

        }

        .week-header{
          display: flex;
          justify-content: space-between;
          >*{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

        }
      }
      td,th{
        max-width: unset;

        &.mat-mdc-cell{
          .mat-icon{
            padding-right: 10px;
          }
          span:not(.mat-badge-content){
            width: unset !important;
          }
        }
        &.day{
          //width: 60px;
          min-width: 60px;
          //max-width: 60px;
        }

        &.border-bottom-none{
          border-bottom: none;
        }

        .left-align{
          justify-content: flex-start;
        }

        .right-align{
          justify-content: flex-end;
        }
        .nav-action{
          color: $colour-blue;
          cursor: pointer;
        }
      }

      td{
        &.day{
          white-space: normal !important;
          &:hover{
            background-color: $colour-highlight4;
          }

          .mat-mdc-menu-trigger{
            cursor: pointer;
          }
        }

      }

      .availability-status-cell{
        border-left: 1px solid $colour-light-grey;
        div.availability-status{
          display: flex;
          padding-right: 30px;

          .mat-badge-content{
            right: 0;
            top: -2px;
          }
        }
      }

    }
  }

}

.cdk-overlay-container .mat-mdc-dialog-content{

  .form-flex{
    flex-direction: column;
    display: flex;

    .field{
      display: flex;
      flex-flow: row nowrap;
      flex-direction: column;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
      .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
      .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
        border-width: 1px;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-infix {
        border-top: none;
        padding-bottom: 0.5em;
        padding-top: 1em;
      }

      .label{
        white-space: nowrap;
        padding-right: var(--cirras-underwriting-gutter-space);
        padding-top: calc(1em - 1px);
        flex: 0 0 30%;
        //text-align: right;

        &.required:after{
          color: red;
          content: " *";
        }
      }
    }
  }

}


.owl-dt-popup-container{
  font-family: $font-family-main
}

.mat-expansion-panel-content,
button,
.mat-mdc-card{
  font-family: $font-family-main;
  font-size: $font-size;
}


.mat-action-row{
  align-items: center;

  .action-button-wrapper{
    display: flex;
  }
}

.selection-summary .action-row-warning {
  margin-right: 30px;
}

.action-row-warning{
  display: flex;
  align-items: center;
  margin-right: 10px;
  .mat-icon{
    color: $colour-warnings;
    margin-right: 10px;
  }
}

input{
  text-overflow: ellipsis;
}
.mat-action-row{
  &.justify-end{
    justify-content: flex-end;
  }

  &.justify-start{
    justify-content: flex-start;
  }

}

.margin-gutter{
  margin: var(--cirras-underwriting-gutter-space);
}

.all-caps{
  text-transform: uppercase;
}

.background-lighter-grey{
  background-color: $colour-lighter-grey;
}

textarea.mat-mdc-input-element.cdk-textarea-autosize{
  height: 15px;
  overflow: hidden;
}

.select-read-only-cursor {
  cursor: not-allowed;
  pointer-events: none;
}

mat-error.mat-mdc-form-field-error {
  color: $colour-errors;
}

.align-flex-start{
  align-items: flex-start !important;
}
.align-center{
  align-items: center !important;
}

.max-height-300{
  max-height: 300px;
}

.table-search-header .search-and-filters .field.filter-checkbox-group{
  flex-basis: 220px !important;

  .checkbox-group{
    display: flex;
    height: 37.5px;

    .mat-mdc-checkbox{
      padding-left: 0;
      margin-right: 8px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-inner-container{
      height: 24px;
      width: 24px;
    }
  }
}

.intermediate-action{
  color: $colour-intermediate-action;

  &.mat-mdc-fab.mat-primary span,
  &.mat-mdc-raised-button.mat-primary span{
    color: $colour-white;
  }
}

.margin-left-gutter{
  margin-left: var(--cirras-underwriting-gutter-space);
}

.margin-bottom-gutter{
  margin-bottom: var(--cirras-underwriting-gutter-space);
}

.margin-top-gutter{
  margin-top: var(--cirras-underwriting-gutter-space);
}

.columns{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  flex-basis: 100%;

  .col{
    flex-basis: 50%;

    .form-flex{
      max-width: unset;
    }

    .info-card{
      margin: var(--cirras-underwriting-gutter-space);
      text-align: center;
      height: calc(100% - 4 * var(--cirras-underwriting-gutter-space));
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: none;
      border: solid 1px $colour-light-grey;
      border-radius: $wf1-border-radius;
    }
  }
}

.italic{
  font-style: italic;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: $font-family-main;
  font-size: $font-size;
  color: #6a6a6a;
  opacity: 1; /* Firefox */
  padding-left: 2px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: $font-family-main;
  font-size: $font-size;
  color: #6a6a6a;
  padding-left: 2px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: $font-family-main;
  font-size: $font-size;
  color: #6a6a6a;
  padding-left: 2px;
}


//new css

.policy-header-container {
  display: grid;
  grid-auto-rows: minmax( 2em, auto );
  grid-template-columns:  auto 28px 140px 180px 12px 170px 80px;
  margin: 16px 16px 12px 16px;
  align-items: center;

  .grower-header {
    font-weight: 500; 
    font-size: 23px; 
  }

  .vertical-line {
    margin-top: 2px;
    border-left: 2px solid #ccc;
    height: 26px;
  }

  .unsaved-changes {
    color: orange;
    font-size: 14px; 
  }
}
