<div [formGroup]="uwCommentFormGroup" style="display: contents;">
    <div class="border-right border-bottom border-left">
        <label class="readonly-comment">
            {{ uwCommentFormGroup.value.createDate | date:'yyyy-MM-dd' }}
        </label>
    </div>
    <div class="border-right border-bottom">
        <label class="readonly-comment">
            {{ uwCommentFormGroup.value.updateDate | date:'yyyy-MM-dd' }}
        </label>
    </div>
    <div class="border-right border-bottom">
        <label class="readonly-comment">
            {{ uwCommentFormGroup.value.updateUser }}
        </label>
    </div>
    <div class="border-right border-bottom">
        <mat-form-field appearance="none" *ngIf="uwCommentFormGroup.value.userCanEditInd; else readOnlyComment">
            <textarea matInput formControlName="underwritingComment" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" maxlength="2000" (blur)="onCommentChange()"
                [style.background-color]="validComment ? 'transparent' : 'yellow'">
                {{ uwCommentFormGroup.value.underwritingComment }}
            </textarea>
        </mat-form-field>
        <ng-template #readOnlyComment>
            <span>{{ uwCommentFormGroup.value.underwritingComment }}</span>
        </ng-template>
    </div>
    <div class="border-right justify-center align-center border-bottom">
        <button mat-icon-button *ngIf="uwComment.userCanDeleteInd" matTooltip="Delete Comment"
            (click)="onDeleteComment()">
            <mat-icon class="delete-icon">delete_outline</mat-icon>
        </button>
    </div>
</div>