<base-wrapper [errorState]="errorState"> 
    <div class="cirras-underwriting-base-container page-width-container desktop">
        <div class="cirras-underwriting-base personnel flex-y">
            <div class="cirras-underwriting-header-bar flex-y-fixed">
                <div class="unauthorized-page">
                  <h1>Insufficient Permissions (403)</h1>
                  <h3 style="color:red;">You do not have permission to access this site.</h3>
                  <h3>You may attempt to login again using different credentials by navigating back to the login screen using the Home button in the margin menu.</h3>
                  <h3>If you still can't get in and strongly believe that you should have access no matter what this judgemental system thinks, please contact the BIU.</h3>
                </div>
            </div>
        </div>
    </div>
</base-wrapper>