<div class="plcy-inv-cmdty-totals-header"
    style="grid-template-columns: 140px 140px 25px 500px; padding-left: 10px;">

    <div class="table-header border-top border-left border-right" style="text-align: left; padding-left: 6px; padding-top: 8px; grid-column-start: 1; grid-column-end: 5; background-color: #F5F5FF;">
        Basket Coverage
    </div>

    <div class="header border-top border-bottom border-right  border-left">
        Basket Value
    </div>
    <div class=" header border-top border-bottom">
        Harvested Value
    </div>
    <div class="border-right header border-top border-bottom">
        <!-- warning sign-->
    </div>

    <div class="header border-top border-bottom border-right">
        Comments
    </div>

    <div class="verified-yield-summaries-container"
        style="grid-template-columns: 140px 140px 25px 500px; margin-left: 0px;">
        <verified-yield-grain-basket *ngFor="let grainBasket of grainBaskets" 
            [grainBasket]="grainBasket"
            [grainBasketsFormArray]="grainBasketsFormArray"
            style="display: contents;"></verified-yield-grain-basket>
    </div>

</div>
