<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d] [%-5p] [%F:%L] %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
   	<logger name="ca.bc.gov.mal.cirras">
		<level value="DEBUG" />
	</logger>
	
	<logger name="ca.bc.gov.nrs.common">
		<level value="DEBUG" />
	</logger>
	
	<logger name="ca.bc.gov.nrs.generic">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.eclipse">
		<level value="ERROR" />
	</logger>
	
	<logger name="com.mybatis">
		<level value="DEBUG" />
	</logger>
	
    <Root level="DEBUG">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>