
<div [formGroup]="plantingFormGroup">  
    <div [ngStyle]="setWidth()"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-bottom' : ( planting.isHiddenOnPrintoutInd ? 'inventory-border-exclude-printout border-left-exclude-printout' :  'inventory-border-bottom' )">
        <berries-inventory-inventory-berry *ngIf="plantingHasCommodity() && planting.inventoryBerries.deletedByUserInd !== true"
            [inventoryBerry]="planting.inventoryBerries" 
            [cropVarietyOptions]="cropVarietyOptions"
            [selectedCommodity]="selectedCommodity"
            [numPlantingsToSave]="numPlantingsToSave"
            (recalcNumPlantings)="onNumPlantingsChanged()"
            ></berries-inventory-inventory-berry>  
    </div>
   
</div>