<cuws-base-dialog [titleLabel]="titleLabel" [type]="dialogType" class="error-dialog">
    <div mat-dialog-content class="no-scroll">
        <div>{{message}}</div>
        <mat-radio-group *ngIf="type == ERROR_TYPE_OBJ.FAILED_PRECONDITION" [(ngModel)]="selectedAction">
            <mat-radio-button value="refresh">Refresh and lose current updates</mat-radio-button><br/>
            <mat-radio-button value="overwrite">Overwrite with current updates</mat-radio-button>
        </mat-radio-group>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button color="secondary" *ngIf="type == ERROR_TYPE_OBJ.FAILED_PRECONDITION" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="type == ERROR_TYPE_OBJ.FAILED_PRECONDITION && !selectedAction" (click)="ok()">OK</button>
    </div>
</cuws-base-dialog>
