<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="file"
      fileName="/usr/local/tomcat/logs/cirras-underwriting-api.log"
      filePattern="/usr/local/tomcat/logs/cirras-underwriting-api.%d.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
        <!-- The log message pattern -->
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %X{requestId} %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="${env:LOG_LEVEL}">
      <AppenderRef ref="file"/>
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>