<div [formGroup]="amendmentFormGroup" style="display: contents;">
    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="inventory-fill border-right border-bottom border-left" style="padding-left: 6px;">
       
        <mat-form-field appearance="fill">
            <mat-select hideSingleSelectionIndicator="true"
                formControlName="verifiedYieldAmendmentCode"
                (selectionChange)="updateAmendmentCode($event)" >
                <mat-option *ngFor="let option of amendmentOptions" [value]="option.code"
                >{{ option.description | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="inventory-fill border-right border-bottom center">

        <mat-form-field appearance="fill" style="width: 100%;">
            <input 
                type="text" 
                matInput 
                formControlName="fieldCtrl" 
                [matAutocomplete]="autoFieldId"
                (focus)="fieldFocus()"
                (keyup)="searchField($event.target.value)">
            <mat-autocomplete #autoFieldId="matAutocomplete" hideSingleSelectionIndicator="true"
                [displayWith]="displayFieldsFn"
                (optionSelected)="updateField()">
            <mat-option *ngFor="let option of filteredFieldOptions" [value]="option">
                {{ option.fieldLabel }}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Editable field">edit</mat-icon>

    </div>
    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="inventory-fill border-right border-bottom center">
        <mat-form-field appearance="fill">
            <input 
                type="text" 
                matInput 
                formControlName="cropCommodityCtrl" 
                [matAutocomplete]="autoCropCommodityId"
                (focus)="commoditiesFocus()"
                (keyup)="searchCommodity($event.target.value)">
            <mat-autocomplete #autoCropCommodityId="matAutocomplete" hideSingleSelectionIndicator="true"
                [displayWith]="displayCommoditiesFn"
                (optionSelected)="updateCommodity()">
            <mat-option *ngFor="let option of filteredCropCommodityOptions" [value]="option">
                {{ option.cropCommodityName | titlecase }}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Editable field">edit</mat-icon>
    </div>

    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="yieldPerAcre" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateYieldPerAcre()" />
        </mat-form-field>
        <mat-icon style="padding-right: 10px; font-size: 18px; margin-top: 6px;"
            matTooltip="Editable field">edit</mat-icon>
    </div>

    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="acres" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateAcres()" />
        </mat-form-field>
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;"
            matTooltip="Editable field">edit</mat-icon>
    </div> 
    
    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="border-right border-bottom center">
        <mat-form-field appearance="fill"  style="width: 100%;" class="inventory-fill">
            <textarea matInput formControlName="rationale" 
                cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
                maxlength="200" (blur)="updateRationale()" style="overflow-y:scroll;">
                {{ amendmentFormGroup.value.rationale }}
            </textarea>
        </mat-form-field>
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;"
            matTooltip="Editable field">edit</mat-icon>
    </div>

    <div *ngIf="amendmentFormGroup.value.deletedByUserInd != true" class="readonly border-right border-bottom center">
        <mat-icon *ngIf="securityUtilService.canEditVerifiedYield()"
            matTooltip="Delete amendment." 
            style="margin-left: 4px; margin-right: 4px;"
            (click)="onDeleteAmendment()"
            svgIcon="cancel"></mat-icon>
    </div>

</div>
