<div [formGroup]="amendmentFormGroup" style="display: contents;">
    <div class="inventory-fill border-right border-bottom border-left" style="padding-left: 6px;">
       
        <mat-form-field appearance="fill">
            <mat-select hideSingleSelectionIndicator="true"
                formControlName="verifiedYieldAmendmentCode" >
                <mat-option *ngFor="let option of amendmentOptions" [value]="option.code"
                >{{ option.description | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="inventory-fill border-right border-bottom center">

        <mat-form-field appearance="fill">
            <input 
                type="text" 
                matInput 
                formControlName="fieldId" 
                [matAutocomplete]="autoFieldId">
            <mat-autocomplete #autoFieldId="matAutocomplete">
            <mat-option *ngFor="let option of fieldOptions" [value]="option">
                {{ option.varietyName | titlecase }}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Editable field">edit</mat-icon>

    </div>
    <div class="inventory-fill border-right border-bottom center">
        <mat-form-field appearance="fill">
            <input 
                type="text" 
                matInput 
                formControlName="cropCommodityId" 
                [matAutocomplete]="autoCropCommodityId">
            <mat-autocomplete #autoCropCommodityId="matAutocomplete">
            <mat-option *ngFor="let option of cropCommodityOptions" [value]="option">
                {{ option.commodityName | titlecase }}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Editable field">edit</mat-icon>
    </div>

    <div class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="yieldPerAcre" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateYieldPerAcre()" />
        </mat-form-field>
        <mat-icon style="padding-right: 10px; font-size: 18px; margin-top: 6px;"
            matTooltip="Editable field">edit</mat-icon>
    </div>

    <div class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="acres" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateAcres()" />
        </mat-form-field>
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;"
            matTooltip="Editable field">edit</mat-icon>
    </div> 
    
    <div class="readonly border-right border-bottom center">
        <!-- rationale -->
    </div>

    <div class="readonly border-right border-bottom center">
        <mat-icon *ngIf="securityUtilService.canEditVerifiedYield()"
            matTooltip="Clear editable fields for amendment." 
            style="margin-left: 4px; margin-right: 4px;"
            (click)="onDeleteAmendment()"
            svgIcon="cancel"></mat-icon>
    </div>

</div>
