<div class="header-bar flex-y-fixed" >
    <div class="row-group">
      <div class="row-logo" >
        <span class="col-left" >
          <span class="printout-title">Production Insurance</span><br/>
          <span class="printout-subtitle">BC Ministry of Agriculture and Food</span>
        </span>
        <span class="col-right" style="margin-top: 0px; padding-top: 0px;">  
            <img class="logo-image" src="assets/images/logo/CAP-logo-lockup-rgb-pos.png" alt="CAP Logo">
        </span>
      </div>
    </div>      
  </div>

