<div class="plcy-inv-field-box" [formGroup]="fieldFormGroup" style="width:1520px;">
    
    <div class="inventory-cell inventory-border border-left" style="width: 115px;">
        {{ fieldFormGroup.value.fieldId }}
    </div>
    
    <div class="inventory-fill inventory-border" style="width: 280px;">
         <mat-form-field appearance="fill" style="width: 260px;">
            <input matInput type="text"
                    formControlName="fieldLocation"
                    maxlength="128"
                    (blur)="updateFieldLocation()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Field address is writeable">edit</mat-icon>
    </div>

    <div class="inventory-cell inventory-border" style="width: 140px;">
        {{ fieldFormGroup.value.primaryPropertyIdentifier }}
    </div>

    <div class="inventory-fill inventory-border" style="width: 80px;">
        <mat-checkbox formControlName="isLeasedInd" (change)="updateIsLeasedInd()"></mat-checkbox>
    </div>

    <!-- plantings -->
    <div class="planting-container" [ngStyle]="setPlantingStyles()">
        <berries-inventory-planting 
            *ngFor="let planting of field.plantings"
            [planting]="planting"
            [plantingFormArray]="fieldFormGroup.value.plantings" 
            [cropVarietyOptions]="cropVarietyOptions"
            [defaultCommodity]="defaultCommodity"
            [numPlantingsToSave]="numPlantingsToSave"
            (recalcNumPlantings)="onRecalcNumPlantings()"
            style="display: contents;"></berries-inventory-planting>
    </div>

    <div class="inventory-cell inventory-border" style="width: 75px;">
        <mat-icon 
            [ngStyle]="{'color': ( (securityUtilService.canEditInventory()) ? '#666666' : '#C2C2C2') }" 
            matTooltip="Add New Planting" 
            (click)="onAddPlanting()">
            add
        </mat-icon>

        <uw-comments-button
            [underwritingCommentTypeCode]="'INV'"
            [annualFieldDetailId]="field.annualFieldDetailId"
            [fieldId]="field.fieldId"
            [fieldName]="field.fieldLabel"
            [legalLocation]="field.otherLegalDescription"
            [uwComments]="field.uwComments"
            (onDone)="onInventoryCommentsDone($event)"></uw-comments-button>
        <!-- TODO: Remove Field button -->
    </div>
</div>
