<div *ngIf="fieldHasCommodity()" class="plcy-inv-field-box" [formGroup]="fieldFormGroup"  [ngStyle]="setTableHeaderStyle()">
    
    <div class="inventory-cell border-left" style="width: 115px;"
        [ngClass]=" isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout border-left-exclude-printout' : 'inventory-border'">
        {{ fieldFormGroup.value.fieldId }}
    </div>
    
    <div class="inventory-fill" style="width: 280px;"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <mat-form-field appearance="fill" style="width: 260px;">
            <input matInput type="text"
                    formControlName="fieldLocation"
                    maxlength="128"
                    (blur)="updateFieldLocation()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Field address is writeable">edit</mat-icon>
    </div>

    <div class="inventory-cell" style="width: 140px;"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ fieldFormGroup.value.primaryPropertyIdentifier }}
    </div>

    <div class="inventory-fill" style="width: 80px;"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <mat-checkbox formControlName="isLeasedInd" (change)="updateIsLeasedInd()"></mat-checkbox>
    </div>

    <!-- cranberry specific -->
    <div *ngIf="isCranberry()" class="inventory-fill" style="width: 100px;"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <mat-form-field appearance="fill" style="width: 100px;">
            <input matInput type="text"
                    formControlName="bogId"
                    maxlength="10"
                    (blur)="updateBogId()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Field address is writeable">edit</mat-icon>
    </div>

    <div *ngIf="isCranberry()" class="inventory-fill" style="width: 150px;"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <mat-form-field appearance="fill" style="width: 150px;">
            <input matInput type="text"
                    formControlName="fieldLabel"
                    maxlength="28"
                    (blur)="updateFieldLabel()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Field address is writeable">edit</mat-icon>
    </div>
    <!-- end cranberry specific -->
     
    <!-- plantings -->
    <div class="planting-container" [ngStyle]="setPlantingStyles()"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <berries-inventory-planting 
            *ngFor="let planting of field.plantings"
            [planting]="planting"
            [plantingFormArray]="fieldFormGroup.value.plantings" 
            [cropVarietyOptions]="cropVarietyOptions"
            [selectedCommodity]="selectedCommodity"
            [numPlantingsToSave]="numPlantingsToSave"
            [isFieldHiddenOnPrintout]="isFieldHiddenOnPrintout"
            (recalcNumPlantings)="onRecalcNumPlantings()"
            (hidePlantingOnPrintout)="setIsFieldHiddenOnPrintout()"
            style="display: contents;"></berries-inventory-planting>
    </div>

    <div class="inventory-cell" style="width: 75px;"
        [ngClass]="isFieldHiddenOnPrintout ? 'inventory-border-exclude-printout  border-right-exclude-printout' : 'inventory-border'" >
        <mat-icon 
            [ngStyle]="{'color': ( (securityUtilService.canEditInventory()) ? '#666666' : '#C2C2C2') }" 
            matTooltip="Add New Planting" 
            (click)="onAddPlanting()">
            add
        </mat-icon>

        <uw-comments-button
            [underwritingCommentTypeCode]="'INV'"
            [annualFieldDetailId]="field.annualFieldDetailId"
            [fieldId]="field.fieldId"
            [fieldName]="field.fieldLabel"
            [legalLocation]="field.otherLegalDescription"
            [uwComments]="field.uwComments"
            (onDone)="onInventoryCommentsDone($event)"></uw-comments-button>
        <!-- TODO: Remove Field button -->
    </div>
</div>
