@import '../../../../styles/variables';

  .button-mat-icon {
    margin-right: 4px;
  }

.grower-header {

  div:nth-child(n+2) {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 16px;
  }
}

.top-filter {
  display: grid;
  grid-template-columns: 174px 146px 300px 420px;

  button {
    color: #424242;
    border: 1px solid #c2c2c2;

    .button-mat-icon {
      color: #888888;
      margin-bottom: 4px;
    }
  }

  ::ng-deep .mat-internal-form-field>label {
    padding-left: 0px !important; 
  }

  ::ng-deep .mat-mdc-radio-button .mat-internal-form-field {
    color: $colour-dark-grey !important;
  }
}

::ng-deep .ms-choice {
  height: 37.5px;
  line-height: 37.5px;
  width: 80px;
  border: 1px solid $colour-light-grey;
  padding: 0 5px;
  border-radius: 5px;
  font-family: $font-family-main;
  font-size: $font-size;
  color: inherit;

  span.placeholder{
    color: #6a6a6a;
  }

  > div.icon-caret{
    position: absolute;
    width: 0;
    height: 0;
    top: 50% !important;
    right: 8px;
    margin-top: -5px;
    border-width: 5px 4px 0 4px;

    &.open{
      border-width: 0 6px 9px 6px;
    }
  }
}

.change-radio-group{
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
}

.policy-header-container {
  grid-template-columns: auto 28px 145px 155px 80px;
  align-items: flex-start;

  .unsaved-changes {
    color: inherit;
    font-size: inherit;
    margin-top: 9px;
  }
}

.plcy-inv-field-box {

  .inventory-header:not(:last-child) {
    padding: 14px 8px 14px 8px;
    color: black;
    justify-content: left;
  }

  .inventory-header:last-child {
    color: black;
  }

  .inventory-cell:not(:last-child) {
    padding: 0 8px 0 8px;
    justify-content: left;
    line-height: 24px;
  }

  ::ng-deep div {
    padding-bottom: 0;
    padding-top: 0;
  }

}

.plcy-inv-fld-tbl-outer-wrapper {
  max-height: none;

  .plcy-inv-fld-tbl-inner-wrapper {
    .plcy-inv-field-box:nth-of-type(odd) {
      .inventory-cell {
        background-color: #f7f7f7;
      }
    }
  }
}
