@import '../../../../styles/variables';

.uw-year-row-group{
  padding: 30px 10px 0px 10px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .cuw-container {
      display: grid;
      grid-auto-rows: minmax( 2em, auto );

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

      &.cuw-grower-info {
        grid-template-columns: 80px 230px auto;
    }

    }
}

.cuw-row-group {
    //padding: 30px 10px 10px 10px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    .cuw-container {
        display: grid;
        grid-auto-rows: minmax( 2em, auto );
        
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
  
        .header {
            font-weight: bold;            
        }

        .border-right {
            border-right: 2px solid #ccc;          
        }
  
        .border-top {
            border-top: 2px solid #ccc;          
        }
  
        .border-left {
            border-left: 2px solid #ccc;          
        }
  
        .justify-center {
            justify-content: center;   
        }
  
        .border-bottom {
            border-bottom: 2px solid #ccc;
        }

        &.sd-info {
            // width: 850px;
            grid-template-columns: 200px 190px 190px 190px 190px 30px;
        }

        .sd-info-fill {
    
            & > * {
                  flex-grow: 1;
              }
              .mat-mdc-form-field{
                width: 99px;
                height: 60px;
                //margin-bottom: -1.4em
              }
              /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
              .mat-form-field-wrapper {
                bottom: 0;
              }
              /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
              ::ng-deep .mat-form-field-underline {
                display: none;
              }
              /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
              ::ng-deep .mat-form-field-infix {
                display: flex;
                justify-content: center;
              }
              /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
              ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 0;
              }
              /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
              ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                height: 60px;
              }
          }

    }
  }
  

  .grower-header-label{    
    width: 80px;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    display: inline;
  }


  .button-row {
    padding-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
  
    ::ng-deep .mat-mdc-raised-button {
      padding: 0 10px;
    }
  }

  .button-mat-icon {
    margin-right: 4px;
  }

  .button-large-text {
    font-size: 20px !important;
  }
  
  .button-right {
    float: right;
  }

  .unsaved-changes-warning {
    display: flex; 
    flex-direction: row; 
    justify-content:center; 
    align-items: center; 
    max-width: 400px;
    margin-left: 20px; 
    border: 2px solid orangered; 
    border-radius: 5px;
  }

  .table-wrapper {
    max-height: calc(var(--vh, 1vh) * 100 - 25em);
    width: calc(100% - 2 * var(--cirras-underwriting-gutter-space));
    width: 1010px;
    margin: 0;
    border-top: 1px solid $colour-light-grey;
    border-bottom: 1px solid $colour-light-grey;
    overflow-y: auto;
  }

.grower-header {

  div:nth-child(n+2) {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 16px;
  }
}

.top-filter {
  display: grid;
  grid-template-columns: 174px 146px auto 406px;

  ::ng-deep .ms-parent:nth-of-type(1) {
    width: 158px !important;
    > ::ng-deep .ms-choice {
      width: 158px !important;
    }
  }

  button {
    color: #424242;
    border: 1px solid #c2c2c2;

    .button-mat-icon {
      color: #888888;
      margin-bottom: 4px;
    }
  }
}

.policy-header-container {
  grid-template-columns: auto 28px 145px 155px 80px;
  align-items: flex-start;

  .unsaved-changes {
    color: inherit;
    font-size: inherit;
    margin-top: 9px;
  }
}

.plcy-inv-field-box {

  .inventory-header:not(:last-child) {
    padding: 14px 8px 14px 8px;
    color: black;
    justify-content: left;
  }

  .inventory-header:last-child {
    color: black;
  }

  .inventory-cell:not(:last-child) {
    padding: 0 8px 0 8px;
    justify-content: left;
    line-height: 24px;
  }

  ::ng-deep div {
    padding-bottom: 0;
    padding-top: 0;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }
}

.plcy-inv-fld-tbl-outer-wrapper {
  max-height: none;

  .plcy-inv-fld-tbl-inner-wrapper {
    .plcy-inv-field-box:nth-of-type(odd) {
      .inventory-cell {
        background-color: #f7f7f7;
      }
    }
  }
}
