
 .dialog-form {
    //font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  
    .title-row.form-row {
      background-color: rgba(200, 200, 200, .60);
      padding: .5rem 1rem 0;
    }
  
    .form-row {
      display: flex;
      justify-content: center;
      padding: 0 1rem;
  
      .field,
      .field .mat-form-field {
        width: 100%;
  
        span {
          font-size: medium;
        }
        .uppercase{
          text-transform: uppercase;
        }
      }
    }
  
    .mat-dialog-content {
      margin: 0;
      padding: 0.5rem;
      min-height: 4rem;
    }
  
    .dialog-controls {
      align-self: center; // flex-end;
      padding: .5rem 1rem 1rem;
    }

    .entire {
      ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
      }
      ::ng-deep .mat-form-field-underline {
          bottom: 0;
      }
      ::ng-deep .mat-form-field {
          width: 100%;
      }
    }

    .button-large-text {
      font-size: 20px !important;
    }

  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto; // auto;
    padding: 10px 0;
    //justify-content: start;
    align-items: center;
  
    .grid-item {
      // padding-left: 20px;

      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
        background-color: black;
      }

      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: transparent;
        padding: 0 0 0 0;
      }

      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0 0;
      }
    }
  }


.row-group-left {
    // padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  .legal-land-container {
    display: grid;
    grid-auto-rows: minmax( 2em, auto );

    &.legal-land-info {
      grid-template-columns: 1fr 2fr 2fr 5fr;
    }

    &.field-info {
      grid-template-columns: 1fr 2fr 2fr 3fr;
    }

    &.error-messages {
      grid-template-columns: 1fr 20fr;
    }

    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .fill {    
          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
            background-color: black;
          }
    
          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
            background-color: transparent;
            padding: 0 0 0 0;
          }
    
          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
            padding: 0 0;
          }
        }
    }

    .center {
        justify-content: center;
    }

    .header {
        font-weight: bold;            
    }

    .border-right {
        border-right: 1px solid #ccc;          
    }

    .border-top {
        border-top: 1px solid #ccc;          
    }

    .border-left {
        border-left: 1px solid #ccc;          
    }

    .justify-center {
        justify-content: center;   
    }

    .border-bottom {
        border-bottom: 1px solid #ccc;
    }
  }

  .cuw-table-wrapper {
    max-height: 200px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 770px;
    overflow-y: auto;
  }

}


.dialog-drag-handle {
  position: relative;
  top: 5px;
  left: 5px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}


.add-land-rb-group {

  .mat-radio-button:not(.mat-radio-disabled).mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.54);; // black;
  }
  
  .mat-radio-button:not(.mat-radio-disabled).mat-accent .mat-radio-inner-circle {
    background-color: rgba(0, 0, 0, 0.54);; // black ;
  }

  &.radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0 25px 0;
    align-items: flex-start;
  }
  
  &.radio-button {
    margin-right: 50px;
  }
}
