

<div class="dialog-form"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragBoundary=".cdk-overlay-container">

    <div class="dialog-drag-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <!-- <g transform="translate(0 -5)"> -->
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <!-- <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 4v3H7l5 5 5-5h-3v-3z"></path>  -->
            <path d="M0 0h24v24H0z" fill="none"></path>
        <!-- </g> -->
        </svg>
    </div>

    <form [formGroup]="addLandForm">

        <h3 style="padding-left: 10px; font-weight: 600;">Add Field by Legal Location</h3>
        <hr>

        <div class="row-choice">            
            <div>
                <input 
                        type="radio" 
                        [value]="searchChoice.searchLegal" 
                        formControlName="choiceSelected" 
                        (click)="onChoiceClick(searchChoice.searchLegal)"/>  
                Search Legal Location
            </div>

            <div>
                <input 
                        type="radio" 
                        [value]="searchChoice.searchField" 
                        formControlName="choiceSelected"
                        (click)="onChoiceClick(searchChoice.searchField)"/> 
                Search Field ID
            </div>
        </div>
        <hr>

        <div class="grid-container">
            <div class="grid-item">{{ (selectedChoice == searchChoice.searchField ) ? "Field Id: " : "Legal Location: " }} </div>
            <div class="grid-item">
                <mat-form-field appearance="fill" [style.width.px]=450>
                    <input matInput formControlName="searchLegalLandOrFieldId" 
                        (keydown)="clearAllForm()" maxlength="128">
                    <mat-hint *ngIf="showSearchLegalMsg">Please enter at least 3 symbols</mat-hint>
                </mat-form-field>
            </div>
            <div class="grid-item">
                <button mat-raised-button color="primary" (click)="onLegalLandSearch()" class="button-large-text" >
                    <mat-icon style="padding-right: 4px; margin-right: 4px;">search</mat-icon>Search
                </button>
            </div> 
        </div>
        

        <div class="row-group-left">

            <!-- legal land grid -->

            <div class="cuw-table-wrapper">
                <div *ngIf="legalLandList && legalLandList.collection && legalLandList.collection.length > 0" 
                    class="legal-land-container legal-land-info" >   

                    <div class="border-right header justify-center border-top border-bottom border-left"></div>
                    <div class="border-right header justify-center border-top border-bottom border-left">Legal Location</div>
                    <div class="border-right header justify-center border-top border-bottom">Primary Identifier</div>
                    <div class="border-right header justify-center border-top border-bottom">Legal Description</div>

                    <div 
                        *ngFor="let element of legalLandList.collection "
                        style="display:contents">
                        
                        <div class="border-right justify-center border-top border-bottom border-left">
                            <input 
                                type="radio" 
                                [value]="element.legalLandId" 
                                formControlName="legalLandIdSelected" 
                                (click)="getFields(element.legalLandId, '')"/>
                        </div>

                        <div class="border-right justify-center border-top border-bottom border-left">
                            {{ element.otherDescription }}
                        </div>
                        <div class="border-right justify-center border-top border-bottom border-left">
                            {{ element.primaryPropertyIdentifier }}
                        </div>
                        <div class="border-right justify-center border-top border-bottom">
                            {{ element.legalDescription  }}
                        </div>
                    </div>

                    <div style="display:contents">
                        <div class="justify-center border-top border-bottom border-left" >
                            <input 
                                type="radio" 
                                [value]="-1" 
                                formControlName="legalLandIdSelected" 
                                (click)="getFields(-1, '')"/> 
                        </div>
        
                        <div class="border-right justify-left border-top border-bottom" style="grid-column-start:2; grid-column-end: 5;">
                            Add New Legal Land
                        </div>
                    </div>

                </div>
            </div>
             
            <div *ngIf="showNewLegalLandMessage" >
                <p style="padding-left: 20px; padding-top: 0px;">The legal location was not found. Do you want to add it?</p>
            </div>



            <!-- field grid -->
            <p *ngIf="selectedChoice == searchChoice.searchLegal && fieldList && fieldList.collection && fieldList.collection.length > 0">
                This legal location is already associated with the following fields. You can select an existing field or choose to create a new field.
            </p>

            <div *ngIf="selectedChoice == searchChoice.searchLegal"  class="cuw-table-wrapper">
                <div *ngIf="fieldList && fieldList.collection && fieldList.collection.length > 0" 
                    class="legal-land-container field-info" >   

                    <div class="border-right header justify-center border-top border-bottom border-left"></div>
                    <div class="border-right header justify-center border-top border-bottom border-left">Field Name</div>
                    <div class="border-right header justify-center border-top border-bottom border-left">Field ID</div>
                    <div class="border-right header justify-center border-top border-bottom">Policy (Plan) - Grower</div>

                    <div 
                        *ngFor="let field of fieldList.collection"   
                        style="display:contents">
                        
                        <div class="border-right justify-center border-top border-bottom border-left">
                            <input 
                                type="radio" 
                                [value]="field.fieldId" 
                                formControlName="fieldIdSelected" 
                                (click)="validateFields(field)"/>
                        </div>

                        <div class="border-right justify-center border-top border-bottom border-left">
                            {{ field.fieldLabel }}
                        </div>
                        <div class="border-right justify-center border-top border-bottom border-left">
                            {{ field.fieldId }}
                        </div>
                        <div class="border-right justify-center border-top border-bottom" style="white-space: pre;">
                            {{ getPolicyAndPlan(field) }}
                        </div>
                    </div>

                    <div style="display:contents">
                        <div class="border-left justify-center border-top border-bottom " >
                            <input 
                                type="radio" 
                                [value]="-1" 
                                formControlName="fieldIdSelected" />
                        </div>
        
                        <div class="justify-left border-top border-bottom border-right" style="grid-column-start:2; grid-column-end: 5;">
                            Add New Field:  
                            <mat-form-field appearance="fill">
                                <input style="width: 100px;" matInput formControlName="fieldLabel" 
                                        maxlength="128" (keydown)="checkLength()">
                                <mat-hint *ngIf="showSearchLegalMsg">Please enter at least 5 symbols</mat-hint>
                            </mat-form-field> 

                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="selectedChoice == searchChoice.searchField && fieldList && fieldList.collection && fieldList.collection.length > 0" 
                class="legal-land-container field-info" >   

                <div class="border-right header justify-center border-top border-bottom border-left">Field Id</div>
                <div class="border-right header justify-center border-top border-bottom border-left">Field Name</div>
                <div class="border-right header justify-center border-top border-bottom border-left">Legal Location</div>
                <div class="border-right header justify-center border-top border-bottom">Policy (Plan) - Grower</div>

                <div 
                    *ngFor="let field of fieldList.collection"   
                    style="display:contents">

                    <div class="border-right justify-center border-top border-bottom border-left">
                        {{ field.fieldId }}
                    </div>
                    <div class="border-right justify-center border-top border-bottom border-left">
                        {{ field.fieldLabel }}
                    </div>

                    <div class="border-right justify-center border-top border-bottom border-left">
                        {{ field.otherLegalDescription }}
                    </div>

                    <div class="border-right justify-center border-top border-bottom" style="white-space: pre;">
                        {{ getPolicyAndPlan(field) }}
                    </div>
                </div>
            </div>




            <div *ngIf="showNoFieldMessage" >
                <p style="padding-left: 20px; padding-top: 0px;">No fields are associated with this legal location.</p>
                <p style="padding-left: 20px; padding-top: 0px;">
                    Add new field
                    <mat-form-field appearance="fill">
                        <input style="width: 100px;" matInput formControlName="fieldLabel" 
                                maxlength="128">
                        <mat-hint *ngIf="showFieldInsertMsg">The field cannot be empty</mat-hint>
                    </mat-form-field>
                </p>
            </div>

            <!-- warning and error messages -->
            <div *ngIf="validationMessages && 
                    ( 
                        (validationMessages.warningMessages && validationMessages.warningMessages.length > 0 ) || 
                        (validationMessages.errorMessages && validationMessages.errorMessages.length > 0 )
                    )"  
                class="legal-land-container error-messages" >

                <div *ngFor="let msg of validationMessages.errorMessages" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orangered', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orangered">{{ msg.message }}</span></div>
                </div>

                <div *ngFor="let msg of validationMessages.warningMessages" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">{{ msg.message }}</span></div>
                </div>

            </div>

        </div>


        <div class="form-row dialog-controls">
            <button mat-raised-button color="primary" (click)="onCancelChanges()" class="button-large-text">
                <mat-icon style="padding-right: 4px; margin-right: 4px;">cancel_presentation</mat-icon>Cancel
            </button>
            &nbsp;
            <button *ngIf="showProceedButton" mat-raised-button color="primary" (click)="onProceed()" class="button-large-text" >
                <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Proceed
            </button>
        </div>

    </form>

</div>