<div class="plcy-inv-cmdty-totals-header"
    style="grid-template-columns: 100px 100px 115px 115px 160px 115px 75px; padding-left: 10px;">

    <div *ngIf="isUnsaved" class="table-header border-top border-left border-right"
        style="grid-column-start: 1; grid-column-end: 8;">
        <span #el matTooltip="" style="margin-left:10px;">
            <mat-icon
                [ngStyle]="{'color':'orangered', 'font-size':'large', 'padding-top': '4px'}">warning_amber</mat-icon>
        </span>
        <span style="color:orangered; font-size: 14px;">
            The Commodity Totals are going to be re-calculated on save.
        </span>
    </div>

    <div class="table-header border-top border-left border-right" style="grid-column-start: 1; grid-column-end: 8;">
        Commodity Totals
    </div>

    <div class="header border-top border-bottom border-left border-right">
        Commodity Type
    </div>
    <div class="border-right header border-top border-bottom"
        matTooltip="Acres are rounded to the nearest tenth after the decimal point.">
        Insured Acres
    </div>
    <div class="border-right header border-top border-bottom"
        matTooltip="Acres are rounded to the nearest tenth after the decimal point.">
        Harvested Acres
    </div>
    <div class="border-right header border-top border-bottom"
        matTooltip="Acres are rounded to the nearest tenth after the decimal point.">
        Override Acres
    </div>
    <div class="header border-top border-bottom border-left border-right">
        Quantity Harvested (tons)
    </div>
    <div class="header border-top border-bottom border-left border-right">
        Quantity Override
    </div>
    <div class="header border-top border-bottom border-left border-right">
        Yield/ac
    </div>

    <div class="grain-unsdd-inv-tot-cmdty-container"
        style="grid-template-columns: 100px 100px 115px 115px 160px 115px 75px; margin-left: 0px;">
        <forage-dop-commodity *ngFor="let commodity of commodities" [commodity]="commodity"
            [commoditiesFormArray]="commoditiesFormArray" [decimalPrecision]="decimalPrecision"
            style="display: contents;"></forage-dop-commodity>

        <div class="readonly border-right border-bottom border-left" style="padding-left: 6px;">
            {{ 'Total' }}
        </div>
        <div class="readonly border-right border-bottom center">
            {{ totalFieldAcresTotal | number: '1.0-1' }}
        </div>
        <div class="readonly border-right border-bottom center">
            {{ harvestedAcresTotal | number: '1.0-1' }}
        </div>
        <div class="readonly border-right border-bottom center">
            {{ harvestedAcresOverrideTotal | number }}
        </div>
        <div class="readonly border-right border-bottom center">
        </div>
        <div class="readonly border-right border-bottom center">
        </div>
        <div class="readonly border-right border-bottom center">
        </div>
    </div>

</div>