@use '../../../../styles/variables' as var;

.other-year-policy{

 .mat-mdc-text-field-wrapper {
    width: 70px;
    height: 30px;
    padding-left: 6px; 
    border: 0.5px solid  rgba(194, 194, 194, 1) !important;
    border-radius: 5px !important;
 }

 .mat-mdc-form-field-flex {
  width: 50px;
  height: 30px;

 }

 .mat-mdc-form-field-infix {
  width: 50px !important;
  min-height: 30px;
 }

 .mat-mdc-select{
  font-family:  var.$font-family-main;
 }

 .mdc-text-field--outlined .mat-mdc-form-field-infix { 
  padding-top: 3px;
 }

}