@import '../../../../../styles/variables';

  .cuw-row-group {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    .cuw-container {
        display: grid;
        grid-auto-rows: minmax( 2em, auto );
        
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
  
        .header {
            font-weight: bold;       
        }

        .border-right {
            border-right: 2px solid #ccc;          
        }
  
        .border-top {
            border-top: 2px solid #ccc;          
        }
  
        .border-left {
            border-left: 2px solid #ccc;          
        }
  
        .justify-center {
            justify-content: center;   
        }
  
        .border-bottom {
            border-bottom: 2px solid #ccc;
        }

        &.gmt-info {
            grid-template-columns: 100px 100px 100px 100px 100px 80px;
        }

    }
  }


