
<div class="dialog-form"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragBoundary=".cdk-overlay-container">


        <h3 style="padding-left: 10px; font-weight: 600;" cdkDragHandle>
            
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24" class="dialog-drag-handle">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>

            Yield Measurement Units for Plan {{ getSelectedPlanName() }}
        
        </h3>
        <hr>
        
        <div class="cuw-row-group">
            <div class="cuw-container gmt-info" >  
                
                <div class="header border-top border-left border-right border-bottom justify-center">Unit Type <br /> Code</div>
                <div class="header border-top border-right border-bottom justify-center">Description</div>
                <div class="header border-top border-right border-bottom justify-center">Decimal <br />Precision</div>
                <div class="header border-top border-right border-bottom justify-center">Effective <br/> Date</div>
                <div class="header border-top border-right border-bottom justify-center">Expiry Date</div>
                <div class="header border-top border-right border-bottom justify-center">Base Unit</div>
            </div>

            <div class="cuw-container gmt-info">
   
                <div *ngFor="let unit of yieldMeasUnitList.collection" style="display: contents;">

                    <div  class="gmt-info border-right border-bottom border-left justify-center">   
                        {{ ( unit.yieldMeasUnitTypeCode) ? unit.yieldMeasUnitTypeCode : "" }}
                    </div>

                    <div class="gmt-info border-right border-bottom justify-center" >
                        {{ ( unit.description) ? unit.description : "" }}
                    </div>

                    <div class="gmt-info border-right border-bottom justify-center" >
                        {{ ( unit.decimalPrecision) ? unit.decimalPrecision : "" }}
                    </div>

                    <div class="gmt-info border-right border-bottom justify-center" >
                        {{ (  ( unit.effectiveDate) ? unit.effectiveDate : "" ) | date }}
                    </div>

                    <div  class="gmt-info border-right border-bottom justify-center" >
                        {{ (  ( unit.expiryDate) ? unit.expiryDate : "" ) | date }}
                    </div>

                    <div class="gmt-info border-right border-bottom justify-center" >
                        {{ ( unit.isDefaultYieldUnitInd) ? "Y" : "N" }}
                    </div>
                </div>
            </div>
            
        </div>

        <div class="form-row dialog-controls">
            <button mat-raised-button color="primary" (click)="onCancelChanges()" class="button-large-text">
                <mat-icon style="padding-right: 4px; margin-right: 4px;">cancel_presentation</mat-icon>Cancel
            </button>
        </div>
</div>