<cuws-base-dialog [titleLabel]="titleLabel" [type]="dialogType" class="remove-field">
    <div mat-dialog-content class="grow">

    <form [formGroup]="linkPlantingForm">
      
        <h4 *ngIf="dataReceived && dataReceived.linkedPolicies && dataReceived.linkedPolicies.length > 0 && dataReceived.isFieldLinked == false" style="padding-left: 20px;">
            Linked Forage Policies
        </h4>
        
        <div *ngIf="dataReceived && dataReceived.linkedPolicies && dataReceived.linkedPolicies.length > 0 && dataReceived.isFieldLinked == false" 
            class="linked-policies-container policy-info" >   

            <div class="border-right header justify-center border-top border-bottom border-left"></div>
            <div class="border-right header justify-center border-top border-bottom border-left">Policy</div>
            <div class="border-right header justify-center border-top border-bottom">Grower</div>

            <div 
                *ngFor="let element of dataReceived.linkedPolicies"
                style="display:contents">
                
                <div class="border-right justify-center border-top border-bottom border-left">
                    <input 
                        type="radio" 
                        [value]="element.policyNumber" 
                        formControlName="selectedPolicyNumber" 
                        (click)="onSelectPolicy(element.policyNumber)"/>
                </div>

                <div class="border-right justify-center border-top border-bottom border-left">
                    {{ element.policyNumber }}
                </div>
                <div class="border-right justify-center border-top border-bottom border-left">
                    {{ element.growerName }}
                </div>
            </div>

        </div>

        <div *ngIf="dataReceived && dataReceived.isFieldLinked == false" 
            class="linked-policies-container policy-info" > 
            <div style="display:contents">
                <div class="justify-center border-top border-left" >
                    <input *ngIf="dataReceived && dataReceived.linkedPolicies.length > 0"
                        type="radio" 
                        [value]="-1" 
                        formControlName="selectedPolicyNumber" 
                        (click)="onSelectPolicy(-1)"/> 
                </div>            

                <div class="border-right justify-left border-top" style="grid-column-start:2; grid-column-end:4;">
                    Link field to a new Forage policy
                </div>

                <div class="justify-center border-bottom border-left" >
                </div>

                <div class="border-right justify-left border-bottom" style="grid-column-start:2; grid-column-end:4;">
                    <div class="grid-container">
                        <div class="grid-item">
                            <mat-form-field appearance="fill" [style.width.px]=450>
                                <input matInput formControlName="searchPolicyNumber" 
                                    maxlength="10">
                                <mat-hint>Please enter a policy number XXXXXX-XX</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="grid-item">
                            <button mat-raised-button class="primary" (click)="onPolicyValidate()" class="button-large-text" style="padding-left: 10px;;" >
                                Validate
                            </button>
                        </div> 
                    </div>

                </div>
            </div>

        </div>

        <!-- If it's an existing planting -->
        <div *ngIf="dataReceived && dataReceived.isFieldLinked && dataReceived.policyNumber" class="row-group-left">
            <p>Field {{ ( dataReceived.isPlantingLinked ) ? " and planting are " : " is " }}
                also on policy {{ dataReceived.policyNumber }} of grower {{ dataReceived.growerName }}.</p>
        </div>

        <!-- If it's a new planting -->
        <div *ngIf="isAddNewLinkedPlantingMsgVisible()" class="row-group-left"> 
            <p>A new planting will be added to the field on the forage policy and linked to this grain planting.</p>
        </div>


        <!-- error messages from add field-->
        <p *ngIf="validationMessages && validationMessages.errorMessages && validationMessages.errorMessages.length > 0" style="padding-left: 20px">
            The field {{ (dataReceived)  ?  dataReceived.fieldId  : "" }} 
            cannot be added to policy {{ (uwContract)  ?  uwContract.policyNumber : ""}} because of the following error message(s)
        </p>

        <div *ngIf="validationMessages && validationMessages.errorMessages && validationMessages.errorMessages.length > 0"  
            class="linked-policies-container error-messages" >
        
            <div *ngFor="let msg of validationMessages.errorMessages" style="display:contents">
                <div class="justify-left"><mat-icon [ngStyle]="{'color':'orangered', 'font-size':'x-large'}">warning</mat-icon></div>
                <div><span style="color:orangered">{{ msg.message }}</span></div>
            </div>
        </div>
    </form>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button class="secondary" (click)="onCancelChanges()">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">cancel_presentation</mat-icon>Cancel
        </button>
        &nbsp;
        <button 
            *ngIf="isAddNewLinkedPlantingMsgVisible()" 
            mat-raised-button 
            class="primary" 
            [disabled]="hasSaveStarted == true"
            (click)="onCreateLink()" >
                <mat-icon style="padding-right: 4px; margin-right: 4px;">save</mat-icon>Create Link
        </button>
        <button *ngIf="dataReceived && dataReceived.isPlantingLinked" mat-raised-button class="secondary" (click)="onRemoveLink()">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">delete</mat-icon>Remove Link
        </button>

    </div>    
</cuws-base-dialog>
