@import 'src/styles/variables';

mat-card.error-panel {
  font-size: $font-size;
  padding: 0;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 0;

  mat-card-header.warnings {
    background-color: $colour-warnings;
  }

  mat-card-header {
    background-color: $colour-errors;
    color: $colour-white;
    padding: 0.16px var(--cirras-underwriting-gutter-space);
    text-transform: uppercase;
    cursor: pointer;
    display: block;

    .mat-card-title {
      margin-bottom: 0;
      font-size: 13px;
    }

    &::ng-deep .mat-card-header-text {
      margin: 0 8px;
    }
  }

  mat-card-content {
    padding: 8px 0;
  }


  .footer {
    text-align: right;
    padding: var(--cirras-underwriting-gutter-space);
  }

  .validation-messages {
    display: block;
    margin: 0;

    .info-message {
      background-color: $colour-white;
      color: $colour-green;
    }

    .warning-message {
      background-color: $colour-white;
      color: $colour-yellow;
    }

    .error-message {
      background-color: $colour-white;
      color: $colour-errors;

      span{
        word-break: break-word;
      }
    }
  }

}
