<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.CommodityTypeCodeMapper">

	<resultMap id="CommodityTypeCodeDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.CommodityTypeCodeDto">
	
		<id property="commodityTypeCode" column="commodity_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />

		<result property="cropCommodityId" column="crop_commodity_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="effectiveDate" column="effective_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="expiryDate" column="expiry_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="dataSyncTransDate" column="data_sync_trans_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />

		<result property="cropVarietyId" column="crop_variety_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />			
		<result property="insurancePlanId" column="insurance_plan_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="fullCoverageDeadlineDate" column="full_coverage_deadline_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="finalCoverageDeadlineDate" column="final_coverage_deadline_date" javaType="java.util.Date" jdbcType="DATE" />

	</resultMap>
	
    <sql id="selectColumns">
		SELECT  commodity_type_code,
				crop_commodity_id,
				description,
				effective_date,
				expiry_date,
				data_sync_trans_date, 
				create_user, 
				create_date, 
				update_user, 
				update_date
    </sql>
	
	<select id="fetchAll" resultMap="CommodityTypeCodeDtoMap">  
		<include refid="selectColumns"/>
		FROM commodity_type_code
		ORDER BY description
	</select> 

	
	<select id="fetch" resultMap="CommodityTypeCodeDtoMap">
		<include refid="selectColumns"/>
		FROM commodity_type_code t
		WHERE t.commodity_type_code = #{commodityTypeCode}
	</select>

	<select id="selectByPlan" resultMap="CommodityTypeCodeDtoMap">
		SELECT	ct.commodity_type_code, 
				ct.description, 
				v.crop_variety_id, 
				crpt.insurance_plan_id,
				sd.full_coverage_deadline_date, 
				sd.final_coverage_deadline_date
		FROM commodity_type_code ct
		JOIN commodity_type_variety_xref xref ON xref.commodity_type_code = ct.commodity_type_code
		JOIN crop_variety v ON v.crop_variety_id = xref.crop_variety_id
		JOIN crop_commodity crpt ON crpt.crop_commodity_id = v.crop_commodity_id
		LEFT JOIN seeding_deadline sd ON sd.commodity_type_code = ct.commodity_type_code AND sd.crop_year = #{cropYear}
		WHERE crpt.insurance_plan_id = #{insurancePlanId}
		ORDER BY ct.description
	</select>
	
	<select id="selectByCropCommodityPlan" resultMap="CommodityTypeCodeDtoMap">
		SELECT  ct.commodity_type_code,
				ct.crop_commodity_id,
				ct.description,
				ct.effective_date,
				ct.expiry_date,
				c.insurance_plan_id
		FROM commodity_type_code ct
		JOIN crop_commodity c on c.crop_commodity_id = ct.crop_commodity_id
		WHERE c.insurance_plan_id = #{insurancePlanId}
		ORDER BY ct.description
	</select>
	
	<insert id="insert">

		INSERT INTO commodity_type_code (
			commodity_type_code,
			crop_commodity_id,
			description,
			effective_date,
			expiry_date,
			data_sync_trans_date,
			create_user,
			create_date,
			update_user,
			update_date
		) 
		VALUES (
			#{dto.commodityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.description, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.effectiveDate, javaType=java.util.Date , jdbcType=DATE, mode=IN},
			#{dto.expiryDate, javaType=java.util.Date , jdbcType=DATE, mode=IN},
			#{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		 )
	</insert> 

	<update id="update">
		UPDATE commodity_type_code SET
			crop_commodity_id = #{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			description = #{dto.description, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			effective_date = #{dto.effectiveDate, javaType=java.util.Date , jdbcType=DATE, mode=IN}, 
			expiry_date = #{dto.expiryDate, javaType=java.util.Date , jdbcType=DATE, mode=IN}, 
			data_sync_trans_date = #{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			update_date = now()
		 WHERE commodity_type_code = #{dto.commodityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN} 
		 AND data_sync_trans_date <![CDATA[ < ]]> #{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}
	</update> 

	<delete id="delete">
		DELETE FROM commodity_type_code t WHERE t.commodity_type_code = #{commodityTypeCode}
	</delete>
	
</mapper>
