<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.ContactMapper">

	<resultMap id="ContactDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.ContactDto">
	
		<id property="contactId" column="contact_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />

		<result property="firstName" column="first_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="lastName" column="last_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="dataSyncTransDate" column="data_sync_trans_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
	</resultMap>
	
    <sql id="selectColumns">
		SELECT  contact_id,
				first_name,
				last_name,
				data_sync_trans_date, 
				create_user, 
				create_date, 
				update_user, 
				update_date
    </sql>
	
	<select id="fetchAll" resultMap="ContactDtoMap">  
		<include refid="selectColumns"/>
		FROM contact
		ORDER BY last_name, first_name
	</select> 

	
	<select id="fetch" resultMap="ContactDtoMap">
		<include refid="selectColumns"/>
		FROM contact t
		WHERE t.contact_id = #{contactId}
	</select>
	
	<insert id="insert">

		INSERT INTO contact (
			contact_id,
			first_name,
			last_name,
			data_sync_trans_date,
			create_user,
			create_date,
			update_user,
			update_date
		) 
		VALUES (
			#{dto.contactId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.firstName, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.lastName, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		 )
	</insert> 

	<update id="update">
		UPDATE contact SET
			first_name = #{dto.firstName, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			last_name = #{dto.lastName, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			data_sync_trans_date = #{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			update_date = now()
		 WHERE contact_id = #{dto.contactId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}
		 AND data_sync_trans_date <![CDATA[ < ]]> #{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}
	</update> 

	<delete id="delete">
		DELETE FROM contact t WHERE t.contact_id = #{contactId}
	</delete>
	
</mapper>
