<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.CropCommodityMapper">

	<resultMap id="CropCommodityDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.CropCommodityDto">
	
		<id property="cropCommodityId" column="crop_commodity_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />

		<result property="insurancePlanId" column="insurance_plan_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="commodityName" column="commodity_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="shortLabel" column="short_label" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="plantDurationTypeCode" column="plant_duration_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="isInventoryCropInd" column="is_inventory_crop_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isYieldCropInd" column="is_yield_crop_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isUnderwritingCropInd" column="is_underwriting_crop_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isProductInsurableInd" column="is_product_insurable_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isCropInsuranceEligibleInd" column="is_crop_insurance_eligible_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isPlantInsuranceEligibleInd" column="is_plant_insurance_eligible_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isOtherInsuranceEligibleInd" column="is_other_insurance_eligible_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="yieldMeasUnitTypeCode" column="yield_meas_unit_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="yieldDecimalPrecision" column="yield_decimal_precision" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="effectiveDate" column="effective_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="expiryDate" column="expiry_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="dataSyncTransDate" column="data_sync_trans_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
		
		<result property="inventoryTypeCode" column="inventory_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="yieldTypeCode" column="yield_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />

	</resultMap>
	
    <sql id="selectColumns">
		t.crop_commodity_id, 
		t.insurance_plan_id, 
		t.commodity_name, 
		t.short_label, 
		t.plant_duration_type_code, 
		t.is_inventory_crop_ind, 
		t.is_yield_crop_ind, 
		t.is_underwriting_crop_ind, 
		t.is_product_insurable_ind, 
		t.is_crop_insurance_eligible_ind, 
		t.is_plant_insurance_eligible_ind, 
		t.is_other_insurance_eligible_ind, 
		t.yield_meas_unit_type_code, 
		t.yield_decimal_precision, 
		t.effective_date, 
		t.expiry_date, 
		t.data_sync_trans_date, 
		t.create_user, 
		t.create_date, 
		t.update_user, 
		t.update_date 
    </sql>
    
	<select id="fetch" resultMap="CropCommodityDtoMap">
		SELECT 	
		<include refid="selectColumns"/>
		FROM crop_commodity t
		WHERE t.crop_commodity_id = #{cropCommodityId}
	</select>
	
	<select id="fetchAll" resultMap="CropCommodityDtoMap">
		SELECT  
		<include refid="selectColumns"/>
		FROM crop_commodity t
		ORDER BY t.commodity_name
	</select> 
	
	<insert id="insert">

		INSERT INTO crop_commodity (
			crop_commodity_id,
			insurance_plan_id,
			commodity_name,
			short_label,
			plant_duration_type_code,
			is_inventory_crop_ind,
			is_yield_crop_ind,
			is_underwriting_crop_ind,
			is_product_insurable_ind,
			is_crop_insurance_eligible_ind,
			is_plant_insurance_eligible_ind,
			is_other_insurance_eligible_ind,
			yield_meas_unit_type_code,
			yield_decimal_precision,
			effective_date,
			expiry_date,
			data_sync_trans_date,
			create_user,
			create_date,
			update_user,
			update_date
		) VALUES (
			#{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.insurancePlanId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.commodityName, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.shortLabel, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.plantDurationTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.isInventoryCropInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isYieldCropInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isUnderwritingCropInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isProductInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isCropInsuranceEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isPlantInsuranceEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isOtherInsuranceEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.yieldMeasUnitTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.yieldDecimalPrecision, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.effectiveDate, javaType=java.util.Date , jdbcType=DATE, mode=IN},
			#{dto.expiryDate, javaType=java.util.Date , jdbcType=DATE, mode=IN},
			#{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		 )
	</insert> 

	<update id="update">
		UPDATE crop_commodity
		SET 
			insurance_plan_id = #{dto.insurancePlanId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			commodity_name = #{dto.commodityName, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			short_label = #{dto.shortLabel, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			plant_duration_type_code = #{dto.plantDurationTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			is_inventory_crop_ind = #{dto.isInventoryCropInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_yield_crop_ind = #{dto.isYieldCropInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_underwriting_crop_ind = #{dto.isUnderwritingCropInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_product_insurable_ind = #{dto.isProductInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_crop_insurance_eligible_ind = #{dto.isCropInsuranceEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_plant_insurance_eligible_ind = #{dto.isPlantInsuranceEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_other_insurance_eligible_ind = #{dto.isOtherInsuranceEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			yield_meas_unit_type_code = #{dto.yieldMeasUnitTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			yield_decimal_precision = #{dto.yieldDecimalPrecision, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			effective_date = #{dto.effectiveDate, javaType=java.util.Date , jdbcType=DATE, mode=IN}, 
			expiry_date = #{dto.expiryDate, javaType=java.util.Date , jdbcType=DATE, mode=IN}, 
			data_sync_trans_date = #{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		 WHERE crop_commodity_id = #{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}
		 AND data_sync_trans_date <![CDATA[ < ]]> #{dto.dataSyncTransDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}

	</update> 

	<delete id="delete">
		DELETE FROM crop_commodity WHERE crop_commodity_id = #{cropCommodityId}
	</delete> 
	
	<sql id="selectWhereClause">
	  
	  <if test="insurancePlanId != null">
		AND t.insurance_plan_id = #{insurancePlanId}
	  </if>
	  <if test="commodityType != null">
	  	<if test="commodityType == 'INV'">
	  		AND t.is_inventory_crop_ind = 'Y'
	  	</if>
	  	<if test="commodityType == 'YLD'">
	  		AND t.is_yield_crop_ind = 'Y'
	  	</if>
	  	<if test="commodityType == 'UW'">
	  		AND t.is_underwriting_crop_ind = 'Y'
	  	</if>
	  </if>

	</sql>

	
	<select id="select" resultMap="CropCommodityDtoMap">  
		SELECT 
			<include refid="selectColumns"/>
			, u.inventory_type_code 
			, u.yield_type_code 
		FROM crop_commodity t
		LEFT JOIN underwriting_commodity u ON u.crop_commodity_id = t.crop_commodity_id
								   		   AND u.crop_year = #{cropYear}
		WHERE now() BETWEEN t.effective_date AND t.expiry_date
		<include refid="selectWhereClause"/>
		ORDER BY t.commodity_name	
	</select> 

</mapper>
