<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.DeclaredYieldFieldMapper">

	<resultMap id="DeclaredYieldFieldDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.DeclaredYieldFieldDto">
		<id property="declaredYieldFieldGuid" column="declared_yield_field_guid" javaType="java.lang.String" jdbcType="VARCHAR" />		

		<result property="inventoryFieldGuid" column="inventory_field_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="estimatedYieldPerAcre" column="estimated_yield_per_acre" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="estimatedYieldPerAcreDefaultUnit" column="estimated_yield_per_acre_default_unit" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="unharvestedAcresInd" column="unharvested_acres_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />

		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
    <sql id="selectColumns">
		select dyf.declared_yield_field_guid, 
		       dyf.inventory_field_guid, 
			   dyf.estimated_yield_per_acre, 
			   dyf.estimated_yield_per_acre_default_unit, 
			   dyf.unharvested_acres_ind, 
			   dyf.create_user, 
			   dyf.create_date, 
			   dyf.update_user, 
			   dyf.update_date
    </sql>
    
    
	<select id="fetch" resultMap="DeclaredYieldFieldDtoMap">
		<include refid="selectColumns"/>
		from declared_yield_field dyf
		where dyf.declared_yield_field_guid = #{declaredYieldFieldGuid}
	</select>

	<insert id="insert">
		<selectKey keyProperty="declaredYieldFieldGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		insert into declared_yield_field(
			declared_yield_field_guid, 
			inventory_field_guid, 
			estimated_yield_per_acre, 
			estimated_yield_per_acre_default_unit, 
			unharvested_acres_ind, 
			create_user, 
			create_date, 
			update_user, 
			update_date
		) values (
			#{declaredYieldFieldGuid}, 
			#{dto.inventoryFieldGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			#{dto.estimatedYieldPerAcre, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
			#{dto.estimatedYieldPerAcreDefaultUnit, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
			#{dto.unharvestedAcresInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		update declared_yield_field
		set estimated_yield_per_acre = #{dto.estimatedYieldPerAcre, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN}, 
			estimated_yield_per_acre_default_unit = #{dto.estimatedYieldPerAcreDefaultUnit, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN}, 
			unharvested_acres_ind = #{dto.unharvestedAcresInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		where declared_yield_field_guid = #{dto.declaredYieldFieldGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
	</update> 

	<delete id="delete">
		delete from declared_yield_field where declared_yield_field_guid = #{declaredYieldFieldGuid}
	</delete>
	
	<delete id="deleteForField">
		delete from declared_yield_field dyf
		where dyf.inventory_field_guid in (select invf.inventory_field_guid
        		                           from inventory_field invf
                		                   where invf.field_id = #{fieldId})
	</delete>

	<delete id="deleteForDeclaredYieldContract">
		delete from declared_yield_field t
		where t.inventory_field_guid in (select invf.inventory_field_guid
		 								 from declared_yield_contract dyc
										 join grower_contract_year gcy on gcy.contract_id = dyc.contract_id and gcy.crop_year = dyc.crop_year
										 join contracted_field_detail cfd on cfd.grower_contract_year_id = gcy.grower_contract_year_id
										 join annual_field_detail afd on afd.annual_field_detail_id = cfd.annual_field_detail_id
										 join inventory_field invf on invf.field_id = afd.field_id 
					         						              and invf.crop_year = afd.crop_year 
					                 						      and invf.insurance_plan_id = gcy.insurance_plan_id
										 where dyc.declared_yield_contract_guid = #{declaredYieldContractGuid}
										)
	</delete>

	<select id="getByInventoryField" resultMap="DeclaredYieldFieldDtoMap">
		<include refid="selectColumns"/>
		from declared_yield_field dyf
		where dyf.inventory_field_guid = #{inventoryFieldGuid}
	</select>
	
	<select id="getTotalDopRecordsWithYield" resultType="int">
		select count(dyf.declared_yield_field_guid)
		from declared_yield_field dyf
		join inventory_field inv on inv.inventory_field_guid = dyf.inventory_field_guid
		where inv.field_id = #{fieldId}
		and inv.crop_year = #{cropYear}
		and inv.insurance_plan_id = #{insurancePlanId}
		and dyf.estimated_yield_per_acre > 0
	</select>

	<select id="selectToRecalculate" resultMap="DeclaredYieldFieldDtoMap">
		<include refid="selectColumns"/>
		FROM declared_yield_field dyf
		JOIN inventory_field inv ON inv.inventory_field_guid = dyf.inventory_field_guid
		JOIN inventory_seeded_grain isg ON isg.inventory_field_guid = inv.inventory_field_guid
		JOIN annual_field_detail afd ON afd.crop_year = inv.crop_year AND afd.field_id = inv.field_id
		JOIN contracted_field_detail cfd ON cfd.annual_field_detail_id = afd.annual_field_detail_id
		JOIN grower_contract_year gcy ON gcy.grower_contract_year_id = cfd.grower_contract_year_id
		JOIN declared_yield_contract dyc ON dyc.crop_year = gcy.crop_year AND dyc.contract_id = gcy.contract_id
		WHERE isg.crop_commodity_id = #{cropCommodityId}
		AND dyc.entered_yield_meas_unit_type_code = #{enteredYieldMeasUnitTypeCode}
		AND dyc.crop_year BETWEEN #{effectiveCropYear} AND #{expiryCropYear}	
	</select>

</mapper>
