<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.DeclaredYieldFieldForageMapper">

	<resultMap id="DeclaredYieldFieldForageDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.DeclaredYieldFieldForageDto">
		<id property="declaredYieldFieldForageGuid" column="declared_yield_field_forage_guid" javaType="java.lang.String" jdbcType="VARCHAR" />		

		<result property="inventoryFieldGuid" column="inventory_field_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="cutNumber" column="cut_number" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="totalBalesLoads" column="total_bales_loads" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="weight" column="weight" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="weightDefaultUnit" column="weight_default_unit" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="moisturePercent" column="moisture_percent" javaType="java.lang.Double" jdbcType="NUMERIC" />

		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
    <sql id="selectColumns">
		select dyff.declared_yield_field_forage_guid, 
		       dyff.inventory_field_guid, 
		       dyff.cut_number, 
		       dyff.total_bales_loads, 
		       dyff.weight, 
		       dyff.weight_default_unit, 
		       dyff.moisture_percent, 
		       dyff.create_user, 
		       dyff.create_date, 
		       dyff.update_user, 
		       dyff.update_date
    </sql>
    
    
	<select id="fetch" resultMap="DeclaredYieldFieldForageDtoMap">
		<include refid="selectColumns"/>
		from declared_yield_field_forage dyff
		where dyff.declared_yield_field_forage_guid = #{declaredYieldFieldForageGuid}
	</select>

	<insert id="insert">
		<selectKey keyProperty="declaredYieldFieldForageGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		insert into declared_yield_field_forage(
			declared_yield_field_forage_guid, 
			inventory_field_guid, 
			cut_number, 
			total_bales_loads, 
			weight, 
			weight_default_unit, 
			moisture_percent, 
			create_user, 
			create_date, 
			update_user, 
			update_date
		) values (
			#{declaredYieldFieldForageGuid}, 
			#{dto.inventoryFieldGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			#{dto.cutNumber, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
			#{dto.totalBalesLoads, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
			#{dto.weight, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
			#{dto.weightDefaultUnit, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
			#{dto.moisturePercent, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		update declared_yield_field_forage
		set cut_number = #{dto.cutNumber, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}, 
			total_bales_loads = #{dto.totalBalesLoads, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}, 
			weight = #{dto.weight, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN}, 
			weight_default_unit = #{dto.weightDefaultUnit, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN}, 
			moisture_percent = #{dto.moisturePercent, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		where declared_yield_field_forage_guid = #{dto.declaredYieldFieldForageGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
	</update>

	<delete id="delete">
		delete from declared_yield_field_forage where declared_yield_field_forage_guid = #{declaredYieldFieldForageGuid}
	</delete>

	<delete id="deleteForField">
		delete from declared_yield_field_forage dyf
		where dyf.inventory_field_guid in (select invf.inventory_field_guid
        		                           from inventory_field invf
                		                   where invf.field_id = #{fieldId})
	</delete>
	
	<delete id="deleteForFieldAndYear">
		delete from declared_yield_field_forage dyf
		where dyf.inventory_field_guid in (select invf.inventory_field_guid
        		                           from inventory_field invf
                		                   where invf.field_id = #{fieldId}
                		                   and invf.crop_year = #{cropYear})
	</delete>
	

	<delete id="deleteForDeclaredYieldContract">
		delete from declared_yield_field_forage t
		where t.inventory_field_guid in (select invf.inventory_field_guid
		 								 from declared_yield_contract dyc
										 join grower_contract_year gcy on gcy.contract_id = dyc.contract_id and gcy.crop_year = dyc.crop_year
										 join contracted_field_detail cfd on cfd.grower_contract_year_id = gcy.grower_contract_year_id
										 join annual_field_detail afd on afd.annual_field_detail_id = cfd.annual_field_detail_id
										 join inventory_field invf on invf.field_id = afd.field_id 
					         						              and invf.crop_year = afd.crop_year 
					                 						      and invf.insurance_plan_id = gcy.insurance_plan_id
										 where dyc.declared_yield_contract_guid = #{declaredYieldContractGuid}
										)
	</delete>
	
	<select id="getByInventoryField" resultMap="DeclaredYieldFieldForageDtoMap">
		<include refid="selectColumns"/>
		from declared_yield_field_forage dyff
		where dyff.inventory_field_guid = #{inventoryFieldGuid}
		order by cut_number, declared_yield_field_forage_guid
	</select>

	<select id="getTotalDopRecordsWithYield" resultType="int">
		select count(inv.inventory_field_guid)
		from inventory_field inv
		left join declared_yield_field_forage dyff on dyff.inventory_field_guid = inv.inventory_field_guid
		left join inventory_seeded_forage isf on isf.inventory_field_guid = inv.inventory_field_guid
		left join annual_field_detail afd on afd.field_id = inv.field_id and afd.crop_year = inv.crop_year
		left join contracted_field_detail cfd on cfd.annual_field_detail_id = afd.annual_field_detail_id
		left join grower_contract_year gcy on gcy.grower_contract_year_id = cfd.grower_contract_year_id and gcy.insurance_plan_id = inv.insurance_plan_id
		left join declared_yield_contract dyc on dyc.contract_id = gcy.contract_id and dyc.crop_year = gcy.crop_year
		where inv.field_id = #{fieldId}
		  and inv.crop_year = #{cropYear}
		  and inv.insurance_plan_id = #{insurancePlanId}
		  and (dyff.total_bales_loads > 0 
			   or dyff.weight > 0 
			   or (dyc.declared_yield_contract_guid is not null 
				  and isf.is_quantity_insurable_ind = 'Y'
				  and isf.commodity_type_code is not null
				  and isf.field_acres > 0
				  ) 
			  )
	</select>

	<select id="selectToRecalculate" resultMap="DeclaredYieldFieldForageDtoMap">
		<include refid="selectColumns"/>
		FROM declared_yield_field_forage dyff
		JOIN inventory_field inv ON inv.inventory_field_guid = dyff.inventory_field_guid
		JOIN inventory_seeded_forage isf ON isf.inventory_field_guid = inv.inventory_field_guid
		JOIN annual_field_detail afd ON afd.crop_year = inv.crop_year AND afd.field_id = inv.field_id
		JOIN contracted_field_detail cfd ON cfd.annual_field_detail_id = afd.annual_field_detail_id
		JOIN grower_contract_year gcy ON gcy.grower_contract_year_id = cfd.grower_contract_year_id
									  AND gcy.insurance_plan_id = inv.insurance_plan_id
		JOIN declared_yield_contract dyc ON dyc.crop_year = gcy.crop_year AND dyc.contract_id = gcy.contract_id
		WHERE isf.crop_commodity_id = #{cropCommodityId}
		AND dyc.entered_yield_meas_unit_type_code = #{enteredYieldMeasUnitTypeCode}
		AND dyc.crop_year BETWEEN #{effectiveCropYear} AND #{expiryCropYear}	
	</select>
</mapper>
