<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.GradeModifierTypeCodeMapper">

	<resultMap id="GradeModifierTypeCodeDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.GradeModifierTypeCodeDto">
	
		<id property="gradeModifierTypeCode" column="grade_modifier_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="effectiveYear" column="effective_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="expiryYear" column="expiry_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />

		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />

		<!-- Extended columns -->
		<result property="totalUsed" column="total_used" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="maxYearUsed" column="max_year_used" javaType="java.lang.Integer" jdbcType="NUMERIC" />

	</resultMap>
	
    <sql id="selectColumns">
		SELECT 	t.grade_modifier_type_code, 
				t.description, 
				t.effective_year, 
				t.expiry_year, 
				t.create_user, 
				t.create_date, 
				t.update_user, 
				t.update_date
    </sql>
	
	<select id="fetchAll" resultMap="GradeModifierTypeCodeDtoMap">  
		<include refid="selectColumns"/>
		FROM grade_modifier_type_code t
		ORDER BY t.grade_modifier_type_code, 
				 t.description
	</select>

	
	<select id="fetch" resultMap="GradeModifierTypeCodeDtoMap">
		<include refid="selectColumns"/>
		FROM grade_modifier_type_code t
		WHERE t.grade_modifier_type_code = #{gradeModifierTypeCode}
	</select>

	<select id="select" resultMap="GradeModifierTypeCodeDtoMap">
		<include refid="selectColumns"/>
			,
				(select count(dycc.declared_yield_contract_commodity_guid) 
				 from declared_yield_contract_commodity dycc
				 join declared_yield_contract dyc on dyc.declared_yield_contract_guid = dycc.declared_yield_contract_guid
				 where dycc.grade_modifier_type_code = t.grade_modifier_type_code
				) as total_used	
			, 
				(select max(gm.crop_year) 
				 from grade_modifier gm
				 where gm.grade_modifier_type_code = t.grade_modifier_type_code
				) as max_year_used	
		FROM grade_modifier_type_code t
		  <if test="cropYear != null">
			WHERE #{cropYear} BETWEEN t.effective_year AND COALESCE(t.expiry_year, #{cropYear})
		  </if>
		ORDER BY t.grade_modifier_type_code, 
				 t.description
	</select>
	
	
	<insert id="insert">
		INSERT INTO grade_modifier_type_code(
			grade_modifier_type_code,
			description,
			effective_year,
			expiry_year,
			create_user, 
			create_date, 
			update_user, 
			update_date
		) VALUES (
			#{dto.gradeModifierTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.description, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.effectiveYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.expiryYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		UPDATE grade_modifier_type_code
		SET description = #{dto.description, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			expiry_year = #{dto.expiryYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			update_date = now()
		WHERE grade_modifier_type_code = #{dto.gradeModifierTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}
	</update> 

	<delete id="delete">
		DELETE FROM grade_modifier_type_code t WHERE t.grade_modifier_type_code = #{gradeModifierTypeCode}
	</delete>
	
</mapper>
