<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.InsurancePlanMapper">

	<resultMap id="InsurancePlanDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.InsurancePlanDto">
	
		<id property="insurancePlanId" column="insurance_plan_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		
		<result property="insurancePlanName" column="insurance_plan_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="effectiveDate" column="effective_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="expiryDate" column="expiry_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="dataSyncTransDate" column="data_sync_trans_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
	</resultMap>
	
    <sql id="selectColumns">
       t.insurance_plan_id, 
       t.insurance_plan_name, 
       t.effective_date,
       t.expiry_date,
       t.data_sync_trans_date, 
       t.create_user, 
       t.create_date, 
       t.update_user, 
       t.update_date
    </sql>
    
	<select id="fetch" resultMap="InsurancePlanDtoMap">
		SELECT 	
		<include refid="selectColumns"/>
		FROM insurance_plan t
		WHERE t.insurance_plan_id = #{insurancePlanId}
	</select>
				
	<select id="selectByField" resultMap="InsurancePlanDtoMap">
		select 
			<include refid="selectColumns"/>
		from insurance_plan t
		where t.insurance_plan_id in (
			select gcy.insurance_plan_id
			from field f
			join annual_field_detail afd on afd.field_id = f.field_id
			join contracted_field_detail cfd on cfd.annual_field_detail_id = afd.annual_field_detail_id
			join grower_contract_year gcy on gcy.grower_contract_year_id = cfd.grower_contract_year_id
			where f.field_id = #{fieldId}
			group by gcy.insurance_plan_id
			union
			select cc.insurance_plan_id
			from field f
			join annual_field_detail afd on afd.field_id = f.field_id
			join annual_field_crop afc on afc.annual_field_detail_id = afd.annual_field_detail_id
			join crop_commodity cc on cc.crop_commodity_id = afc.crop_commodity_id
			where f.field_id = #{fieldId}
			group by cc.insurance_plan_id
		)
		order by t.insurance_plan_id
	</select> 

</mapper>
