<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.InventoryBerriesMapper">

	<resultMap id="InventoryBerriesDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.InventoryBerriesDto">
		<id property="inventoryBerriesGuid" column="inventory_berries_guid" javaType="java.lang.String" jdbcType="VARCHAR" />

		<result property="inventoryFieldGuid" column="inventory_field_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="cropCommodityId" column="crop_commodity_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="cropVarietyId" column="crop_variety_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="plantInsurabilityTypeCode" column="plant_insurability_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="plantedYear" column="planted_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="plantedAcres" column="planted_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="rowSpacing" column="row_spacing" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="plantSpacing" column="plant_spacing" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="totalPlants" column="total_plants" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="isQuantityInsurableInd" column="is_quantity_insurable_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isPlantInsurableInd" column="is_plant_insurable_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="bogId" column="bog_id" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="bogMowedDate" column="bog_mowed_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="bogRenovatedDate" column="bog_renovated_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="isHarvestedInd" column="is_harvested_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />

		<result property="cropCommodityName" column="crop_commodity_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="cropVarietyName" column="crop_variety_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		
	</resultMap>
	
	
    <sql id="selectColumns">
	select t.inventory_berries_guid, 
		t.inventory_field_guid, 
		t.crop_commodity_id, 
		t.crop_variety_id, 
		t.plant_insurability_type_code,
		t.planted_year, 
		t.planted_acres, 
		t.row_spacing, 
		t.plant_spacing, 
		t.total_plants, 
		t.is_quantity_insurable_ind, 
		t.is_plant_insurable_ind, 
		t.bog_id, 
		t.bog_mowed_date, 
		t.bog_renovated_date, 
		t.is_harvested_ind, 
		t.create_user, 
		t.create_date, 
		t.update_user, 
		t.update_date, 
		cc.commodity_name as crop_commodity_name, 
		cv.variety_name as crop_variety_name
    </sql>
    
    
	<select id="fetch" resultMap="InventoryBerriesDtoMap">
		<include refid="selectColumns"/>
		from inventory_berries t
		left join crop_commodity cc on cc.crop_commodity_id = t.crop_commodity_id
		left join crop_variety cv on cv.crop_variety_id = t.crop_variety_id
		where t.inventory_berries_guid = #{inventoryBerriesGuid}
	</select>

	<insert id="insert">
		<selectKey keyProperty="inventoryBerriesGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		insert into inventory_berries(
			inventory_berries_guid,
			inventory_field_guid,
			crop_commodity_id,
			crop_variety_id,
			plant_insurability_type_code,
			planted_year ,
			planted_acres,
			row_spacing,
			plant_spacing,
			total_plants,
			is_quantity_insurable_ind,
			is_plant_insurable_ind,
			bog_id,
			bog_mowed_date,
			bog_renovated_date,
			is_harvested_ind,
			create_user, 
			create_date, 
			update_user, 
			update_date)
		values (
			#{inventoryBerriesGuid},
			#{dto.inventoryFieldGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.cropVarietyId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.plantInsurabilityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.plantedYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.plantedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.rowSpacing, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.plantSpacing, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.totalPlants, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.isQuantityInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isPlantInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.bogId, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.bogMowedDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN},
			#{dto.bogRenovatedDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN},
			#{dto.isHarvestedInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		update inventory_berries
		set crop_commodity_id = #{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			crop_variety_id = #{dto.cropVarietyId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			plant_insurability_type_code = #{dto.plantInsurabilityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			planted_year  = #{dto.plantedYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			planted_acres = #{dto.plantedAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			row_spacing = #{dto.rowSpacing, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			plant_spacing = #{dto.plantSpacing, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			total_plants = #{dto.totalPlants, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			is_quantity_insurable_ind = #{dto.isQuantityInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_plant_insurable_ind = #{dto.isPlantInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			bog_id = #{dto.bogId, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			bog_mowed_date = #{dto.bogMowedDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}, 
			bog_renovated_date = #{dto.bogRenovatedDate, javaType=java.util.Date , jdbcType=TIMESTAMP, mode=IN}, 
			is_harvested_ind = #{dto.isHarvestedInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		where inventory_berries_guid = #{dto.inventoryBerriesGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}
	</update> 

	<delete id="delete">
		delete from inventory_berries where inventory_berries_guid = #{inventoryBerriesGuid}
	</delete>

	<delete id="deleteForInventoryField">
		delete from inventory_berries where inventory_field_guid = #{inventoryFieldGuid}
	</delete>
	
	<delete id="deleteForField">
		delete from inventory_berries where inventory_field_guid in
		(select t.inventory_field_guid from inventory_field t where t.field_id = #{fieldId})
	</delete>

	<delete id="deleteForInventoryContract">
		delete from inventory_berries t
		where t.inventory_field_guid in (select invf.inventory_field_guid
		 								 from inventory_contract inv
										 join grower_contract_year gcy on gcy.contract_id = inv.contract_id and gcy.crop_year = inv.crop_year
										 join contracted_field_detail cfd on cfd.grower_contract_year_id = gcy.grower_contract_year_id
										 join annual_field_detail afd on afd.annual_field_detail_id = cfd.annual_field_detail_id
										 join inventory_field invf on invf.field_id = afd.field_id 
					         						              and invf.crop_year = afd.crop_year 
					                 						      and invf.insurance_plan_id = gcy.insurance_plan_id
										 where inv.inventory_contract_guid = #{inventoryContractGuid}
										 )
	</delete>
		
	<select id="select" resultMap="InventoryBerriesDtoMap">
		<include refid="selectColumns"/>
		from inventory_berries t
		left join crop_commodity cc on cc.crop_commodity_id = t.crop_commodity_id
		left join crop_variety cv on cv.crop_variety_id = t.crop_variety_id
		where t.inventory_field_guid = #{inventoryFieldGuid}
		order by t.inventory_berries_guid
	</select> 
	
	<select id="selectForRollover" resultMap="InventoryBerriesDtoMap">
		<include refid="selectColumns"/>
		from inventory_berries t
		join inventory_field ifd on ifd.inventory_field_guid = t.inventory_field_guid
		left join crop_commodity cc on cc.crop_commodity_id = t.crop_commodity_id
		left join crop_variety cv on cv.crop_variety_id = t.crop_variety_id		
		where ifd.field_id = #{fieldId}
		  and ifd.crop_year = #{cropYear}
		  and ifd.insurance_plan_id = #{insurancePlanId}
		  and ifd.planting_number = #{plantingNumber}
	</select>
</mapper>
