<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.InventorySeededForageMapper">

	<resultMap id="InventorySeededForageDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.InventorySeededForageDto">
		<id property="inventorySeededForageGuid" column="inventory_seeded_forage_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="inventoryFieldGuid" column="inventory_field_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="cropCommodityId" column="crop_commodity_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="cropVarietyId" column="crop_variety_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="cropVarietyName" column="crop_variety_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="commodityTypeCode" column="commodity_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="fieldAcres" column="field_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="seedingYear" column="seeding_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="seedingDate" column="seeding_date" javaType="java.util.Date" jdbcType="DATE" />
		<result property="isIrrigatedInd" column="is_irrigated_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="isQuantityInsurableInd" column="is_quantity_insurable_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="plantInsurabilityTypeCode" column="plant_insurability_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="isAwpEligibleInd" column="is_awp_eligible_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
		<result property="linkedInventoryFieldGuid" column="linked_inventory_field_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="linkedUnderseededCropVarietyId" column="linked_underseeded_crop_variety_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="linkedVarietyName" column="linked_variety_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="linkedUnderseededAcres" column="linked_underseeded_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		
		<result property="commodityTypeDescription" column="commodity_type_description" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="totalFieldAcres" column="total_field_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="plantDurationTypeCode" column="plant_duration_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />

	</resultMap>
	
	
    <sql id="selectColumns">
		select isf.inventory_seeded_forage_guid, 
			isf.inventory_field_guid, 
			isf.crop_commodity_id, 
			isf.crop_variety_id,
			cv.variety_name as crop_variety_name, 
			isf.commodity_type_code, 
			isf.field_acres, 
			isf.seeding_year, 
			isf.seeding_date,
			isf.is_irrigated_ind, 
			isf.is_quantity_insurable_ind, 
			isf.plant_insurability_type_code, 
			isf.is_awp_eligible_ind,
			isf.create_user, 
			isf.create_date, 
			isf.update_user, 
			isf.update_date
    </sql>
    
    
	<select id="fetch" resultMap="InventorySeededForageDtoMap">
		<include refid="selectColumns"/>
		from inventory_seeded_forage isf
		left join crop_variety cv on cv.crop_variety_id = isf.crop_variety_id
		where isf.inventory_seeded_forage_guid = #{inventorySeededForageGuid}
	</select>

	<select id="fetchSimple" resultMap="InventorySeededForageDtoMap">
		select t.inventory_seeded_forage_guid, 
			t.inventory_field_guid, 
			t.crop_commodity_id, 
			t.crop_variety_id, 
			t.commodity_type_code, 
			t.field_acres, 
			t.seeding_year,
			t.seeding_date, 
			t.is_irrigated_ind, 
			t.is_quantity_insurable_ind, 
			t.plant_insurability_type_code, 
			t.is_awp_eligible_ind, 
			t.create_user, 
			t.create_date, 
			t.update_user, 
			t.update_date
		from inventory_seeded_forage t
		where t.inventory_seeded_forage_guid = #{inventorySeededForageGuid}
	</select>	
 
	
	<insert id="insert">
		<selectKey keyProperty="inventorySeededForageGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		insert into inventory_seeded_forage(
			inventory_seeded_forage_guid,
			inventory_field_guid,
			crop_commodity_id,
			crop_variety_id,
			commodity_type_code,
			field_acres,
			seeding_year,
			seeding_date,
			is_irrigated_ind,
			is_quantity_insurable_ind,
			plant_insurability_type_code,
			is_awp_eligible_ind,
			create_user, 
			create_date, 
			update_user, 
			update_date)
		values (
			#{inventorySeededForageGuid},
			#{dto.inventoryFieldGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.cropVarietyId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.commodityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.fieldAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.seedingYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.seedingDate, javaType=java.util.Date, jdbcType=DATE, mode=IN},
			#{dto.isIrrigatedInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.isQuantityInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.plantInsurabilityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.isAwpEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		update inventory_seeded_forage
		set crop_commodity_id = #{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			crop_variety_id = #{dto.cropVarietyId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			commodity_type_code = #{dto.commodityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			field_acres = #{dto.fieldAcres, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			seeding_year = #{dto.seedingYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			seeding_date = #{dto.seedingDate, javaType=java.util.Date , jdbcType=DATE, mode=IN}, 			
			is_irrigated_ind = #{dto.isIrrigatedInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			is_quantity_insurable_ind = #{dto.isQuantityInsurableInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			plant_insurability_type_code = #{dto.plantInsurabilityTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}, 
			is_awp_eligible_ind = #{dto.isAwpEligibleInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		where inventory_seeded_forage_guid = #{dto.inventorySeededForageGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}
	</update> 

	<delete id="delete">
		delete from inventory_seeded_forage where inventory_seeded_forage_guid = #{inventorySeededForageGuid}
	</delete>

	<delete id="deleteForInventoryField">
		delete from inventory_seeded_forage where inventory_field_guid = #{inventoryFieldGuid}
	</delete>
	
	<delete id="deleteForField">
		delete from inventory_seeded_forage where inventory_field_guid in
		(select t.inventory_field_guid from inventory_field t where t.field_id = #{fieldId})
	</delete>

	<delete id="deleteForInventoryContract">
		delete from inventory_seeded_forage t
		where t.inventory_field_guid in (select invf.inventory_field_guid
		 								 from inventory_contract inv
										 join grower_contract_year gcy on gcy.contract_id = inv.contract_id and gcy.crop_year = inv.crop_year
										join contracted_field_detail cfd on cfd.grower_contract_year_id = gcy.grower_contract_year_id
										 join annual_field_detail afd on afd.annual_field_detail_id = cfd.annual_field_detail_id
										 join inventory_field invf on invf.field_id = afd.field_id 
					         						              and invf.crop_year = afd.crop_year 
					                 						      and invf.insurance_plan_id = gcy.insurance_plan_id
										 where inv.inventory_contract_guid = #{inventoryContractGuid}
										 )
	</delete>
		
	<select id="select" resultMap="InventorySeededForageDtoMap">
		<include refid="selectColumns"/>
		, inv.inventory_field_guid as linked_inventory_field_guid
		, inv.underseeded_crop_variety_id as linked_underseeded_crop_variety_id
		, gcv.variety_name as linked_variety_name
		, inv.underseeded_acres as linked_underseeded_acres
		from inventory_seeded_forage isf
		left join crop_variety cv on cv.crop_variety_id = isf.crop_variety_id
		left join inventory_field inv on inv.underseeded_inventory_seeded_forage_guid = isf.inventory_seeded_forage_guid
		left join crop_variety gcv on gcv.crop_variety_id = inv.underseeded_crop_variety_id
		where isf.inventory_field_guid = #{inventoryFieldGuid}
		order by cv.variety_name, isf.seeding_year, isf.seeding_date
	</select> 

	<select id="selectForRollover" resultMap="InventorySeededForageDtoMap">
		select  
			isf.crop_commodity_id, 
			isf.crop_variety_id,
			cv.variety_name as crop_variety_name, 
			isf.commodity_type_code, 
			isf.field_acres, 
			isf.seeding_year, 
			isf.is_irrigated_ind, 
			isf.is_quantity_insurable_ind, 
			isf.plant_insurability_type_code, 
			isf.is_awp_eligible_ind
		from inventory_seeded_forage isf
		join inventory_field ifd on ifd.inventory_field_guid = isf.inventory_field_guid
		left join crop_variety cv on cv.crop_variety_id = isf.crop_variety_id
		where ifd.field_id = #{fieldId}
		  and ifd.crop_year = #{cropYear}
		  and ifd.insurance_plan_id = #{insurancePlanId}
		  and ifd.planting_number = #{plantingNumber}
		order by cv.variety_name, isf.seeding_year, isf.seeding_date
	</select>

	
	<select id="selectForDeclaredYield" resultMap="InventorySeededForageDtoMap">
		<include refid="selectColumns"/>
			, ctc.description AS commodity_type_description
			, cc.plant_duration_type_code 
		from inventory_seeded_forage isf
		left join crop_variety cv on cv.crop_variety_id = isf.crop_variety_id
		left join crop_commodity cc on cc.crop_commodity_id = isf.crop_commodity_id
		left join commodity_type_code ctc on ctc.commodity_type_code = isf.commodity_type_code
		where isf.inventory_field_guid = #{inventoryFieldGuid}
		order by cv.variety_name, isf.seeding_year, isf.seeding_date
	</select>

	<select id="selectForDopContractCommodityTotals" resultMap="InventorySeededForageDtoMap">
		SELECT  ctc.description AS commodity_type_description, 
				isf.commodity_type_code, 
				cc.crop_commodity_id,
				cc.plant_duration_type_code,
				sum(field_acres) as total_field_acres
		FROM inventory_seeded_forage isf
		JOIN inventory_field inv ON inv.inventory_field_guid = isf.inventory_field_guid
		JOIN annual_field_detail afd ON afd.field_id = inv.field_id AND afd.crop_year = inv.crop_year
		JOIN contracted_field_detail cfd ON cfd.annual_field_detail_id = afd.annual_field_detail_id
		JOIN grower_contract_year gcy ON gcy.grower_contract_year_id = cfd.grower_contract_year_id AND gcy.insurance_plan_id = inv.insurance_plan_id
		JOIN commodity_type_code ctc ON ctc.commodity_type_code = isf.commodity_type_code
		JOIN crop_commodity cc on cc.crop_commodity_id = ctc.crop_commodity_id
		WHERE gcy.contract_id = #{contractId}
		AND gcy.crop_year = #{cropYear}
		AND isf.is_quantity_insurable_ind = 'Y'
		GROUP BY ctc.description, isf.commodity_type_code, cc.crop_commodity_id, cc.plant_duration_type_code
		ORDER BY ctc.description
	</select>
	
	<select id="selectForVerifiedYield" resultMap="InventorySeededForageDtoMap">
		<include refid="selectColumns"/>
		from inventory_seeded_forage isf
		join crop_variety cv on cv.crop_variety_id = isf.crop_variety_id -- Not a left join, because we only want records with a seeded crop.
		where isf.inventory_field_guid = #{inventoryFieldGuid}
		order by cv.variety_name, isf.seeding_year, isf.seeding_date
	</select>	
	
</mapper>
