<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.LegalLandRiskAreaXrefMapper">

	<resultMap id="LegalLandRiskAreaXrefDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.LegalLandRiskAreaXrefDto">

		<id property="legalLandId" column="legal_land_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<id property="riskAreaId" column="risk_area_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />

		<result property="activeFromCropYear" column="active_from_crop_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="activeToCropYear" column="active_to_crop_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
	</resultMap>
	
    <sql id="selectColumns">
		SELECT  legal_land_id,
				risk_area_id,
				active_from_crop_year,
				active_to_crop_year,
				create_user, 
				create_date, 
				update_user, 
				update_date
    </sql>
	
	<select id="fetchAll" resultMap="LegalLandRiskAreaXrefDtoMap">  
		<include refid="selectColumns"/>
		FROM legal_land_risk_area_xref
		ORDER BY legal_land_id
	</select> 

	
	<select id="fetch" resultMap="LegalLandRiskAreaXrefDtoMap">
		<include refid="selectColumns"/>
		FROM legal_land_risk_area_xref t
		WHERE t.legal_land_id = #{legalLandId}
		AND t.risk_area_id = #{riskAreaId}
	</select>
	
	<insert id="insert">

		INSERT INTO legal_land_risk_area_xref (
			legal_land_id,
			risk_area_id,
			active_from_crop_year,
			active_to_crop_year,
			create_user,
			create_date,
			update_user,
			update_date
		) 
		VALUES (
			#{dto.legalLandId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.riskAreaId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.activeFromCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.activeToCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		 )
	</insert> 

	<update id="update">
		UPDATE legal_land_risk_area_xref SET
			active_from_crop_year = #{dto.activeFromCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			active_to_crop_year = #{dto.activeToCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			update_date = now()
		 WHERE legal_land_id = #{dto.legalLandId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}
		 AND risk_area_id = #{dto.riskAreaId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}
	</update> 

	<delete id="delete">
		DELETE FROM legal_land_risk_area_xref t 
		WHERE t.legal_land_id = #{legalLandId}
		AND t.risk_area_id = #{riskAreaId}
	</delete>

	<delete id="deleteForLegalLand">
		DELETE FROM legal_land_risk_area_xref t 
		WHERE t.legal_land_id = #{legalLandId}
	</delete>	
</mapper>
