<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.VerifiedYieldSummaryMapper">

	<resultMap id="VerifiedYieldSummaryDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.VerifiedYieldSummaryDto">

		<id property="verifiedYieldSummaryGuid" column="verified_yield_summary_guid" javaType="java.lang.String" jdbcType="VARCHAR" />

		<result property="verifiedYieldContractGuid" column="verified_yield_contract_guid" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="cropCommodityId" column="crop_commodity_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="isPedigreeInd" column="is_pedigree_ind" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="harvestedYield" column="harvested_yield" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="harvestedYieldPerAcre" column="harvested_yield_per_acre" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="appraisedYield" column="appraised_yield" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="assessedYield" column="assessed_yield" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="yieldToCount" column="yield_to_count" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="yieldPercentPy" column="yield_percent_py" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="productionGuarantee" column="production_guarantee" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="probableYield" column="probable_yield" javaType="java.lang.Double" jdbcType="NUMERIC" />

		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		
		<result property="cropCommodityName" column="crop_commodity_name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="totalInsuredAcres" column="total_insured_acres" javaType="java.lang.Double" jdbcType="NUMERIC" />

	</resultMap>
	
	
    <sql id="selectColumns">
		select t.verified_yield_summary_guid, 
			   t.verified_yield_contract_guid, 
			   t.crop_commodity_id, 
			   t.is_pedigree_ind, 
			   t.harvested_yield, 
			   t.harvested_yield_per_acre, 
			   t.appraised_yield, 
			   t.assessed_yield, 
			   t.yield_to_count, 
			   t.yield_percent_py, 
			   t.production_guarantee, 
			   t.probable_yield, 
			   t.create_user, 
			   t.create_date, 
			   t.update_user, 
			   t.update_date
    </sql>
    
    <select id="fetch" resultMap="VerifiedYieldSummaryDtoMap">
		<include refid="selectColumns"/>,
		cc.commodity_name as crop_commodity_name,
		icc.total_seeded_acres as total_insured_acres
		from verified_yield_summary t
		join crop_commodity cc ON cc.crop_commodity_id = t.crop_commodity_id
		join verified_yield_contract vyc on vyc.verified_yield_contract_guid = t.verified_yield_contract_guid
		left join inventory_contract ic on ic.contract_id = vyc.contract_id 
									   and ic.crop_year = vyc.crop_year
		left join inventory_contract_commodity icc on icc.inventory_contract_guid = ic.inventory_contract_guid 
												   and icc.crop_commodity_id = t.crop_commodity_id
												   and icc.is_pedigree_ind = t.is_pedigree_ind
		where t.verified_yield_summary_guid = #{verifiedYieldSummaryGuid}
	</select>

	<insert id="insert">
		<selectKey keyProperty="verifiedYieldSummaryGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		insert into verified_yield_summary(
			verified_yield_summary_guid,
			verified_yield_contract_guid,
			crop_commodity_id,
			is_pedigree_ind,
			harvested_yield,
			harvested_yield_per_acre,
			appraised_yield,
			assessed_yield,
			yield_to_count,
			yield_percent_py,
			production_guarantee,
			probable_yield,
			create_user, 
			create_date, 
			update_user, 
			update_date
		) values (
			#{verifiedYieldSummaryGuid},
			#{dto.verifiedYieldContractGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.isPedigreeInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN},
			#{dto.harvestedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.harvestedYieldPerAcre, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.appraisedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.assessedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.yieldToCount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.yieldPercentPy, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.productionGuarantee, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{dto.probableYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		update verified_yield_summary
		set crop_commodity_id = #{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			is_pedigree_ind = #{dto.isPedigreeInd, javaType=java.lang.Boolean , jdbcType=VARCHAR, mode=IN}, 
			harvested_yield = #{dto.harvestedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			harvested_yield_per_acre = #{dto.harvestedYieldPerAcre, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			appraised_yield = #{dto.appraisedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			assessed_yield = #{dto.assessedYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			yield_to_count = #{dto.yieldToCount, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			yield_percent_py = #{dto.yieldPercentPy, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			production_guarantee = #{dto.productionGuarantee, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			probable_yield = #{dto.probableYield, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		where verified_yield_summary_guid = #{dto.verifiedYieldSummaryGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}
	</update> 

	<delete id="delete">
		delete from verified_yield_summary where verified_yield_summary_guid = #{verifiedYieldSummaryGuid}
	</delete>
	
	<delete id="deleteForVerifiedYieldContract">
		delete from verified_yield_summary where verified_yield_contract_guid = #{verifiedYieldContractGuid}
	</delete>
			
	<select id="selectForVerifiedYieldContract" resultMap="VerifiedYieldSummaryDtoMap">
		<include refid="selectColumns"/>,
		cc.commodity_name as crop_commodity_name,
		icc.total_seeded_acres as total_insured_acres
		from verified_yield_summary t
		join crop_commodity cc ON cc.crop_commodity_id = t.crop_commodity_id
		join verified_yield_contract vyc on vyc.verified_yield_contract_guid = t.verified_yield_contract_guid
		left join inventory_contract ic on ic.contract_id = vyc.contract_id 
									   and ic.crop_year = vyc.crop_year
		left join inventory_contract_commodity icc on icc.inventory_contract_guid = ic.inventory_contract_guid 
												   and icc.crop_commodity_id = t.crop_commodity_id
												   and icc.is_pedigree_ind = t.is_pedigree_ind
		where t.verified_yield_contract_guid = #{verifiedYieldContractGuid}
		order by cc.commodity_name, t.is_pedigree_ind
	</select>

</mapper>
