<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dao.mybatis.mapper.YieldMeasUnitConversionMapper">

	<resultMap id="YieldMeasUnitConversionDtoMap" type="ca.bc.gov.mal.cirras.underwriting.persistence.v1.dto.YieldMeasUnitConversionDto">
	
		<id property="yieldMeasUnitConversionGuid" column="yield_meas_unit_conversion_guid" javaType="java.lang.String" jdbcType="VARCHAR" />

		<result property="cropCommodityId" column="crop_commodity_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="srcYieldMeasUnitTypeCode" column="src_yield_meas_unit_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="targetYieldMeasUnitTypeCode" column="target_yield_meas_unit_type_code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="versionNumber" column="version_number" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="effectiveCropYear" column="effective_crop_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="expiryCropYear" column="expiry_crop_year" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="conversionFactor" column="conversion_factor" javaType="java.lang.Double" jdbcType="NUMERIC" />

		<result property="createUser" column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="update_user" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />

		<!-- Extended columns -->
		<result property="insurancePlanId" column="insurance_plan_id" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="commodityName" column="commodity_name" javaType="java.lang.String" jdbcType="VARCHAR" />

	</resultMap>
	
    <sql id="selectColumns">
		SELECT ymuc.yield_meas_unit_conversion_guid, 
			   ymuc.crop_commodity_id, 
			   ymuc.src_yield_meas_unit_type_code, 
			   ymuc.target_yield_meas_unit_type_code, 
			   ymuc.version_number, 
			   ymuc.effective_crop_year, 
			   ymuc.expiry_crop_year, 
			   ymuc.conversion_factor, 
			   ymuc.create_user, 
			   ymuc.create_date, 
			   ymuc.update_user, 
			   ymuc.update_date
	</sql>
	
	<select id="fetchAll" resultMap="YieldMeasUnitConversionDtoMap">  
		<include refid="selectColumns"/>
		FROM yield_meas_unit_conversion ymuc
		ORDER BY ymuc.effective_crop_year, 
			     ymuc.crop_commodity_id, 
			     ymuc.src_yield_meas_unit_type_code, 
			     ymuc.target_yield_meas_unit_type_code
	</select>
	
	<select id="fetch" resultMap="YieldMeasUnitConversionDtoMap">
		<include refid="selectColumns"/>
		FROM yield_meas_unit_conversion ymuc
		WHERE ymuc.yield_meas_unit_conversion_guid = #{yieldMeasUnitConversionGuid}
	</select>

	<select id="selectByYearAndPlan" resultMap="YieldMeasUnitConversionDtoMap">
		<include refid="selectColumns"/> ,
		cc.insurance_plan_id
		FROM yield_meas_unit_conversion ymuc
		JOIN crop_commodity cc on cc.crop_commodity_id = ymuc.crop_commodity_id
		WHERE #{cropYear} BETWEEN ymuc.effective_crop_year AND ymuc.expiry_crop_year
		  AND cc.insurance_plan_id = #{insurancePlanId}
		ORDER BY ymuc.crop_commodity_id, 
			     ymuc.src_yield_meas_unit_type_code, 
			     ymuc.target_yield_meas_unit_type_code
	</select>
	
	<select id="selectLatestVersionByPlan" resultMap="YieldMeasUnitConversionDtoMap">
		SELECT ymuc.yield_meas_unit_conversion_guid, 
			   ymuc.src_yield_meas_unit_type_code, 
			   ymuc.target_yield_meas_unit_type_code, 
			   ymuc.version_number, 
			   ymuc.effective_crop_year, 
			   ymuc.expiry_crop_year, 
			   ymuc.conversion_factor, 
			   ymuc.create_user, 
			   ymuc.create_date, 
			   ymuc.update_user, 
			   ymuc.update_date,
			   cc.insurance_plan_id, 
			   cc.commodity_name, 
			   cc.crop_commodity_id
		FROM crop_commodity cc
		LEFT JOIN 
		( SELECT *
		  FROM yield_meas_unit_conversion y
		  WHERE y.version_number = 
		 	(SELECT max(t.version_number) FROM yield_meas_unit_conversion t 
			 WHERE t.crop_commodity_id = y.crop_commodity_id 
			 AND t.src_yield_meas_unit_type_code = y.src_yield_meas_unit_type_code
			 AND t.target_yield_meas_unit_type_code = y.target_yield_meas_unit_type_code
			 GROUP BY t.crop_commodity_id, t.src_yield_meas_unit_type_code, t.target_yield_meas_unit_type_code
			)
		 AND y.src_yield_meas_unit_type_code = #{srcYieldMeasUnitTypeCode}
		 AND y.target_yield_meas_unit_type_code = #{targetYieldMeasUnitTypeCode}
		) ymuc on ymuc.crop_commodity_id = cc.crop_commodity_id
		WHERE cc.insurance_plan_id = #{insurancePlanId}
		and is_yield_crop_ind = 'Y'
		ORDER BY cc.commodity_name, 
			     ymuc.src_yield_meas_unit_type_code, 
			     ymuc.target_yield_meas_unit_type_code
	</select>
		
	<insert id="insert">
		<selectKey keyProperty="yieldMeasUnitConversionGuid" resultType="java.lang.String" order="BEFORE"> 
			select replace(cast(gen_random_uuid() as text), '-', '')
		</selectKey>

		INSERT INTO yield_meas_unit_conversion(
			yield_meas_unit_conversion_guid, 
			crop_commodity_id, 
			src_yield_meas_unit_type_code, 
			target_yield_meas_unit_type_code, 
			version_number, 
			effective_crop_year, 
			expiry_crop_year, 
			conversion_factor, 
			create_user, 
			create_date, 
			update_user, 
			update_date
		) VALUES (
			#{yieldMeasUnitConversionGuid},
			#{dto.cropCommodityId, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.srcYieldMeasUnitTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.targetYieldMeasUnitTypeCode, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN},
			#{dto.versionNumber, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.effectiveCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.expiryCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN},
			#{dto.conversionFactor, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN},
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now(),
			#{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
			now()
		)
	</insert> 

	<update id="update">
		UPDATE yield_meas_unit_conversion
		SET version_number = #{dto.versionNumber, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			effective_crop_year = #{dto.effectiveCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			expiry_crop_year = #{dto.expiryCropYear, javaType=java.lang.Integer , jdbcType=NUMERIC, mode=IN}, 
			conversion_factor = #{dto.conversionFactor, javaType=java.lang.Double , jdbcType=NUMERIC, mode=IN}, 
			update_user = #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}, 
			update_date = now()
		WHERE yield_meas_unit_conversion_guid = #{dto.yieldMeasUnitConversionGuid, javaType=java.lang.String , jdbcType=VARCHAR, mode=IN}
	</update> 

	<delete id="delete">
		DELETE FROM yield_meas_unit_conversion t WHERE t.yield_meas_unit_conversion_guid = #{yieldMeasUnitConversionGuid}
	</delete>
	
</mapper>
