div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.justify-center {
    justify-content: center;
    text-align: center;
}