<cuws-base-dialog [titleLabel]="titleLabel" [type]="dialogType">
    <div mat-dialog-content class="grow">

        <form [formGroup]="addFieldForm">

        <mat-radio-group class="search-field-rb-group radio-group" formControlName="choiceSelected"> 
            <mat-radio-button *ngFor="let option of searchChoices" [value]="option.value" class="search-field-rb-group radio-button" labelPosition="before">
                {{ option.name }}
            </mat-radio-button>
        </mat-radio-group>

        <div class="grid-container">
            <div class="grid-item">
                {{ selectedChoice }} 
            </div>
            <div></div>
            <div class="grid-item">
                <mat-form-field appearance="fill" [style.width.px]=580>
                    <input matInput formControlName="searchLegalLandOrFieldId" maxlength="128">
                    <mat-hint *ngIf="showSearchLegalMsg">Please enter at least 3 symbols</mat-hint>
                </mat-form-field>
            </div>
            <div class="grid-item">
                <button *ngIf="addFieldForm.controls.choiceSelected.value !== 'searchFieldLocation'" mat-raised-button class="secondary" (click)="onLegalLandSearch()" style=" margin-left:60px;">
                    <mat-icon style="padding-right: 4px; margin-right: 4px;">search</mat-icon>Search
                </button>
            </div> 
        </div>

    </form>


</div>
<div mat-dialog-actions align="end">
    <!-- <span *ngIf="showProceedButton" style="padding-right:160px;">To save field, click done and then click save on the main screen.</span>
    <button mat-raised-button class="secondary" (click)="onCancelChanges()">Cancel</button>
    <button *ngIf="showProceedButton" mat-raised-button class="primary" (click)="onProceed()">Done</button> -->
</div>
</cuws-base-dialog>