.grid-container {
    display: grid;
    grid-template-columns: auto auto; // auto;
    padding: 10px 0;
    //justify-content: start;
    align-items: center;

    .grid-item {

        ::ng-deep  .mdc-text-field--filled {

        /* change the background color */
        .mat-mdc-form-field-focus-overlay {
            background-color: transparent !important;
        }
        }
    }
}

.search-field-rb-group {
  &.radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0 25px 0;
    align-items: flex-start;
  }
  
  &.radio-button {
    margin-right: 50px;
  }
}