<base-wrapper [errorState]="errorState"> 
    <div class="base-container">
        <div class="base-container flex-y"> 
        
        <div class="policy-header-container" style="display: grid; grid-template-columns: auto 188px  170px 80px;">
            <div class="grower-header">
                {{ ( (growerContract && growerContract.growerName) ? growerContract.growerName : "" ) | titlecase}} 
                ({{ ((dopYieldContract && dopYieldContract.insurancePlanId) ? getInsPlanName(dopYieldContract.insurancePlanId) : "" ) | titlecase }})
                {{ (growerContract && growerContract.policyNumber) ? growerContract.policyNumber : "" }}   
            </div>
            <div style="display: grid; grid-template-columns: 28px 160px;">
                <!-- unsaved messages -->
                <div *ngIf="isUnsaved && !hasVerifiedYieldData">
                    <mat-icon [ngStyle]="{'color':'orange', 'width':'24px'}">warning</mat-icon>
                </div>
                <div *ngIf="isUnsaved && !hasVerifiedYieldData" class="unsaved-changes">
                    Unsaved Changes 
                </div>
            </div>
            <div matTooltip="Changes must be saved before download is possible.">
                <!-- <button mat-raised-button class="secondary button-large-text" [disabled]="isUnsaved"
                (click)="onPrint()">
                    <mat-icon class="button-mat-icon">download</mat-icon>Download
                </button> -->
            </div>
            <div>
                <!-- <button 
                    *ngIf="securityUtilService.canEditDop() && !hasVerifiedYieldData" 
                    mat-raised-button 
                    class="primary button-large-text" 
                    [disabled]="!isUnsaved" 
                    (click)="onSave()">
                        Save
                </button> -->
            </div>
        </div>        
            
        <cirras-grower-contract-header
            [growerContract]="growerContract"
        ></cirras-grower-contract-header>  

        <!-- TODO: The policy has yield message -->
        <!-- <div *ngIf="hasVerifiedYieldData == true" class="message-container">
            <div class="has-yield-warning">
                <mat-icon>warning</mat-icon>            
                <span class="warning-message">
                    DOP edits are not permitted when a policy has Verified Yield data.  
                    If you need to update the DOP, delete the Verified Yield data first.</span> 
            </div>
        </div> -->

        <form [formGroup]="getViewModel().formGroup">

            <div class="plcy-inv-form-header" [ngStyle]="setFormStyles()">
                <div>
                    <h2>Declaration of Production</h2>
                    <p>Last Updated: {{ ((dopYieldContract && dopYieldContract.dopUpdateTimestamp) ? dopYieldContract.dopUpdateTimestamp : "" ) | date }}</p>
                </div>            
                
                <div> <!-- TODO: -->
                    <!-- <uw-comments-button
                        [underwritingCommentTypeCode]="'DOP'"
                        [growerContractYearId]="dopYieldContract?.growerContractYearId"
                        [declaredYieldContractGuid]="dopYieldContract?.declaredYieldContractGuid"
                        [policyNumber]="growerContract?.policyNumber"
                        [growerName]="growerContract?.growerName"
                        [growerNumber]="growerContract?.growerNumber"
                        [uwComments]="dopYieldContract?.uwComments"
                        (onDone)="onDopCommentsDone($event)"></uw-comments-button> -->
                </div>
                <div> <!-- TODO: -->
                    <!-- <button *ngIf="!hasVerifiedYieldData"
                        mat-raised-button 
                        class="secondary" 
                        class="header-button"  
                        matTooltip="Clear unsaved changes"
                        (click)="onCancel()">
                        Clear Changes
                    </button> -->
                </div>
                <div class="vertical-line"></div>
                <div> <!-- TODO: -->
                    <!-- <button *ngIf="securityUtilService.canDeleteDop() && !hasVerifiedYieldData &&
                                    dopYieldContract && 
                                    dopYieldContract.declaredYieldContractGuid" 
                                    mat-raised-button 
                                    class="secondary header-button-red" 
                                    (click)="onDeleteDop()">
                        <mat-icon class="button-mat-icon">delete_outlined</mat-icon>Reset DOP
                    </button> -->
                </div>
            </div>


            <div class="plcy-inv-fld-tbl-outer-wrapper flex-y-grow">

                <!-- TODO: field data -->
    
            </div>
        </form>
        </div>
    </div>
</base-wrapper>
