@import 'src/styles/variables';

::ng-deep .mat-mdc-dialog-container {
    font-size: $font-size;
    padding: 0;
    font-family: $font-family-main;
    min-width: 450px;

    h1:not(.not-dialog-title-bar) {
        background-color: $colour-header-background;
        color: $colour-white;
        padding: var(--cirras-underwriting-gutter-space);
        cursor: pointer;
        margin: 0;
        font-weight: normal;
        display: flex;
        font-family: $font-family-main;

        .spinner-header {
            margin-left: var(--cirras-underwriting-gutter-space);
            color: $colour-white;

            .mat-mdc-progress-spinner circle,
            .mat-mdc-progress-spinner circle {
                stroke: $colour-white;
            }
        }
    }

    ::ng-deep .mat-mdc-dialog-actions {
        margin: 0;
        background-color: #F2F2F2;
        border-top: solid 1px $colour-light-grey;
        padding: var(--cirras-underwriting-gutter-space);
    }

    ::ng-deep .desktop .mat-mdc-dialog-content.no-scroll {
        overflow-y: hidden;
    }

    ::ng-deep .desktop .mat-mdc-dialog-content.grow {
        overflow-y: auto !important;
        max-height: calc(var(--vh, 1vh) * 100 - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 135px);
    }

    ::ng-deep .mat-mdc-dialog-content {
        padding: var(--cirras-underwriting-gutter-space);
        margin: 0;
    }

    .table-search-header .search-and-filters {
        .input-clear-button {
            margin-left: 278px;
            position: relative;
            top: -30px;
            line-height: 0;
            height: 0;
            width: 0;
        }
    }

}
