@import '../../../styles/variables';

.related-policies{
  
  .mat-form-field-wrapper{
    padding-bottom: 0;
    width: 170px;
    height: 36px;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
     padding: 0; 
  }

  .mat-form-field-infix {
      padding: 0 0 0 0;
    }

  .mat-form-field-appearance-fill .mat-form-field-flex {
      border: 1px solid rgba(194, 194, 194, 1) !important;
      border-radius: 5px !important;
      padding: 0 !important;
  }

  .mat-select-value {
    padding-bottom: 10px;
    padding-left: 8px;
    font-family: $font-family-main;
  }
}