<div class="plcy-inv-field-box" [formGroup]="varietyFormGroup" style="width: 1030px;">
    
    <div class="inventory-cell inventory-border" style="width: 100px;">
        {{ dopYieldFieldVarietyBerries.plantedAcres }}
    </div>
    
    <div class="inventory-cell inventory-border" style="width: 180px;">
        {{ cropCommodityName | titlecase }}
    </div>

    <div class="inventory-cell inventory-border" style="width: 180px;">
       {{ dopYieldFieldVarietyBerries.cropVarietyName | titlecase }}
    </div>

    <div class="inventory-fill inventory-border" style="width: 100px;">
        <mat-form-field appearance="fill" style="width: 100px;">
            <input matInput matInputCommified type="text"
                    formControlName="soldShippedYield"
                    maxlength="14"
                    (keypress)="numberOnly($event)" 
                    (blur)="updateSoldShippedYield()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Sold/Shipped Yield is writeable">edit</mat-icon>
    </div>

    <div class="inventory-fill inventory-border" style="width: 100px;">
        <mat-form-field appearance="fill" style="width: 100px;">
            <input matInput matInputCommified type="text"
                    formControlName="salesYield"
                    maxlength="14"
                    (keypress)="numberOnly($event)" 
                    (blur)="updateSalesYield()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Abandonment Yield is writeable">edit</mat-icon>
    </div>

    <div class="inventory-fill inventory-border" style="width: 100px;">
        <mat-form-field appearance="fill" style="width: 100px;">
            <input matInput matInputCommified type="text"
                    formControlName="abandonmentYield"
                    maxlength="14"
                    (keypress)="numberOnly($event)" 
                    (blur)="updateAbandonmentYield()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Abandonment Yield is writeable">edit</mat-icon>
    </div>

    <div class="inventory-cell inventory-border" style="width: 100px;">
        {{ dopYieldFieldVarietyBerries.totalProduction }}
    </div>

     <div class="inventory-fill inventory-border" style="width: 100px;">
        <mat-form-field appearance="fill" style="width: 100px;">
            <input matInput matInputCommified type="text"
                    formControlName="totalProductionOverride"
                    maxlength="14"
                    (keypress)="numberOnly($event)" 
                    (blur)="updatetotalProductionOverride()">
        </mat-form-field>  
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Total Production Override is writeable">edit</mat-icon>
    </div>

    <!-- buttons -->
    <div class="inventory-cell inventory-border" style="width: 70px;">
        <!-- TODO -->
    </div>
</div>
