<cuws-base-dialog [titleLabel]="titleLabel" [type]="dialogType">

    <div mat-dialog-content>
        <div class="row-group-left">
            <span class="location-title">Location {{ dataReceived?.otherLegalDescription }}</span>

            <form [formGroup]="editLandForm">

                <mat-radio-group formControlName="choiceSelected">
                    <span class="location-subtitle">Rename Legal Land</span>
                    <mat-radio-button [value]="'rename'" (click)="onChoiceClick('rename')"></mat-radio-button>
                    <p>This change will be applied to all fields associated with that legal land, for all years. It is
                        intended
                        to fix a typo on a legal location that was never valid. This change will take place when the
                        inventory
                        is saved.</p>
                    <span class="location-subtitle">Replace Legal Land</span>
                    <mat-radio-button [value]="'replace'" (click)="onChoiceClick('replace')"></mat-radio-button>
                    <p>The change would affect only this field, in only this crop year. It is intended to change the
                        legal
                        location from one that was valid in prior years to a new one that is valid in this crop year.
                    </p>
                </mat-radio-group>

                <div>
                    <span class="location-subtitle">Legal Location <span style="color: red;">*</span></span>
                </div>
                <div style="display: grid; grid-template-columns: 6fr 1fr;">
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="searchLegal" (keydown)="clearAllForm()" maxlength="128">
                        <mat-hint *ngIf="showSearchLegalMsg">Please enter at least 3 symbols</mat-hint>
                    </mat-form-field>
                    <div class="location-button">
                        <button *ngIf="editLandForm.controls.choiceSelected.value == 'rename'" mat-raised-button
                            color="secondary" (click)="onLegalLandValidate()">
                            <mat-icon>check</mat-icon>
                            Validate
                        </button>
                        <button *ngIf="editLandForm.controls.choiceSelected.value == 'replace'" mat-raised-button
                            color="secondary" (click)="onLegalLandValidate()">
                            <mat-icon>search</mat-icon>
                            Search
                        </button>
                    </div>
                </div>

                <!-- Rename Legal Land -->
                <ng-container *ngIf="editLandForm.controls.choiceSelected.value == 'rename'">

                    <!-- Warning #1 -->
                    <p *ngIf="showNewLegalLandMessage" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        This legal location does not currently exist. If you continue, a new legal land will be created.
                    </p>

                    <!-- Warning #2 -->
                    <p *ngIf="renameLegalLandList?.isWarningLegalsWithSameLoc" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ renameLegalLandList.legalsWithSameLocMsg.message }}
                    </p>
                    <div *ngIf="renameLegalLandList?.legalsWithSameLocList?.length > 0"
                        class="legal-land-container same-location-legal-land-info">
                        <div class="border-left header border-top border-bottom padding">Primary Identifier</div>
                        <div class="border-left header border-top border-bottom border-right padding">Legal Description
                        </div>
                        <ng-container *ngFor="let element of renameLegalLandList.legalsWithSameLocList">
                            <div class="border-left border-bottom padding">
                                {{ element.primaryPropertyIdentifier }}
                            </div>
                            <div class="border-left border-bottom border-right padding">
                                {{ element.legalDescription }}
                            </div>
                        </ng-container>
                    </div>

                    <!-- Warning #3 -->
                    <p *ngIf="renameLegalLandList?.isWarningFieldOnOtherPolicy" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ renameLegalLandList.fieldOnOtherPolicyMsg.message }}
                    </p>
                    <div *ngIf="renameLegalLandList?.fieldOnOtherPolicyList?.length > 0"
                        class="legal-land-container field-on-other-policy">
                        <div class="border-left header border-top border-bottom padding">Field Name</div>
                        <div class="border-left header border-top border-bottom padding">Field ID</div>
                        <div class="border-left header border-top border-bottom border-right padding">Policy (Plan)
                        </div>
                        <ng-container *ngFor="let field of renameLegalLandList.fieldOnOtherPolicyList">
                            <div class="border-left border-bottom padding">
                                {{ field.fieldLabel }}
                            </div>
                            <div class="border-left border-bottom padding">
                                {{ field.fieldId }}
                            </div>
                            <div class="border-left border-bottom border-right padding">
                                {{ getPolicyAndPlan(field) }}
                            </div>
                        </ng-container>
                    </div>

                    <!-- Warning #4 -->
                    <p *ngIf="renameLegalLandList?.isWarningOtherFieldOnPolicy" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ renameLegalLandList.otherFieldOnPolicyMsg.message }}
                    </p>
                    <div *ngIf="renameLegalLandList?.otherFieldOnPolicyList?.length > 0"
                        class="legal-land-container field-on-other-policy">
                        <div class="border-left header border-top border-bottom padding">Field Name</div>
                        <div class="border-left header border-top border-bottom padding">Field ID</div>
                        <div class="border-left header border-top border-bottom border-right padding">Policy (Plan)
                        </div>
                        <ng-container *ngFor="let field of renameLegalLandList.otherFieldOnPolicyList">
                            <div class="border-left border-bottom padding">
                                {{ field.fieldLabel }}
                            </div>
                            <div class="border-left border-bottom padding">
                                {{ field.fieldId }}
                            </div>
                            <div class="border-left border-bottom border-right padding">
                                {{ getPolicyAndPlan(field) }}
                            </div>
                        </ng-container>
                    </div>

                    <!-- Warning #5 -->
                    <p *ngIf="renameLegalLandList?.isWarningOtherLegalData" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ renameLegalLandList.otherLegalDataMsg.message }}
                    </p>
                    <div *ngIf="renameLegalLandList?.otherLegalData" class="legal-land-container other-legal-land-info">
                        <div class="border-left header border-top border-bottom padding">Primary Identifier
                        </div>
                        <div class="border-left header border-top border-bottom padding">Legal Description</div>
                        <div class="border-left header border-top border-bottom border-right padding">Short Legal
                            Description</div>
                        <div style="display:contents">
                            <div class="border-left border-bottom padding">
                                {{ renameLegalLandList.otherLegalData.primaryPropertyIdentifier }}
                            </div>
                            <div class="border-left border-bottom padding">
                                {{ renameLegalLandList.otherLegalData.legalDescription }}
                            </div>
                            <div class="border-left border-bottom border-right padding">
                                {{ renameLegalLandList.otherLegalData.legalShortDescription }}
                            </div>
                        </div>
                    </div>

                </ng-container>

                <!-- Replace Legal Land -->
                <ng-container *ngIf="editLandForm.controls.choiceSelected.value == 'replace'">

                    <!-- Warning #1 -->
                    <p *ngIf="showNewLegalLandMessage" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        This legal location does not exist but the system will create it.
                    </p>

                    <!-- Warning #2 -->
                    <p *ngIf="replaceLegalLandList?.isWarningFieldOnOtherPolicy" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ replaceLegalLandList.fieldOnOtherPolicyMsg.message }}
                    </p>

                    <!-- Warning #3 -->
                    <p *ngIf="legalLandList?.collection?.length > 0" class="location-warning">
                        Select an existing legal location or choose to replace the location with a new legal land.
                    </p>
                    <mat-radio-group formControlName="legalLandIdSelected">
                        <div *ngIf="legalLandList?.collection?.length > 0" class="legal-land-container legal-land-info">
                            <div class="border-left header border-top border-bottom padding"></div>
                            <div class="border-left header border-top border-bottom padding">Legal Location</div>
                            <div class="border-left header border-top border-bottom padding">Primary Identifier</div>
                            <div class="border-left header border-top border-bottom border-right padding">Legal
                                Description
                            </div>
                            <ng-container *ngFor="let element of legalLandList.collection">
                                <div class="border-left border-bottom justify-center padding">
                                    <mat-radio-button [value]="element.legalLandId"
                                        (click)="validateReplaceLegalLand(element.legalLandId, element.otherDescription)"></mat-radio-button>
                                </div>
                                <div class="border-left border-bottom padding">
                                    {{ element.otherDescription }}
                                </div>
                                <div class="border-left border-bottom padding">
                                    {{ element.primaryPropertyIdentifier }}
                                </div>
                                <div class="border-left border-bottom border-right padding">
                                    {{ element.legalDescription }}
                                </div>
                            </ng-container>
                            <div class="border-left border-bottom justify-center padding">
                                <mat-radio-button [value]="-1"
                                    (click)="validateReplaceLegalLand(-1, '')"></mat-radio-button>
                            </div>
                            <div class="border-left border-bottom border-right padding"
                                style="grid-column-start:2; grid-column-end: 5;">
                                Replace with new Legal Land
                            </div>
                        </div>
                    </mat-radio-group>

                    <!-- Warning #4 -->
                    <p *ngIf="replaceLegalLandList?.isWarningOtherFieldsOnLegal" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ replaceLegalLandList.otherFieldsOnLegalMsg.message }}
                    </p>
                    <div *ngIf="replaceLegalLandList?.otherFieldsOnLegalLandList?.length > 0"
                        class="legal-land-container field-on-other-policy">
                        <div class="border-left header border-top border-bottom padding">Field Name</div>
                        <div class="border-left header border-top border-bottom padding">Field ID</div>
                        <div class="border-left header border-top border-bottom border-right padding">Policy (Plan)
                        </div>
                        <ng-container *ngFor="let field of replaceLegalLandList.otherFieldsOnLegalLandList">
                            <div class="border-left border-bottom padding">
                                {{ field.fieldLabel }}
                            </div>
                            <div class="border-left border-bottom padding">
                                {{ field.fieldId }}
                            </div>
                            <div class="border-left border-bottom border-right padding">
                                {{ getPolicyAndPlan(field) }}
                            </div>
                        </ng-container>
                    </div>

                    <!-- Warning #5 -->
                    <p *ngIf="replaceLegalLandList?.isWarningFieldHasOtherLegalLand" class="location-warning">
                        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
                        {{ replaceLegalLandList.fieldHasOtherLegalLandMsg.message }}
                    </p>
                    <div *ngIf="replaceLegalLandList?.otherLegalLandOfFieldList?.length > 0"
                        class="legal-land-container field-info">
                        <div class="border-left header border-top border-bottom padding">Legal Location</div>
                        <div class="border-left header border-top border-bottom padding">Primary Land Identifier</div>
                        <div class="border-left header border-top border-bottom border-right padding">Legal Description
                        </div>
                        <ng-container *ngFor="let land of replaceLegalLandList.otherLegalLandOfFieldList">
                            <div class="border-left border-bottom padding">
                                {{ land.otherDescription }}
                            </div>
                            <div class="border-left border-bottom padding">
                                {{ land.primaryPropertyIdentifier }}
                            </div>
                            <div class="border-left border-bottom border-right padding">
                                {{ land.legalShortDescription }}
                            </div>
                        </ng-container>
                    </div>

                </ng-container>

            </form>
        </div>
    </div>

    <div mat-dialog-actions align="end">
        <p style="margin-right: auto;">To save legal location information, click done and then click save on the main
            screen.</p>
        <button mat-raised-button color="secondary" (click)="onCancelChanges()">Cancel</button>
        <button *ngIf="showProceedButton" mat-raised-button color="primary" (click)="onProceed()">Done</button>
    </div>

</cuws-base-dialog>