<div *ngIf="message?.length > 0" class="row-group-left">
    <p *ngIf="message?.length > 0 " class="location-warning">
        <mat-icon [ngStyle]="{'color':'orange', 'margin-right':'8px'}">warning</mat-icon>
        {{ message }}
    </p>
    <div *ngIf="fieldList.length > 0"
        class="legal-land-container field-on-other-policy">
        <div class="border-left header border-top border-bottom padding">Field Name</div>
        <div class="border-left header border-top border-bottom padding">Field ID</div>
        <div class="border-left header border-top border-bottom border-right padding">Policy (Plan) </div>
        <ng-container *ngFor="let field of fieldList">
            <div class="border-left border-bottom padding">
                {{ field.fieldLabel }}
            </div>
            <div class="border-left border-bottom padding">
                {{ field.fieldId }}
            </div>
            <div class="border-left border-bottom border-right padding">
                {{ getPolicyAndPlan(field) }}
            </div>
        </ng-container>
    </div>
</div>