    
.row-group-left {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .legal-land-container {
        display: grid;
        grid-auto-rows: minmax( 2em, auto );
        padding-top: 10px;


    &.field-on-other-policy {
      grid-template-columns: 1fr 1fr 1fr;
    }

    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .center {
        justify-content: center;
    }

    .header {
        font-weight: bold;            
    }

    .border-right {
        border-right: 2px solid #ccc;          
    }

    .border-top {
        border-top: 2px solid #ccc;          
    }

    .border-left {
        border-left: 2px solid #ccc;          
    }

    .justify-center {
        justify-content: center;   
    }

    .border-bottom {
        border-bottom: 2px solid #ccc;
    }

    .padding {
        padding: 8px;
    }
  }
}