.dialog-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  
    .title-row.form-row {
      background-color: rgba(200, 200, 200, .60);
      padding: .5rem 1rem 0;
    }
  
    .form-row {
      display: flex;
      justify-content: center;
      padding: 0 1rem;
  
      .field,
      .field .mat-mdc-form-field {
        width: 100%;
  
        span {
          font-size: medium;
        }
        .uppercase{
          text-transform: uppercase;
        }
      }
    }
  
    .mat-mdc-dialog-content {
      margin: 0;
      padding: 0.5rem;
      min-height: 4rem;
    }
  
    .dialog-controls {
      align-self: center; // flex-end;
      padding: .5rem 1rem 1rem;
    }

    .entire {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      ::ng-deep .mat-form-field-underline {
          bottom: 0;
      }
      ::ng-deep .mat-mdc-form-field {
          width: 100%;
      }
    }

    .button-large-text {
      font-size: 20px !important;
    }

  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: start;
    align-items: center;
  }

  .grid-item {
    padding-left: 20px;
  }

.row-choice {
    padding: 10px;
    display: grid;
    // grid-auto-rows: minmax( 2em, auto );
    grid-template-columns:  auto auto;
    align-items: flex-start;

}

.row-group-left {
    //padding: 10px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    
    //margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //align-items: center;


  .legal-land-container {
    display: grid;
    grid-auto-rows: minmax( 2em, auto );
    padding-top: 10px;

    &.same-location-legal-land-info {
      grid-template-columns: 1fr 3fr;
    }

    &.other-legal-land-info {
      grid-template-columns: 1fr 3fr 2fr;
    }

    &.field-info {
      grid-template-columns: 2fr 2fr 3fr;
    }

    &.field-on-other-policy {
      grid-template-columns: 1fr 1fr 2fr;
    }

    &.error-messages {
      grid-template-columns: 1fr 20fr;
    }

    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .center {
        justify-content: center;
    }

    .header {
        font-weight: bold;            
    }

    .border-right {
        border-right: 2px solid #ccc;          
    }

    .border-top {
        border-top: 2px solid #ccc;          
    }

    .border-left {
        border-left: 2px solid #ccc;          
    }

    .justify-center {
        justify-content: center;   
    }

    .border-bottom {
        border-bottom: 2px solid #ccc;
    }
  }

  .cuw-table-wrapper {
    max-height: 200px;
    width: 780px;
    overflow-y: auto;
  }

}

.dialog-drag-handle {
  position: relative;
  top: 5px;
  left: 5px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}
