
<cuws-base-dialog [titleLabel]="titleLabel" [type]="dialogType" class="remove-field">
    <div mat-dialog-content class="grow">

        <div class="row-group-left">
            <!-- field warnings -->
            <div *ngIf="validation && ( validation.removeFromPolicyWarnings || validation.deleteFieldErrors) " class="legal-land-container error-messages" >
                <div *ngFor="let msg of validation.removeFromPolicyWarnings" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">{{ msg.message }}</span></div>
                </div>

                <div *ngIf="dataReceived && ( dataReceived.hasComments || dataReceived.hasInventory)" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">The field has inventory or comments in the current year which will not be removed from the field.</span></div>
                </div>
                <div *ngIf="dataReceived && dataReceived.showRemoveCommodity && dataReceived.showRemoveCommodity == true" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">Field has multiple commodities on this policy.</span></div>
                </div>                
                <div *ngFor="let msg of validation.deleteFieldErrors" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">{{ msg.message }}</span></div>
                </div>
            </div>
            <div *ngIf="showRemoveCommodityFromField || showRemoveFieldFromPolicy || disableDeleteButton == false">
                You have the following options:
                <ul>
                    <li *ngIf="showRemoveCommodityFromField">Remove Commodity: Removes the selected commodity from the field but keeps the inventory of the other commodities on the field</li>
                    <li *ngIf="showRemoveFieldFromPolicy">Remove from policy: Removes the field from this policy but keeps the inventory and comments</li>
                    <li *ngIf="disableDeleteButton == false">Delete: {{ deleteToolTip }}</li>
                </ul>
            </div>
        </div>

    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button class="primary" (click)="onCancelChanges()">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">cancel_presentation</mat-icon>Cancel
        </button>
        &nbsp;
        <button 
            *ngIf="showRemoveCommodityFromField"
            mat-raised-button class="primary" 
            (click)="onRemoveCommodityFromField()" 
            matTooltip="Removes the selected commodity from the field but keeps the inventory of the other commodities on the field" >
            <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Remove Commodity
        </button>
        &nbsp;
        <button 
            *ngIf="showRemoveFieldFromPolicy" 
            mat-raised-button class="primary" 
            (click)="onRemoveFieldFromPolicy()" 
            matTooltip="Removes the field from this policy but keeps the inventory and comments">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Remove from policy
        </button>
        &nbsp;
        <button 
            [disabled]="disableDeleteButton"
            mat-raised-button class="primary" 
            (click)="onDeleteField()" 
            [matTooltip]=deleteToolTip >
            <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Delete
        </button>
    </div>
</cuws-base-dialog>