
<cuws-base-dialog [titleLabel]="titleLabel" [type]="dialogType" class="remove-field">
    <div mat-dialog-content class="grow">

        <div class="row-group-left">
            <!-- field warnings -->
            <div *ngIf="validation && ( validation.removeFromPolicyWarnings || validation.deleteFieldErrors) " class="legal-land-container error-messages" >
                <div *ngFor="let msg of validation.removeFromPolicyWarnings" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">{{ msg.message }}</span></div>
                </div>

                <div *ngIf="dataReceived && ( dataReceived.hasComments || dataReceived.hasInventory)" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">The field has inventory or comments in the current year which will not be removed from the field.</span></div>
                </div>
                <div *ngFor="let msg of validation.deleteFieldErrors" style="display:contents">
                    <div class="justify-left"><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                    <div><span style="color:orange">{{ msg.message }}</span></div>
                </div>
            </div>
        </div>

    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button class="primary" (click)="onCancelChanges()">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">cancel_presentation</mat-icon>Cancel
        </button>
        &nbsp;
        <button 
            *ngIf="validation && validation.isRemoveFromPolicyAllowed" 
            mat-raised-button class="primary" 
            (click)="onRemoveFieldFromPolicy()" 
            matTooltip="Removes the field from this policy but keeps the inventory and comments">
            <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Remove from policy
        </button>
        &nbsp;
        <button 
            [disabled]="!validation || (validation && validation.isDeleteFieldAllowed == false)"
            mat-raised-button class="primary" 
            (click)="onDeleteField()" 
            [matTooltip]=deleteToolTip >
            <mat-icon style="padding-right: 4px; margin-right: 4px;">save_alt</mat-icon>Delete
        </button>
    </div>
</cuws-base-dialog>