<base-wrapper [errorState]="errorState"> 
    <div class="base-container">
        <div class="base-container flex-y"> 
        
        <div class="policy-header-container" style="display: grid; grid-template-columns: auto 188px 180px 80px;">
            <div class="grower-header">
                {{ ( (growerContract && growerContract.growerName) ? growerContract.growerName : "" ) | titlecase}} 
                ({{ ((verifiedYieldContract && verifiedYieldContract.insurancePlanId) ? getInsPlanName(verifiedYieldContract.insurancePlanId) : "" ) | titlecase }})
                {{ (growerContract && growerContract.policyNumber) ? growerContract.policyNumber : "" }}   
            </div>
            <div style="display: grid; grid-template-columns: 28px 160px;">
                <!-- unsaved messages -->
                <div *ngIf="isUnsaved">
                    <mat-icon [ngStyle]="{'color':'orange', 'width':'24px'}">warning</mat-icon>
                </div>
                <div *ngIf="isUnsaved" class="unsaved-changes">
                    Unsaved Changes 
                </div>
            </div>
            <!-- related policies -->
            <div>
                <related-policies
                    [growerContract]="growerContract"
                ></related-policies> 
            </div>
            <div>
                <button 
                    *ngIf="securityUtilService.canEditVerifiedYield()" 
                    mat-raised-button
                    class="primary button-large-text" 
                    [disabled]="disableSaveButton()" 
                    (click)="onSave()">
                        Save
                </button>
            </div>
        </div>        
            
        <cirras-grower-contract-header
            [growerContract]="growerContract"
        ></cirras-grower-contract-header>  

        <form [formGroup]="getViewModel().formGroup">

            <div class="plcy-inv-form-header" [ngStyle]="setFormStyles()">
                <div>
                    <h2>Verified Yield</h2>
                    <p>Last Updated: {{ ((verifiedYieldContract && verifiedYieldContract.verifiedYieldUpdateTimestamp) ? verifiedYieldContract.verifiedYieldUpdateTimestamp : "" ) | date }} </p>
                </div>            
               
                <div>
                    <button
                        mat-raised-button 
                        class="secondary header-button"  
                        matTooltip="Clear unsaved changes"
                        (click)="onCancel()">
                        Clear Changes
                    </button>
                </div>
                <div class="vertical-line"></div>
                <div>
                    <button *ngIf="securityUtilService.canDeleteVerifiedYield() && 
                        verifiedYieldContract && 
                        verifiedYieldContract.verifiedYieldContractGuid" 
                        mat-raised-button
                        class="secondary header-button-red" 
                        (click)="onDeleteVerifiedYield()">
                        <mat-icon class="button-mat-icon">delete_outlined</mat-icon>Reset Verified Yield
                    </button>
                </div>
            </div>

            <div class="plcy-inv-fld-tbl-outer-wrapper flex-y-grow">
                <!-- warning messages -->
                <div *ngIf="verifiedYieldContract && verifiedYieldContract.productWarningMessages && verifiedYieldContract.productWarningMessages.length > 0"  
                    class="vy-warning-msgs-container vy-warning-messages">

                    <div *ngFor="let msg of verifiedYieldContract.productWarningMessages" style="display:contents">
                        <div><mat-icon [ngStyle]="{'color':'orange', 'font-size':'x-large'}">warning</mat-icon></div>
                        <div><span>{{ msg.message }}</span></div>
                    </div>
                    <div style="display:contents">
                        <div>
                            <mat-checkbox 
                                formControlName="updateProductValuesInd" (change)="isUpdateProductChecked($event)">
                            </mat-checkbox>
                        </div>
                        <div>Refresh Product Data from CIRRAS on save</div>
                    </div>
                </div>

           <div style="margin-top: 16px;">
            <!-- GRAIN commodity totals -->
            <verified-yield-commodity-list
                *ngIf="verifiedYieldContract && verifiedYieldContract.verifiedYieldContractCommodities"
                [commodities]="verifiedYieldContract.verifiedYieldContractCommodities"
                [commoditiesFormArray]="getViewModel().formGroup.controls.verifiedYieldContractCommodities"
                [insurancePlanId]="verifiedYieldContract.insurancePlanId"
                [isUnsaved]="isUnsaved"></verified-yield-commodity-list>
            </div>

            <div style="margin-top: 32px;">
                <!-- GRAIN amendments -->
                <verified-yield-amendment-list
                    *ngIf="verifiedYieldContract && cropCommodityList"
                    [verifiedYieldContractGuid]="verifiedYieldContractGuid"
                    [amendments]="verifiedYieldContract.verifiedYieldAmendments"
                    [amendmentsFormArray]="getViewModel().formGroup.controls.verifiedYieldAmendments"
                    [cropCommodityList]="cropCommodityList"
                    [fields]="verifiedYieldContract.fields"
                    [insurancePlanId]="verifiedYieldContract.insurancePlanId"
                    [isUnsaved]="isUnsaved"
                    ></verified-yield-amendment-list>
            </div>

            <div style="margin-top: 32px;">
                <!-- GRAIN yield summary -->
                <verified-yield-summary-list
                    *ngIf="growerContract && verifiedYieldContract && verifiedYieldContract.verifiedYieldSummaries"
                    [summaries]="verifiedYieldContract.verifiedYieldSummaries"
                    [summariesFormArray]="getViewModel().formGroup.controls.verifiedYieldSummaries"
                    [isUnsaved]="isUnsaved"
                    ></verified-yield-summary-list>
            </div>

                <div style="margin-top: 32px; margin-bottom: 40px;">
                    <!-- basket coverage -->
                    <verified-yield-grain-basket
                        *ngIf="growerContract && verifiedYieldContract && verifiedYieldContract.verifiedYieldGrainBasket"
                        [grainBasket]="verifiedYieldContract.verifiedYieldGrainBasket"
                        [grainBasketsFormArray]="getViewModel().formGroup.controls.verifiedYieldGrainBasket"
                        [isUnsaved]="isUnsaved"
                        ></verified-yield-grain-basket>
                </div>
            </div>
        </form>
        </div>
    </div>
</base-wrapper>
