<div [formGroup]="commodityFormGroup" style="display: contents;">
    <div class="readonly border-right border-bottom border-left" style="padding-left: 6px;">
        {{ commodityFormGroup.value.commodityTypeDescription | titlecase }}
    </div>
    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.totalFieldAcres | number: '1.0-1' }}
    </div>
    <div class="inventory-fill border-right border-bottom center">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="harvestedAcres" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateHarvestedAcres()" />
        </mat-form-field>
        <mat-icon style="padding-right: 10px; font-size: 18px; margin-top: 6px;"
            matTooltip="Harvested Acres is writeable">edit</mat-icon>
    </div>
    <div class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="totalBalesLoads" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateTotalBalesLoads()" />
        </mat-form-field>
        <mat-icon style="padding-right: 10px; font-size: 18px; margin-top: 6px;"
            matTooltip="Bales/Loads is writeable">edit</mat-icon>
    </div>

    <div class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="weight" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateWeight()" />
        </mat-form-field>
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;"
            matTooltip="Weight is writeable">edit</mat-icon>
    </div>

    <div class="inventory-fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="moisturePercent" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateMoisturePercent()" />
        </mat-form-field>
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;"
            matTooltip="Moisture Percent is writeable">edit</mat-icon>
    </div>

    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.quantityHarvestedTons | number: '1.0-1' }}
    </div>
    
    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.yieldPerAcre | number: '1.0-3' }}
    </div>
</div>