<div [formGroup]="commodityFormGroup" style="display: contents;">
    <div class="readonly border-right border-bottom border-left" style="padding-left: 6px;">
        {{ commodityFormGroup.value.commodityTypeDescription | titlecase }}
    </div>
    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.totalFieldAcres | number: '1.0-1' }}
    </div>
    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.harvestedAcres | number: '1.0-1' }}
    </div>
    <div class="fill border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="harvestedAcresOverride" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateHarvestedAcresOverride()" />
        </mat-form-field>
        <mat-icon style="padding-right: 10px; font-size: 18px; margin-top: 6px;"
            matTooltip="Override Acres is writeable">edit</mat-icon>
    </div>
    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.quantityHarvestedTons | number: '1.0-1' }}
    </div>
    <div class="fill number border-right border-bottom">
        <mat-form-field appearance="fill">
            <input matInput matInputCommified formControlName="quantityHarvestedTonsOverride" maxlength="10"
                (keypress)="numberOnly($event)" (blur)="updateQuantityHarvestedTonsOverride()" />
        </mat-form-field>
        <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;"
            matTooltip="Quantity Override is writeable">edit</mat-icon>
    </div>
    <div class="readonly border-right border-bottom center">
        {{ commodityFormGroup.value.yieldPerAcre | number: '1.0-1' }}
    </div>
</div>