@import '../../../../styles/variables';

.base-container{
  .flex-y {
    display: flex;
    flex-direction: column;
  }
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    display: inline;
  }

.button-row {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;

  ::ng-deep .mat-raised-button {
    padding: 0 10px;
  }

}

.button-right {
  float: right;
}

.button-mat-icon {
  margin-right: 4px;
}

.button-large-text {
  font-size: 20px !important;
}

.last-updated {
    font-size: 14px;
    font-weight: normal;
    //margin-left: 20px;
    display: inline;
}

.message-container {
    display: grid;
    grid-auto-rows: minmax( 2em, auto );
    grid-template-columns:  1fr 1fr 1fr;
    //margin-bottom: 10px;
  
    div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

  }

  .unsaved-changes-warning {
    display: flex; 
    flex-direction: row; 
    justify-content:center; 
    align-items: center; 
    margin-right: 20px; 
    border: 2px solid orangered; 
    border-radius: 5px;
  }

  .date-container {
    display: grid;
    grid-auto-rows: minmax( 2em, auto );
    flex-direction: row;
    align-items: stretch;
   // grid-template-columns:  2fr 1fr 1fr 2fr;
    grid-template-columns:  300px 300px 500px;
    //margin-bottom: 10px;
    margin-left: 20px;
    //width: 600px;
  
    //div {
        // display: flex;
        // justify-content: flex-start;
        // align-items: flex-start;
        //flex-direction: column;
    //}

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0 0 0 0;
        height: 3em;
        display: flex;
        justify-content: flex-end;
    }

  }
   
.yld-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
}

.yld-radio-button {
  margin: 5px;
} 


.cuw-table-wrapper {
  max-height: calc(var(--vh, 1vh) * 100 - 25em);
  width: calc(100% - 2 * var(--cirras-underwriting-gutter-space));
  min-width: 1150px;
  margin: 0 var(--cirras-underwriting-gutter-space);
  border-top: 1px solid $colour-light-grey;
  border-bottom: 1px solid $colour-light-grey;
  overflow-y: auto;
}


.cuw-field-table-wrapper {
  max-height: calc(var(--vh, 1vh) * 100 - 25em);
  width: calc(100% - 2 * var(--cirras-underwriting-gutter-space));
  width: 1191px;

  margin: 0;
  border-top: 1px solid $colour-light-grey;
  border-bottom: 1px solid $colour-light-grey;
  overflow-y: auto;
}

.field-container {

  width: 1173px;   
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 54px;  
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;

}

.field-est-yield-acre { 
  border-bottom: solid 1px #ccc;
  color: grey; //rgba(0, 0, 0, 0.87);

  display: flex;
  flex-direction: row;
  align-items: stretch; //center;
  justify-content: flex-start; //space-between;

  //box-sizing: border-box;

  //position: relative; 

  div {
    display: flex;
    align-items: center;
  }


  .field-tb-header {
      min-height: 62px;
      font-weight: bold; 
      justify-content: center; 
      text-align: center;

      border-right: 2px solid rgb(150, 150, 150);
      border-top: 2px solid rgb(150, 150, 150);
      border-bottom: 2px solid rgb(150, 150, 150);

  }

  .field-tb-cell {
    border-right: 2px solid rgb(150, 150, 150);
    justify-content: center;  
    border-bottom: 2px solid rgb(150, 150, 150);
  }

  .field-tb-fill {
    border-right: 2px solid rgb(150, 150, 150);
    justify-content: center;  
    border-bottom: 2px solid rgb(150, 150, 150);

    & > * {
      flex-grow: 1;
    }

    .mat-form-field{
      width: 99px;
      //margin-bottom: -1.4em
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0 0.75em 0 0.75em;
  }

  .border-left {
      border-left: 2px solid rgb(150, 150, 150);       
  }

  .mat-icon {
    margin-bottom: 0.4em; 
    margin-top: 0.7em;
  }

 
.yield-acre-container {
  display: grid;
  grid-auto-rows: minmax( 2em, auto );

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items:  stretch;
  width: 690px;

  

  div {
      display: flex;
      justify-content: center; 
  }

  .border-right {
    border-right: 2px solid #ccc;
  }

  .border-left{
    border-left: 2px solid #ccc;
  }

  .border-top {
    border-top: 2px solid #ccc;
  }

  .border-bottom{
    border-bottom: 2px solid #ccc;
  }

  .center {
    justify-content: center;
  }

  .field-tb-fill {
    
    & > * {
          flex-grow: 1;
      }
      .mat-form-field{
        width: 99px;
        //margin-bottom: -1.4em
      }

      .mat-form-field-wrapper {
        bottom: 0;
      }
 
      ::ng-deep .mat-form-field-underline {
        display: none;
    }     
  }

  .number input {
      text-align: right;
  }

  .mat-icon {
    margin-bottom: 0.4em; 
    margin-top: 0.7em;
  }
}

}

// estimated yield
.estimated-yield-container {
  display: inline-grid;
  grid-auto-rows: minmax( 2em, auto );
  grid-template-columns: 1fr 1fr 1fr 1fr;

  div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .center {
      justify-content: center;
  }

  .number input {
      text-align: center;
  }

  .header {
      font-weight: bold;            
  }

  .border-right {
      border-right: 2px solid rgb(150, 150, 150);;          
  }

  .border-top {
      border-top: 2px solid rgb(150, 150, 150);;          
  }

  .border-left {
      border-left: 2px solid rgb(150, 150, 150);;          
  }

  .justify-center {
      justify-content: center;   
      text-align: center;
  }

  .border-bottom {
      border-bottom: 2px solid rgb(150, 150, 150);;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-underline {
      display: none;
  }


  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    // border-radius: 4px 4px 0 0;
    // padding: 0 0.75em 0 0.75em;
    padding: 0 0.75em 0 0.75em;
  }

  // .mat-form-field-flex {
  //     padding: .75em .75em 0 .75em;
  // }

}

///////////////////
.cmdty-totals-container {
  display: inline-grid;
  grid-auto-rows: minmax( 2em, auto );
  grid-template-columns: 150px 100px 100px 100px 100px 200px;

  div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .center {
      justify-content: center;
  }

  .number input {
      text-align: center;
  }

  .header {
      font-weight: bold;            
  }

  .border-right {
      border-right: 2px solid rgb(150, 150, 150);;          
  }

  .border-top {
      border-top: 2px solid rgb(150, 150, 150);;          
  }

  .border-left {
      border-left: 2px solid rgb(150, 150, 150);;          
  }

  .justify-center {
      justify-content: center;   
      text-align: center;
  }

  .border-bottom {
      border-bottom: 2px solid rgb(150, 150, 150);;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-underline {
      display: none;
  }


  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    // border-radius: 4px 4px 0 0;
    // padding: 0 0.75em 0 0.75em;
    padding: 0 0.75em 0 0.75em;
  }

  // .mat-form-field-flex {
  //     padding: .75em .75em 0 .75em;
  // }

}



.grid-container {
  display: grid;
  grid-template-columns: 700px auto;
  // background-color: #2196F3;
  // padding: 10px;
}
.grid-item {
  // background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  // padding: 20px;
  // font-size: 30px;
  // text-align: center;

  .field-tb-fill {
    // border-right: 2px solid rgb(150, 150, 150);
    justify-content: center;  
    //border-bottom: 2px solid rgb(150, 150, 150);

    & > * {
      flex-grow: 1;
    }

    .mat-form-field{
      width: 99px;
      //margin-bottom: -1.4em
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

  }

}

