
<base-wrapper [errorState]="errorState"> 
    <div class="base-container">
        <div class="base-container flex-y"> 
        
        <div class="policy-header-container">
            <div class="grower-header">
                {{ ( (growerContract && growerContract.growerName) ? growerContract.growerName : "" ) | titlecase}} 
                ({{ ((dopYieldContract && dopYieldContract.insurancePlanId) ? getInsPlanName(dopYieldContract.insurancePlanId) : "" ) | titlecase }})
                {{ (growerContract && growerContract.policyNumber) ? growerContract.policyNumber : "" }}   
            </div>
            <!-- unsaved messages -->
            <div *ngIf="hasDataChanged == true && !hasVerifiedYieldData; else noWarningDiv">
                <mat-icon [ngStyle]="{'color':'orange', 'width':'24px'}">warning</mat-icon>
            </div>
            <div *ngIf="hasDataChanged == true && !hasVerifiedYieldData; else noWarningDiv" class="unsaved-changes">
                Unsaved changes 
            </div>
            <ng-template #noWarningDiv>
                <div><!-- empty div to account for space when there is no warning --> </div>
            </ng-template>
            <!-- related policies -->
            <div>
                <related-policies
                    [growerContract]="growerContract"
                ></related-policies> 
            </div>
            <div class="vertical-line"></div>
            <div matTooltip="Changes must be saved before download is possible.">
                <button mat-raised-button class="secondary button-large-text" [disabled]="hasDataChanged == true"
                (click)="onPrint()">
                    <mat-icon class="button-mat-icon">download</mat-icon>Download
                </button>
            </div>
            <div>
                <button 
                    *ngIf="securityUtilService.canEditDop() && !hasVerifiedYieldData " 
                    mat-raised-button 
                    class="primary button-large-text" 
                    [disabled]="!hasDataChanged" 
                    (click)="onSave()">
                        Save
                </button>
            </div>
        </div>        
            
        <cirras-grower-contract-header
            [growerContract]="growerContract"
        ></cirras-grower-contract-header>  

        <div *ngIf="hasVerifiedYieldData == true" class="message-container">
            <!-- The policy has yield message -->
            <div class="has-yield-warning">
                <mat-icon>warning</mat-icon>            
                <span class="warning-message">
                    DOP edits are not permitted when a policy has Verified Yield data.  
                    If you need to update the DOP, delete the Verified Yield data first.</span> 
            </div>
        </div>
        
      <form [formGroup]="getViewModel().formGroup">

        <div class="plcy-inv-form-header" [ngStyle]="setFormStyles()">
            <div>
                <h2>Declaration of Production | Schedule D - 15</h2>
                <p>Last Updated: {{ ((dopYieldContract && dopYieldContract.dopUpdateTimestamp) ? dopYieldContract.dopUpdateTimestamp : "" ) | date }}</p>
            </div> 
            <div class="plcy-frm-hdr-calendar" matTooltip="Date when the Declaration of Production is submitted.">
                <!-- DOP Date: -->
                <mat-form-field appearance="outline" >
                    <input matInput 
                        [matDatepicker]="picker"
                        formControlName="declarationOfProductionDate" 
                        (dateChange)="isMyFormDirty()">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="plcy-frm-hdr-dropdown" matTooltip="Units">
                <!-- Units: -->
                <mat-form-field appearance="outline" style="width: 110px;">
                    <mat-select formControlName="yieldMeasUnitTypeCode" hideSingleSelectionIndicator="true" (selectionChange)="yieldMeasUnitTypeSelectionChanged()">
                        <mat-option *ngFor="let option of yieldMeasUnitOptions" [value]="option.yieldMeasUnitTypeCode"
                        >{{ option.description | titlecase }}</mat-option>
                    </mat-select>
                    </mat-form-field>
            </div>
            <div>
                <uw-comments-button
                    [underwritingCommentTypeCode]="'DOP'"
                    [growerContractYearId]="dopYieldContract?.growerContractYearId"
                    [declaredYieldContractGuid]="declaredYieldContractGuid"
                    [policyNumber]="growerContract?.policyNumber"
                    [growerName]="growerContract?.growerName"
                    [growerNumber]="growerContract?.growerNumber"
                    [uwComments]="dopYieldContract?.uwComments"
                    (onDone)="onDopCommentsDone($event)"></uw-comments-button>
            </div>
            <div>
                <button *ngIf="!hasVerifiedYieldData"
                    mat-raised-button 
                    class="secondary header-button"  
                    matTooltip="Clear unsaved changes"
                    (click)="onCancel()">
                    Clear Changes
                </button>
            </div>
            <div class="vertical-line"></div>
            <div>
                <button *ngIf="securityUtilService.canDeleteDop() && !hasVerifiedYieldData &&
                                dopYieldContract && 
                                dopYieldContract.declaredYieldContractGuid" 
                                mat-raised-button 
                                class="secondary header-button-red" 
                                (click)="onDeleteDop()">
                    <mat-icon class="button-mat-icon">delete_outlined</mat-icon>Reset DOP
                </button>
            </div>
        </div>

        <div class="plcy-inv-fld-tbl-outer-wrapper flex-y-grow">

            <!-- estimated yield per acre table header -->

            <div class="plcy-inv-field-box" style="width: 1430px;">
                <div class="inventory-header border-left" style="width:45px" matTooltip="Field Order">F.O.</div>
                <div class="inventory-header" style="width:90px">Field ID</div>
                <div class="inventory-header" style="width:164px;">Field Name</div>  
                <div class="inventory-header" style="width:156px">Legal Location</div> 
                <div class="inventory-header" style="width:120px">Crop</div>
                <div class="inventory-header" style="width:180px">Variety</div>
                <div class="inventory-header" style="width:100px" matTooltip="Acres are rounded to the nearest tenth after the decimal point.">Acres</div>
                <div class="inventory-header" style="width:120px">Seeded Date</div>
                <div class="inventory-header" style="width:130px" matTooltip="Estimated Yield/Acre">Est. Yield/Acre</div>
                <div class="inventory-header" style="width:100px">Unharvested <br /> Acres</div>
                <div class="inventory-header" style="width:80px;">Manage Planting</div>
                <div class="inventory-header" style="width:75px;">Manage Field</div>
            </div>


            <div class="plcy-inv-fld-tbl-inner-wrapper flex-y-grow" style="width: 1380px;">

                <div class="plcy-inv-field-container-yellow" 
                    style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; width: 1360px;" >
  
                    <div class="plcy-inv-field-box" 
                        *ngFor="let field of getViewModel().formGroup.controls.fields['controls']; index as fieldIndex"
                        [formGroup]="field">

                        <div class="inventory-cell inventory-border" style="width:45px">{{field.value.displayOrder}}</div>
                        <div class="inventory-cell inventory-border" style="width:90px;">{{field.value.fieldId}}</div> 
                        <div class="inventory-cell inventory-border"  style="width:164px;">{{field.value.fieldLabel}}</div>
                        <div class="inventory-cell inventory-border" style="width:156px;"> {{ field.value.otherLegalDescription }} </div>
                        
                        <div class="planting-container" [ngStyle]="setPlantingStyles()">
                            
                            <div *ngFor="let dopYieldField of field.value.dopYieldFieldGrainList['controls']; index as dopYieldFieldIndex;"   
                                [formGroup]="dopYieldField"    
                                style="display:contents;"> 

                                <div class="inventory-cell inventory-border" style="width:120px;">
                                    {{ dopYieldField.value.cropCommodityName | titlecase }}
                                </div>
                                <div class="inventory-cell inventory-border" style="width:180px;">
                                    {{ dopYieldField.value.cropVarietyName | titlecase }}
                                </div>
                        
                                <div class="inventory-cell inventory-border" style="width:100px;">
                                    {{ dopYieldField.value.seededAcres }}
                                </div>
                                
                                <div class="inventory-cell inventory-border" style="width:120px;">
                                    {{ dopYieldField.value.seededDate | date }}
                                </div>
                                
                                <div class="inventory-fill inventory-border" style="width:130px;">
                                    <mat-form-field appearance="fill">
                                        <input matInput matInputCommified formControlName="estimatedYieldPerAcre" 
                                                maxlength="10"
                                                (keypress)="numberOnly($event)" 
                                                (keyup)="isMyFormDirty()"
                                                (blur)="roundUpEstimatedYield(dopYieldField, dopYieldFieldIndex)">
                                    </mat-form-field>
                                    <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Estimated Yield/Acres is writeable">edit</mat-icon>
                                </div>

                                <div class="inventory-fill inventory-border" style="width:100px;">
                                    <mat-checkbox formControlName="unharvestedAcresInd" (change)="isMyFormDirty()">
                                    </mat-checkbox>
                                </div>
                                <div class="inventory-fill border-bottom border-right border-left" style="width:80px; align-items:center;">
                                    <mat-icon 
                                        *ngIf="securityUtilService.canEditDop()"
                                        (click)="onDeleteFieldYield(dopYieldField, dopYieldFieldIndex)"
                                        style="margin-left: 4px; margin-right: 4px;"
                                        matTooltip="Clear Field Values" 
                                        svgIcon="cancel"></mat-icon>
                                </div>                                    
                            </div>
                        </div> 

                        <div class="inventory-cell inventory-border" style="width:75px">
                            <uw-comments-button
                                [underwritingCommentTypeCode]="'INV'"
                                [annualFieldDetailId]="field.value.annualFieldDetailId"
                                [fieldId]="field.value.fieldId"
                                [fieldName]="field.value.fieldLabel"
                                [legalLocation]="field.value.otherLegalDescription"
                                [uwComments]="field.value.uwComments"
                                (onDone)="onInventoryCommentsDone(field.value.fieldId, $event)"></uw-comments-button>

                            <mat-icon matTooltip="View History" style="margin-left: 4px; margin-right: 4px;">history</mat-icon>
                        </div>

                    </div>

                </div>   
            </div>

            <!-- dop contract data  -->
            <div class="plcy-inv-cntrct" style="grid-template-columns: 1360px" >
                <div class="question" 
                style="border: 1px solid #E1CF7B; background: #FEFAEC;
                        display: grid; 
                        grid-auto-rows: minmax( 2em, auto );
                        grid-template-columns: 900px 100px;
                        padding-bottom: 8px; padding-top:12px;">
                    <div style="padding-top: 4px;">
                        Did you purchase or come into possession of any grain from sources other than those fields which you have insured?
                    </div>
                    <div>
                        <mat-radio-group class="plcy-grain-sdd-inv inv-radio-group" formControlName="grainFromOtherSourceInd"> 
                            <mat-radio-button class="plcy-grain-sdd-inv inv-radio-button" [value]="true"> 
                                Yes
                            </mat-radio-button>
                            <mat-radio-button class="plcy-grain-sdd-inv inv-radio-button" [value]="false">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </div>

            <div class="plcy-inv-cntrct" style="grid-template-columns: 600px 760px;" >
                <div>
                    <!-- estimated yield grid -->

                    <div class="plcy-inv-cmdty-totals-header" style="grid-template-columns: 120px 160px 150px 160px; padding-left: 0px;" > 

                        <div class="table-header border-top border-left border-right" 
                            style="grid-column-start: 1; grid-column-end: 5;">
                                Yield Summary
                        </div>
                        
                        <div *ngIf="showEstimatedYieldMessage == true" 
                            class="table-header border-top border-bottom border-left border-right" 
                            style="grid-column-start: 1; grid-column-end: 5;"> 
                                
                            
                            <span #el matTooltip="" style="margin-left: 10px;">
                                <mat-icon [ngStyle]="{'color':'orangered', 'font-size':'large', 'padding-top': '4px'}">warning_amber</mat-icon>
                            </span>
                            <span style="color:orangered; font-size: 14px;">
                                The Estimated Yield will be calculated on save.
                            </span> 

                        </div>

                        <div *ngIf="!showEstimatedYieldMessage" class="header border-top border-bottom border-left border-right"> Field Summary </div>
                        <div *ngIf="!showEstimatedYieldMessage" class="border-right header border-top border-bottom"> Estimated Yield bu/ac </div>
                        <div *ngIf="!showEstimatedYieldMessage" class="border-right header border-top border-bottom"> Estimated Yield t/ac </div>
                        <div *ngIf="!showEstimatedYieldMessage" class="header border-top border-bottom border-left border-right"> Total Estimated Yield </div>
                    </div>

                    <div *ngIf="!showEstimatedYieldMessage" class="plcy-inv-cmdty-totals-container" style="padding-left: 0px;" > 
                        <div *ngIf="dopYieldContract && dopYieldContract.dopYieldFieldRollupList"> 
                            <div *ngFor="let item of dopYieldContract.dopYieldFieldRollupList"         
                                class="repeat">

                                <div class="border-right border-bottom border-left" style="padding-left: 6px; width: 120px;">               
                                    {{ item.cropCommodityName | titlecase }}
                                    <span *ngIf="item.isPedigreeInd == true" >&nbsp; Pedigreed</span>
                                </div>
                    
                                <div class="border-right border-bottom center" style="width: 160px;">               
                                    {{ item.estimatedYieldPerAcreBushels | number: '1.0-1' }}
                                </div>
                    
                                <div class="border-right border-bottom center"  style="width: 150px;">               
                                    {{ item.estimatedYieldPerAcreTonnes | number: '1.0-3' }}
                                </div>
                            
                                <div class="border-right border-bottom center"  style="width: 160px;">               
                                    {{ getFlaggedTotalEstimatedYield (item.cropCommodityId, item.isPedigreeInd)  | number: '1.0-3'  }}

                                    <mat-icon *ngIf="isFlaggedTotalEstimatedYield(item.cropCommodityId, item.isPedigreeInd)"
                                        matTooltip="There is at least 10% discrepancy between Total Estimated Yield and Farm-level Yield" 
                                        style="margin-right: 2px;" [ngStyle]="{'color':'orange'}">warning</mat-icon>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div>
                    <!-- commodity totals grid -->

                    <div class="plcy-inv-cmdty-totals-header" style="grid-template-columns: 100px 100px 120px 130px 130px 170px; padding-left: 10px;" > 

                        <div class="table-header border-top border-left border-right" 
                            style="grid-column-start: 1; grid-column-end: 7;">
                            Commodity Totals
                        </div>
                        
                        <div class="header border-top border-bottom border-left border-right"> Commodity </div>
                        <div class="border-right header border-top border-bottom" matTooltip="Acres are rounded to the nearest tenth after the decimal point."> Insured Acres </div>
                        <div class="border-right header border-top border-bottom" matTooltip="Acres are rounded to the nearest tenth after the decimal point."> Harvested Acres  </div>
                        <div class="header border-top border-bottom border-left border-right"> Quantity Stored </div>

                        <div class="header border-top border-bottom border-left border-right"> Quantity Sold </div>
                        <div class="header border-top border-bottom border-left border-right"> Grade</div>
                    </div>


                    <div *ngIf="dopYieldContract && dopYieldContract.dopYieldContractCommodities" 
                        class="grain-unsdd-inv-tot-cmdty-container"
                        style="grid-template-columns: 100px 100px 120px 130px 130px 170px; margin-left: 0px; padding-left: 10px;"> 
                       
                    
                        <div *ngFor="let cmdty of getViewModel().formGroup.controls.dopYieldContractCommodities['controls'];"
                            [formGroup]="cmdty" 
                            style="display:contents;">

                            <div class="readonly border-right border-bottom border-left" style="padding-left: 6px;" >               
                                {{ cmdty.value.cropCommodityName | titlecase }}
                                <span *ngIf="cmdty.value.isPedigreeInd == true" >&nbsp; Pedigreed</span>
                            </div>
                
                            <div class="readonly border-right border-bottom center">               
                                {{ cmdty.value.totalInsuredAcres | number: '1.0-1' }}
                            </div>
                
                            <div class="inventory-fill border-left border-bottom">
                                <mat-form-field appearance="fill">
                                    <input matInput matInputCommified formControlName="harvestedAcres" 
                                            maxlength="10"
                                            (keypress)="numberOnly($event)" 
                                            (keyup)="isMyFormDirty()">
                                </mat-form-field>
                                <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Harvested Acres is writeable">edit</mat-icon>
                            </div>

                            <div class="inventory-fill number border-left border-bottom">
                                <mat-form-field appearance="fill">
                                    <input matInput matInputCommified formControlName="storedYield" 
                                            maxlength="10"
                                            (keypress)="numberOnly($event)" 
                                            (keyup)="isMyFormDirty()"
                                            (blur)="roundUpCommodityTotalYield(cmdty, 'storedYield')">
                                </mat-form-field>
                                <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Stored Yield is writeable">edit</mat-icon>
                            </div>

                            <div class="inventory-fill number border-left border-bottom">
                                <mat-form-field appearance="fill">
                                    <input matInput matInputCommified formControlName="soldYield" 
                                            maxlength="10"
                                            (keypress)="numberOnly($event)" 
                                            (keyup)="isMyFormDirty()"
                                            (blur)="roundUpCommodityTotalYield(cmdty, 'soldYield')">
                                </mat-form-field>
                                <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Sold Yield is writeable">edit</mat-icon>
                            </div>

                            <div class="inventory-fill number border-left border-bottom  border-right">
                                    <mat-form-field appearance="fill">
                                        <input 
                                            type="text" 
                                            matInput 
                                            formControlName="gradeModifierCtrl" 
                                            [matAutocomplete]="autoGradeModifier"
                                            (focus)="gradeModifierFocus(cmdty.value.cropCommodityId)"
                                            (keyup)="isMyFormDirty()">
                                        <mat-autocomplete #autoGradeModifier="matAutocomplete"  hideSingleSelectionIndicator="true"
                                            [displayWith]="displayGradeModifierFn"
                                            (optionSelected)="isMyFormDirty()">
                                        <mat-option *ngFor="let option of filteredGradeModifierOptions" [value]="option">
                                            {{ option.description }}
                                        </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Sold Yield is writeable">edit</mat-icon>
                            </div>                        
                        </div>
                    </div>

                </div>

                
            </div>




            

        </div>

        </form>

        </div>
    </div>
</base-wrapper>