<div *ngIf="isSelectedCommodity()" class="plcy-inv-field-box" [formGroup]="fieldCommodityFormGroup" style="display: grid; width: 1030px;">
    
    <berries-dop-variety-list 
        *ngFor="let dopYieldFieldVarietyBerries of dopYieldFieldCommodityBerries.dopYieldFieldVarietyBerriesList"
        [dopYieldFieldVarietyBerries]="dopYieldFieldVarietyBerries"
        [dopYieldFieldVarietyBerriesFormArray]="fieldCommodityFormGroup.value.dopYieldFieldVarietyBerriesList" 
        [cropCommodityName]="fieldCommodityFormGroup.value.cropCommodityName"
        style="display: contents;">

    </berries-dop-variety-list>

    <div class="plcy-inv-field-box" style="width: 1030px;">
        <div class="dop-berries-commodity-total border-right" style="width: 760px; padding-right: 4px; justify-content: end;">
            Total Field Production:
        </div>
        <div class="dop-berries-commodity-total border-right" style="width: 100px;">
           {{ dopYieldFieldCommodityBerries.totalProduction | number:'1.0-3' }}
        </div> 
        <div class="inventory-fill dop-berries-commodity-total border-right" style="width: 100px;">
           <mat-form-field appearance="fill" style="width: 100px;">
            <input matInput matInputCommified type="text"
                    formControlName="totalProductionOverride"
                    maxlength="14"
                    (keypress)="numberOnly($event)" 
                    (blur)="updatetotalProductionOverride()">
            </mat-form-field>  
            <mat-icon style="padding-right:10px; font-size:18px; margin-top:6px;" matTooltip="Total Production Override is writeable">edit</mat-icon>
        </div>
        <div style="width: 70px;"></div>
    </div>
</div>


