<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="file"
      fileName="/usr/local/tomcat/logs/cirras-underwriting-war.log"
      encoding="UTF-8"
      filePattern="/usr/local/tomcat/logs/cirras-underwriting-war.%d.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
        <!-- The log message pattern -->
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %X{requestId} %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>


  </Appenders>
  <Loggers>

    <Root level="DEBUG">
      <AppenderRef ref="file"/>
          </Root>
  </Loggers>
</Configuration>