<div class="plcy-inv-field-box" [formGroup]="fieldFormGroup">
    <div class="inventory-cell border-left" style="width: 45px;"
        [ngClass]="fieldHiddenOnPrintoutInd ? 'inventory-border-exclude-printout border-left-exclude-printout' : 'inventory-border'">
        {{ fieldFormGroup.value.displayOrder }}
    </div>
    <div class="inventory-cell" style="width: 90px;"
        [ngClass]="fieldHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ fieldFormGroup.value.fieldId }}
    </div>
    <div class="inventory-cell" style="width: 164px;"
        [ngClass]="fieldHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ fieldFormGroup.value.fieldLabel }}
    </div>
    <div class="inventory-cell" style="width: 156px;"
        [ngClass]="fieldHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        {{ fieldFormGroup.value.otherLegalDescription }}
    </div>
    <div class="planting-container" [ngStyle]="setPlantingStyles()"
        [ngClass]="fieldHiddenOnPrintoutInd ? 'inventory-border-exclude-printout' : 'inventory-border'">
        <forage-dop-yield-field-list [yieldFields]="field.dopYieldFieldForageList"
            [yieldFieldsFormArray]="fieldFormGroup.value.dopYieldFieldForageList"
            [fieldHiddenOnPrintoutInd]="fieldHiddenOnPrintoutInd"
            style="display: contents;"></forage-dop-yield-field-list>
    </div>
    <div class="inventory-cell" style="width: 75px;"
        [ngClass]="fieldHiddenOnPrintoutInd ? 'inventory-border-exclude-printout border-right-exclude-printout' : 'inventory-border'">
        <uw-comments-button
            [underwritingCommentTypeCode]="'INV'"
            [annualFieldDetailId]="fieldFormGroup.value.annualFieldDetailId"
            [fieldId]="fieldFormGroup.value.fieldId"
            [fieldName]="fieldFormGroup.value.fieldLabel"
            [legalLocation]="fieldFormGroup.value.otherLegalDescription"
            [uwComments]="fieldFormGroup.value.uwComments"
            (onDone)="onInventoryCommentsDone($event)"></uw-comments-button>
        <mat-icon matTooltip="View History" style="margin-left: 4px; margin-right: 4px;">history</mat-icon>
    </div>
</div>