<div class="plcy-inv-cmdty-totals-header"
    style="grid-template-columns: 123px 250px 180px 115px 115px 500px 60px; padding-left: 10px;">

    <div class="table-header border-top border-left" style="grid-column-start: 1; grid-column-end: 5; padding-top: 8px;">
        Amendments
    </div>
    <div class="table-header border-top border-right" style="grid-column-start: 5; grid-column-end: 8; text-align: right; height:40px; padding-top:2px; padding-right: 1px;">
        <button 
            mat-raised-button class="secondary" 
            (click)="addAmendment()">
                Add Row
        </button>
    </div>

    <div class="header border-top border-bottom border-right  border-left">
        Type
    </div>
    <div class="border-right header border-top border-bottom">
        Field
    </div>
    <div class="border-right header border-top border-bottom">
        Commodity
    </div>
    <div class="border-right header border-top border-bottom">
        Yield/ac
    </div>
    <div class="header border-top border-bottom border-right">
        Acres
    </div>
    <div class="header border-top border-bottom border-right">
        Rationale
    </div>
    <div class="header border-top border-bottom border-right">
        Actions
    </div>

    <div *ngIf="fieldOptions"
        class="grain-unsdd-inv-tot-cmdty-container"
        style="grid-template-columns: 123px 250px 180px 115px 115px 500px 60px; margin-left: 0px;">
        <verified-yield-amendment *ngFor="let amendment of amendments" [amendment]="amendment"
            [amendmentsFormArray]="amendmentsFormArray" 
            [fieldOptions]="fieldOptions"
            [cropCommodityOptions]="cropCommodityOptions"
            style="display: contents;"></verified-yield-amendment>
    </div>

</div>