<div class="plcy-inv-field-box" [ngStyle]="setTableHeaderStyle()">
    <div class="inventory-header border-left" style="width:115px">Field ID</div>
    <div class="inventory-header" style="width:280px;">Field Address</div>
    <div class="inventory-header" style="width:140px">Legal Description</div>
    <div class="inventory-header" style="width:80px">Is Leased</div>
    <div *ngIf="isCranberry()" class="inventory-header" style="width:150px">Bog Name</div>
    <div *ngIf="isCranberry()" class="inventory-header" style="width:100px">Bog I.D.</div>
    <div class="inventory-header" style="width:80px">Planted <br /> Year</div>
    <div class="inventory-header" style="width:100px">Acres</div>
    <div class="inventory-header" style="width:80px">Quantity <br />Insurable</div>
    <div *ngIf="isCranberry()" class="inventory-header" style="width:100px">MM/YY Bogs Mowed</div>
    <div *ngIf="isCranberry()" class="inventory-header" style="width:100px">MM/YY Bogs Renovated</div>
    <div *ngIf="isCranberry()" class="inventory-header" style="width:100px">Harvested In {{ getCropYear() }} (Y/N)</div>
    <div class="inventory-header" style="width:180px">Variety</div>
    <div *ngIf="showRowSpacing()" class="inventory-header" style="width:80px">Row <br/>Spacing</div>  
    <div *ngIf="showPlantSpacing()" class="inventory-header" style="width:80px">Plant <br/> Spacing</div>
    <div *ngIf="showTotalPlants()" class="inventory-header" style="width:80px">Total Plants</div>
    <div *ngIf="showIsPlantInsured()" class="inventory-header" [ngStyle]="setPlantInsuredStyles()">Plant Insurable</div>

    <div class="inventory-header" style="width:70px;">Manage Planting</div>
    <div class="inventory-header" style="width:75px;">Manage Field</div>
</div>

<div class="plcy-inv-fld-tbl-inner-wrapper" [ngStyle]="setInnerWrapperStyle()">
    <div class="plcy-inv-field-container-green" [ngStyle]="setTableHeaderStyle()">  
        <berries-inventory-field *ngFor="let field of fields" 
            [field]="field"
            [fieldsFormArray]="fieldsFormArray"
            [cropVarietyOptions]="cropVarietyOptions"
            [selectedCommodity]="selectedCommodity"
            [policyId]="policyId">
        </berries-inventory-field>
    </div>
</div>