<div class="plcy-inv-field-box" style="width:1355px;">
    <div class="inventory-header border-left" style="width:115px">Field ID</div>
    <div class="inventory-header" style="width:280px;">Field Address</div>
    <div class="inventory-header" style="width:140px">Legal Description</div>
    <div class="inventory-header" style="width:80px">Is Leased</div>
    <div class="inventory-header" style="width:80px">Planted <br /> Year</div>
    <div class="inventory-header" style="width:80px">Acres</div>
    <div class="inventory-header" style="width:80px">Quantity <br />Insurable</div>
    <div class="inventory-header" style="width:180px">Variety</div>
    <div class="inventory-header" style="width:80px">Row <br/>Spacing</div>  
    <div class="inventory-header" style="width:80px">Plant <br/> Spacing</div>
    <div class="inventory-header" style="width:80px">Total Plants</div>
    <div class="inventory-header" style="width:80px">Plant Insurable</div>

    <!-- TODO -->
    <!-- <div class="inventory-header" style="width:80px;">Hide on Printout</div>
    <div class="inventory-header" style="width:80px;">Manage Planting</div>
    <div class="inventory-header" style="width:75px;">Manage Field</div> -->
</div>

<div class="plcy-inv-fld-tbl-inner-wrapper" style="width:1370px;">
    <div class="plcy-inv-field-container-green" style="width:1355px;">  <!-- class="plcy-inv-field-container-green" -->
        <berries-inventory-field *ngFor="let field of fields" 
            [field]="field"
            [fieldsFormArray]="fieldsFormArray"
            [cropVarietyOptions]="cropVarietyOptions"></berries-inventory-field>
    </div>
</div>