<div class="plcy-inv-cmdty-totals-header"
    style="grid-template-columns: 180px 100px 115px 115px 115px 115px 130px 125px 60px; padding-left: 10px;">

    <div *ngIf="isUnsaved" class="table-header border-top border-left border-right"
        style="grid-column-start: 1; grid-column-end: 10;">
        <span #el matTooltip="" style="margin-left:10px;">
            <mat-icon
                [ngStyle]="{'color':'orangered', 'font-size':'large', 'padding-top': '4px'}">warning_amber</mat-icon>
        </span>
        <span style="color:orangered; font-size: 14px;">
            Harvested Yield and Yield/ac are calculated on save.
        </span>
    </div>

    <div class="table-header border-top border-left" style="text-align: left; padding-left: 6px; padding-top: 8px; background-color: #F5F5FF; grid-column-start: 1; grid-column-end: 7;">
        Commodity Totals
    </div>
    <div class="table-header border-top border-right" style="grid-column-start: 7; grid-column-end: 10; text-align: right; height:40px; padding-top:2px; padding-right: 1px; background-color: #F5F5FF;">
        <button 
            mat-raised-button class="secondary" 
            (click)="goToYieldCalculatorLink()">
                Enter Weights
        </button>
    </div>

    <div class="header border-top border-bottom border-right border-left">
        {{ ( isGrainPolicy() ? "Commodity" : "Type" ) }}
    </div>
    <div class="border-right header border-top border-bottom" style="text-align: center;"
        matTooltip="Acres are rounded to the nearest tenth after the decimal point.">
        Insured Acres
    </div>
    <div class="border-right header border-top border-bottom" style="text-align: center;"
        matTooltip="Acres are rounded to the nearest tenth after the decimal point.">
        Harvested Acres
    </div>
    <div class="border-right header border-top border-bottom" style="text-align: center;"
        matTooltip="Acres are rounded to the nearest tenth after the decimal point.">
        Override Acres
    </div>
    <div class="header border-top border-bottom border-right" style="text-align: center;">
        Production Guarantee
    </div>
    <div class="header border-top border-bottom border-right" style="text-align: center;">
        Harvested Yield
    </div>
    <div class="header border-top border-bottom border-right" style="text-align: center;">
        Override Yield
    </div>
    <div class="header border-top border-bottom border-right" style="text-align: center;">
        Yield/ac
    </div>

    <div class="header border-top border-bottom border-right" style="text-align: center;">
        Actions
    </div>

    <div class="verified-yield-commodities-container"
        style="grid-template-columns: 180px 100px 115px 115px 115px 115px 130px 125px 60px; margin-left: 0px;">
        <verified-yield-commodity *ngFor="let commodity of commodities" 
            [commodity]="commodity"
            [commoditiesFormArray]="commoditiesFormArray"            
            style="display: contents;"></verified-yield-commodity>

    </div>

</div>